{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block header %}
  {% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <span class="govuk-caption-l">Change status and eligibility</span>
      
  <form class="form" action='change-project-status-eligibility-date' method="post">

    {% set guidanceHTML %}
      <p class="govuk-hint">The school's eligibility may have changed if they have had an new Ofsted inspection or started a conversion or transfer since being identified.</p>
      <p class="govuk-hint">You can check the latest eligibility criteria in the <a href="https://www.gov.uk/government/publications/schools-causing-concern--2" target="_blank">support and intervention in schools guidance on GOV.UK (opens in new tab).</a></p>
    {% endset %}

    {% set eligibilityTaperingDateYesHTML %}
      {{ govukDateInput({
          id: "eligibility-tapering-yes-date",
          namePrefix: "eligibility-tapering-yes-date",
          fieldset: {
            legend: {
              text: "Enter date support is due to end (optional)",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "For example, 1 5 2026"
          },
          items: [
            {
              name: "day",
              allowEmpty: false,
              classes: "govuk-input--width-2"
            },
            {
              name: "month",
              allowEmpty: false,
              classes: "govuk-input--width-2"
            },                
            {
              name: "year",
              allowEmpty: false,
              classes: "govuk-input--width-4"
            }
          ]
        }) 
      }}
    {% endset %}

    {% set eligibilityTaperingDateNoHTML %}
      {{ govukDateInput({
          id: "eligibility-tapering-no-date",
          namePrefix: "eligibility-tapering-no-date",
          fieldset: {
            legend: {
              text: "Enter date support is due to end (optional)",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "For example, 1 5 2026"
          },
          items: [
            {
              name: "day",
              allowEmpty: false,
              classes: "govuk-input--width-2"
            },
            {
              name: "month",
              allowEmpty: false,
              classes: "govuk-input--width-2"
            },                
            {
              name: "year",
              allowEmpty: false,
              classes: "govuk-input--width-4"
            }
          ]
        }) 
      }}
    {% endset %}

    <div class="govuk-form-group">

    {{ govukRadios({
      name: "eligibility-decision-answer",
      id: "eligibility-decision-answer",
      fieldset: {
        legend: {
          text: "Is this school eligible for targeted intervention?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        html: guidanceHTML
      },
      items: [
        {
          value: "Eligible",
          text: "Yes",
          conditional: {
            html: eligibilityTaperingDateYesHTML
          }
        },
        {
          value: "Not eligible",
          text: "No",
          conditional: {
            html: eligibilityTaperingDateNoHTML
          }
        }
      ]
    }) }}

    </div>

    {{ govukButton({
      text: "Continue"
    }) }}
  
  </form>

  </div>
</div>

{% endblock %}

{% block footer %}
  {% include "/layouts/rsd-footer.html" %}
{% endblock %}