{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <!--
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
  -->

{% endblock %}

{% block header %}
{% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Cheltenham Spa Primary School</span>
      <h1 class="govuk-heading-l">
        What was the outcome of the inspection?
      </h1>
      <form class="form" action="/outcome-answer" method="post">

        
        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
        name: "outcome-education",
        fieldset: {
        legend: {
          text: "Quality of education",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "Outstanding",
            checked: checked("outcome-education", "Outstanding"),
            text: "Outstanding"
          },
          {
            value: "Good",
            checked: checked("outcome-education", "Good"),
            text: "Good"
          },
          {
            value: "Requires improvement",
            checked: checked("outcome-education", "Requires improvement"),
            text: "Requires improvement"
          },
          {
            value: "Inadequate",
            checked: checked("outcome-education", "Inadequate"),
            text: "Inadequate"
          }
          ]
        }) }}

       

          

            {{ govukRadios({
              name: "outcome-leadership",
              fieldset: {
              legend: {
                text: "Leadership and management",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                {
                  value: "Outstanding",
                  checked: checked("outcome-leadership", "Outstanding"),
                  text: "Outstanding"
                },
                {
                  value: "Good",
                  checked: checked("outcome-leadership", "Good"),
                  text: "Good"
                },
                {
                  value: "Requires improvement",
                  checked: checked("outcome-leadership", "Requires improvement"),
                  text: "Requires improvement"
                },
                {
                  value: "Inadequate",
                  checked: checked("outcome-leadership", "Inadequate"),
                  text: "Inadequate"
                }
                ]
              }) }}

{{ govukButton({
  text: "Save and continue"
}) }}


      </form>

    </div>
  </div>

{% endblock %}

{% block footer %}
{% include "/layouts/rsd-footer.html" %}
{% endblock %}
