{% extends "../includes/form-template.html" %}

{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block beforeContent %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  
  <!--
  <div class="govuk-breadcrumbs"
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
  -->

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">  

    <!--<span class="govuk-caption-l">Cheltenham Spa Primary School</span>-->
    

    {% block formQuestions %}
    <form action="./check-school-details" method="post" novalidate>
        
      {{ xGovukAutocomplete({
        id: "school",
        name: "school",
        allowEmpty: false,
        label: {
          classes: "govuk-label--xl",
          isPageHeading: true,
          text: "Select school"
        },
        hint: {
          text: "Find the school using its name or URN."
        },
        items: [
          { text: "Cheltenham College (104989)" },
          { text: "Cheltenham Ladies College (102746)" },
          { text: "Cheltenham Spa Primary School (100006)" },
          { text: "Cheltenham Spa Secondary School (103871)" }
        ]
       }) }}
          
      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
 
  {% endblock %}

{% endblock %}

{% block footer %}
{% include "/layouts/rsd-footer.html" %}
{% endblock %}