{% extends "layouts/main.html" %}

{# SET CURRENT STATUS #}
{% set currentStatus = "" %}
{% if (data['project-status'] == "Paused") %}
  {% set currentStatus = '<strong class="govuk-tag govuk-tag--yellow">Paused</strong>' %}
{% elif (data['project-status'] == "Stopped") %}
  {% set currentStatus = '<strong class="govuk-tag govuk-tag--red">Stopped</strong>' %}
{% else %}
  {% set currentStatus = '<strong class="govuk-tag govuk-tag--green">In progress</strong>' %}
{% endif %}

{# SET TASK LIST TAGS #}
{% set cannotStartYet %}
  <strong class="govuk-tag govuk-tag--grey">
    Cannot start yet
  </strong>
{% endset %}

{% set cannotProgress %}
<strong class="govuk-tag govuk-tag--grey">
  Cannot progress
</strong>
{% endset %}

{% set notRequired %}
<strong class="govuk-tag govuk-tag--grey">
  Not required
</strong>
{% endset %}

{% set notStarted %}
<strong class="govuk-tag govuk-tag--blue">
  Not started
</strong>
{% endset %}

{% set completed %}
<strong class="govuk-tag govuk-tag--turquoise">
  Completed
</strong>
{% endset %}

{% set inProgress %}
<strong class="govuk-tag govuk-tag--orange">
  In progress
</strong>
{% endset %}

{# SET ACTIVE NAV ITEM #}
{% set NavActive = "task-list" %}

{# The three tasks - 1. Check potential adviser conflicts of interest #}
{% set checkAdviserConflictComplete = "" %}
{% if (data['conflicts-form-sent'] == 'done') and (data['conflicts-of-interest-date-day'] != '') %}
  {% set checkAdviserConflictComplete = "Complete" %}
{% endif %}

{# The three tasks - 2. Send the formal notification #}
{% set sendFormalNotificationComplete = "" %}
{% if (data['draft-email'] == 'done') and (data['add-attachments'] == 'done') and (data['add-recipients'] == 'done') and (data['email-responsible-body'] == 'done') and (data['school-contacted-date-day'] != '') %}
  {% set sendFormalNotificationComplete = "Complete" %}
{% endif %}

{# The three tasks - 3. Record the responsible body's response to the conflict of interest form #}
{% set recordResponsibleBodyReponseComplete = "" %}
{% if (data['response-saved'] == 'done') and (data['school-response-date-day'] != '') %}
  {% set recordResponsibleBodyReponseComplete = "Complete" %}
{% endif %}

{# Check if allocate an adviser is complete or not #}
{% set allocateAnAdviserComplete = "" %}
{% if (data['allocated-adviser-email'] != NULL) and (data['adviser-allocated-date-day'] != '') %}
  {% set allocateAnAdviserComplete = "Complete" %}
{% endif %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set successHTML %}
        <h3 class="govuk-notification-banner__heading">
          Task updated successfully
        </h3>
      {% endset %}

      {{ govukNotificationBanner({
        html: successHTML,
        type: "success",
        classes: "govuk-!-margin-bottom-2"
      }) }}

      {% include "sprint1-Q1-26/includes/status-notification-banner.njk" %}
    
    </div>
  </div>
  
{% endblock %}

{% block content %}
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "/layouts/summary-section.html" %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "/layouts/sub-nav-tabs-all.html" %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">Phase 1: Identifying</h2>
    <h3 class="govuk-heading-m">Before you start</h3>

    <ul class="govuk-task-list">
      
      <li class="govuk-task-list__item govuk-task-list__item--with-link">

        <div class="govuk-task-list__name-and-hint govuk-!-width-two-thirds">
          {# {% if (data['assigned-to'] == NULL) %} #}
            {# Confirm starting eligibility #}
          {# {% else %} #}
            <a class="govuk-link govuk-task-list__link" href="task-list/eligibility-check" aria-describedby="company-details-2-status">
              Confirm starting eligibility
            </a>
          {# {% endif %} #}
        </div>

        <div class="govuk-task-list__status" id="company-details-2-status">
          {# {% if (data['assigned-to'] == NULL) %}
            {% set taskStatusTag = cannotStartYet %}
            {{ taskStatusTag | safe }}
          {% elif (data['project-status'] == "Stopped") or (data['project-status'] == "Paused") %}
            {% set taskStatusTag = cannotProgress %}
            {{ taskStatusTag | safe }}
          {% elif (data['project-status'] == "In progress") and (data['starting-eligibility'] == NULL) %}
            {% set taskStatusTag = notStarted %}
            {{ taskStatusTag | safe }}
          {% else %}
            {% set taskStatusTag = completed %}
            {{ taskStatusTag | safe }}
          {% endif %} #}

          {# {% if (data['starting-eligibility'] == "Yes") %}
            {% set taskStatusTag = completed %}
            {{ taskStatusTag | safe }}
          {% endif %} #}

          {% set taskStatusTag = completed %}
          {{ taskStatusTag | safe }}
        </div>

      </li>

      <li class="govuk-task-list__item govuk-task-list__item--with-link">

        <div class="govuk-task-list__name-and-hint govuk-!-width-two-thirds">
          {% if (data['assigned-to'] == NULL) %}
            Enter the funding history
          {% elif (data['received-funding'] == NULL) or (data['received-funding'] == 'No') %}
            <a class="govuk-link govuk-task-list__link" href="task-list/funding-history" aria-describedby="company-details-2-status">
              Enter the funding history
            </a>
          {% elif (data['received-funding'] != NULL) and (data['funding-complete'] != "done") %}
            <a class="govuk-link govuk-task-list__link" href="task-list/check-funding-details" aria-describedby="company-details-2-status">
              Enter funding history
            </a>
          {% endif %}
        </div>

        <div class="govuk-task-list__status" id="company-details-2-status">
          {% if (data['assigned-to'] == NULL) %}
            {% set taskStatusTag = cannotStartYet %}
            {{ taskStatusTag | safe }}
          {% elif (data['project-status'] == "Stopped") or (data['project-status'] == "Paused") %}
            {% set taskStatusTag = cannotProgress %}
            {{ taskStatusTag | safe }}
          {% elif (data['received-funding'] == NULL) %}
            {% set taskStatusTag = notStarted %}
            {{ taskStatusTag | safe }}
          {% elif (data['received-funding'] == 'No') or (data['received-funding'] == 'Yes') and (data['funding-name'] != NULL) and (data['funding-completed'] == 'done')  %}
            {% set taskStatusTag = completed %}
            {{ taskStatusTag | safe }}
          {% else %}
            {% set taskStatusTag = inProgress %}
            {{ taskStatusTag | safe }}
          {% endif %}
        </div>

      </li>

    </ul>
    
    <h3 class="govuk-heading-m">Begin the project</h3>

    <ul class="govuk-task-list">

      <li class="govuk-task-list__item govuk-task-list__item--with-link">

        <div class="govuk-task-list__name-and-hint govuk-!-width-two-thirds">
          {% if (data['assigned-to'] == NULL) %}
            Make initial contact with the responsible body
          {% else %}
            <a class="govuk-link govuk-task-list__link" href="task-list/make-initial-contact-with-responsible-body" aria-describedby="company-details-2-status">
              Make initial contact with the responsible body
            </a>
          {% endif %}
        </div>

        <div class="govuk-task-list__status" id="company-details-2-status">
          {% if (data['assigned-to'] == NULL) %}
            {% set taskStatusTag = cannotStartYet %}
            {{ taskStatusTag | safe }}
          {% elif (data['project-status'] == "Stopped") or (data['project-status'] == "Paused") %}
            {% set taskStatusTag = cannotProgress %}
            {{ taskStatusTag | safe }}
          {% elif (data['call-responsible-body'] == NULL) and (data['initial-contact-date-day'] == NULL) or (data['initial-contact-date-day'] == '') %}
            {% set taskStatusTag = notStarted %}
            {{ taskStatusTag | safe }}
          {% elif (data['call-responsible-body'] == 'done') and (data['initial-contact-date-day'] != '') %}
            {% set taskStatusTag = completed %}
            {{ taskStatusTag | safe }}
          {% else %}
            {% set taskStatusTag = inProgress %}
            {{ taskStatusTag | safe }}
          {% endif %}
        </div>

      </li>

      <li class="govuk-task-list__item govuk-task-list__item--with-link">

        <div class="govuk-task-list__name-and-hint govuk-!-width-two-thirds">
          {% if (data['assigned-to'] == NULL) %}
            Check potential adviser conflicts of interest
          {% else %}
            <a class="govuk-link govuk-task-list__link" href="task-list/conflicts-of-interest" aria-describedby="company-details-3-hint company-details-3-status">
              Check potential adviser conflicts of interest
            </a>
          {% endif %}
        </div>

        <div class="govuk-task-list__status" id="company-details-3-status">
          {% if (data['assigned-to'] == NULL) %}
            {% set taskStatusTag = cannotStartYet %}
            {{ taskStatusTag | safe }}
          {% elif (data['project-status'] == "Stopped") or (data['project-status'] == "Paused") %}
            {% set taskStatusTag = cannotProgress %}
            {{ taskStatusTag | safe }}  
          {% elif (data['conflicts-form-sent'] == NULL) and (data['conflicts-of-interest-date-day'] == NULL ) %}
            {% set taskStatusTag = notStarted %}
            {{ taskStatusTag | safe }}
          {% elif (data['conflicts-form-sent'] == 'done') and (data['conflicts-of-interest-date-day'] != '') %}
            {% set taskStatusTag = completed %}
            {{ taskStatusTag | safe }}
          {% else %}
            {% set taskStatusTag = inProgress %}
            {{ taskStatusTag | safe }}
          {% endif %}
        </div>

      </li>

      <li class="govuk-task-list__item govuk-task-list__item--with-link">

        <div class="govuk-task-list__name-and-hint govuk-!-width-two-thirds">
          {% if (data['assigned-to'] == NULL) %}
            Send the formal notification
          {% else %}
            <a class="govuk-link govuk-task-list__link" href="task-list/formal-letter-of-notification" aria-describedby="company-details-2-status">
              Send the formal notification
            </a>
          {% endif %}
        </div>

        <div class="govuk-task-list__status" id="company-details-2-status">
          {% if (data['assigned-to'] == NULL) %}
            {% set taskStatusTag = cannotStartYet %}
            {{ taskStatusTag | safe }}
          {% elif (data['project-status'] == "Stopped") or (data['project-status'] == "Paused") %}
            {% set taskStatusTag = cannotProgress %}
            {{ taskStatusTag | safe }}
          {% elif (data['draft-email'] == NULL) and (data['add-attachments'] == NULL) and (data['add-recipients'] == NULL) and (data['email-responsible-body'] == NULL) and (data['school-contacted-date-day'] == NULL) or (data['school-contacted-date-day'] == '') %}
            {% set taskStatusTag = notStarted %}
            {{ taskStatusTag | safe }}
          {% elif (data['draft-email'] == 'done') and (data['add-attachments'] == 'done') and (data['add-recipients'] == 'done') and (data['email-responsible-body'] == 'done') and (data['school-contacted-date-day'] != '') %}
            {% set taskStatusTag = completed %}
            {{ taskStatusTag | safe }}
          {% else %}
            {% set taskStatusTag = inProgress %}
            {{ taskStatusTag | safe }}
          {% endif %}
        </div>

      </li>

      <li class="govuk-task-list__item govuk-task-list__item--with-link">

        <div class="govuk-task-list__name-and-hint govuk-!-width-two-thirds">
          {% if (data['assigned-to'] == NULL) %}
            Record the responsible body's response to the conflict of interest form
          {% else %}
            <a class="govuk-link govuk-task-list__link" href="task-list/record-schools-response" aria-describedby="company-details-2-status">
              Record the responsible body's response to the conflict of interest form
            </a>
          {% endif %}
        </div>

        <div class="govuk-task-list__status" id="company-details-2-status">
          {% if (data['assigned-to'] == NULL) %}
            {% set taskStatusTag = cannotStartYet %}
            {{ taskStatusTag | safe }}
          {% elif (data['project-status'] == "Stopped") or (data['project-status'] == "Paused") %}
            {% set taskStatusTag = cannotProgress %}
            {{ taskStatusTag | safe }}
          {% elif (data['response-saved'] == NULL) and (data['school-response-date-day'] == NULL) or (data['school-response-date-day'] == '') %}
            {% set taskStatusTag = notStarted %}
            {{ taskStatusTag | safe }}
          {% elif (data['response-saved'] == 'done') and (data['school-response-date-day'] != '') %}
            {% set taskStatusTag = completed %}
            {{ taskStatusTag | safe }}
          {% else %}
            {% set taskStatusTag = inProgress %}
            {{ taskStatusTag | safe }}
          {% endif %}
        </div>
      
      </li>

      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        
        <div class="govuk-task-list__name-and-hint govuk-!-width-two-thirds">
          {% if (checkAdviserConflictComplete != "Complete") or (sendFormalNotificationComplete != "Complete") or (recordResponsibleBodyReponseComplete != "Complete") or (data['assigned-to'] == NULL) %}
            Allocate an adviser
          {% else %}
            <a class="govuk-link govuk-task-list__link" href="task-list/allocate-an-adviser" aria-describedby="company-details-4-status">
              Allocate an adviser
            </a>
          {% endif %}
        </div>

        <div class="govuk-task-list__status" id="company-details-4-status">
          {% if (checkAdviserConflictComplete != "Complete") or (sendFormalNotificationComplete != "Complete") or (recordResponsibleBodyReponseComplete != "Complete") or (data['assigned-to'] == NULL) %}
            {% set taskStatusTag = cannotStartYet %}
            {{ taskStatusTag | safe }}
          {% elif (data['project-status'] == "Stopped") or (data['project-status'] == "Paused")%}
            {% set taskStatusTag = cannotProgress %}
            {{ taskStatusTag | safe }}
          {% elif (data['allocated-adviser-email'] == NULL) and (data['adviser-allocated-date-day'] == NULL) %}
            {% set taskStatusTag = notStarted %}
            {{ taskStatusTag | safe }}
          {% elif (data['allocated-adviser-email'] != NULL) and (data['adviser-allocated-date-day'] != '') %}
            {% set taskStatusTag = completed %}
            {{ taskStatusTag | safe }}
          {% else %}
            {% set taskStatusTag = inProgress %}
            {{ taskStatusTag | safe }}
          {% endif %}
        </div>

      </li>

    </ul>

    <h2 class="govuk-heading-l">Phase 2: Initial diagnosis and matching</h2>

    <h3 class="govuk-heading-m">Establish support needs</h3>

    <ul class="govuk-task-list">

      <li class="govuk-task-list__item govuk-task-list__item--with-link">

        <div class="govuk-task-list__name-and-hint govuk-!-width-two-thirds">
          {% if (allocateAnAdviserComplete != "Complete") %}
            Send introductory email
          {% else %}
            <a class="govuk-link govuk-task-list__link" href="task-list/send-introductory-email" aria-describedby="company-details-2-status">
              Send introductory email
            </a>
          {% endif %}
        </div>

        <div class="govuk-task-list__status" id="company-details-2-status">
          {% if (allocateAnAdviserComplete != "Complete") %}
            {% set taskStatusTag = cannotStartYet %}
            {{ taskStatusTag | safe }}
          {% elif (data['project-status'] == "Stopped") or (data['project-status'] == "Paused") or (data['assigned-to'] == NULL) %}
            {% set taskStatusTag = cannotProgress %}
            {{ taskStatusTag | safe }}
          {% elif (data['share-email-template'] == NULL) and (data['remind-the-adviser'] == NULL) and (data['introductory-email-date-day'] == NULL ) or (data['introductory-email-date-day'] == '') %}
            {% set taskStatusTag = notStarted %}
            {{ taskStatusTag | safe }}
          {% elif (data['share-email-template'] == 'done') and (data['remind-the-adviser'] == 'done') and (data['introductory-email-date-day'] != '') %}
            {% set taskStatusTag = completed %}
            {{ taskStatusTag | safe }}
          {% else %}
            {% set taskStatusTag = inProgress %}
            {{ taskStatusTag | safe }}
          {% endif %}
        </div>

      </li>

      <li class="govuk-task-list__item govuk-task-list__item--with-link">

        <div class="govuk-task-list__name-and-hint govuk-!-width-two-thirds">
          {% if (allocateAnAdviserComplete != "Complete") %}
            Arrange advisor's initial visit
          {% else %}
            <a class="govuk-link govuk-task-list__link" href="task-list/arrange-adviser-visit" aria-describedby="company-details-2-status">
              Arrange advisor's initial visit
            </a>
          {% endif %}
        </div>

        <div class="govuk-task-list__status" id="company-details-2-status">
          {% if (allocateAnAdviserComplete != "Complete") %}
            {% set taskStatusTag = cannotStartYet %}
            {{ taskStatusTag | safe }}
          {% elif (data['project-status'] == "Stopped") or (data['project-status'] == "Paused") or (data['assigned-to'] == NULL) %}
            {% set taskStatusTag = cannotProgress %}
            {{ taskStatusTag | safe }}
          {% elif (data['give-note-of-visit-template'] != 'done') and (data['adviser-visit-date-day'] == NULL) or (data['adviser-visit-date-day'] == '') %}
            {% set taskStatusTag = notStarted %}
            {{ taskStatusTag | safe }}
          {% elif (data['give-note-of-visit-template'] == 'done') and (data['adviser-visit-date-day'] != '') %}
            {% set taskStatusTag = completed %}
            {{ taskStatusTag | safe }}
          {% else %}
            {% set taskStatusTag = inProgress %}
            {{ taskStatusTag | safe }}
          {% endif %}
        </div>

      </li>

      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        
        <div class="govuk-task-list__name-and-hint govuk-!-width-two-thirds">
          {% if (allocateAnAdviserComplete != "Complete") %}
            Record date of initial visit
          {% else %}
            <a class="govuk-link govuk-task-list__link" href="task-list/record-date-of-visit" aria-describedby="company-details-3-hint company-details-3-status">
              Record date of initial visit
            </a>
          {% endif %}
        </div>

        <div class="govuk-task-list__status" id="company-details-3-status">
          {% if (allocateAnAdviserComplete != "Complete") %}
            {% set taskStatusTag = cannotStartYet %}
            {{ taskStatusTag | safe }}
          {% elif (data['project-status'] == "Stopped") or (data['project-status'] == "Paused") or (data['assigned-to'] == NULL) %}
            {% set taskStatusTag = cannotProgress %}
            {{ taskStatusTag | safe }}
          {% elif (data['adviser-visit-recorded-date-day'] == NULL) or (data['adviser-visit-recorded-date-day'] == '') %}
            {% set taskStatusTag = notStarted %}
            {{ taskStatusTag | safe }}
          {% elif (data['adviser-visit-recorded-date-day'] != '') or (data['adviser-visit-recorded-date-day'] != NULL) %}
            {% set taskStatusTag = completed %}
            {{ taskStatusTag | safe }}
          {% else %}
            {% set taskStatusTag = inProgress %}
            {{ taskStatusTag | safe }}
          {% endif %}
        </div>

      </li>

      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        
        <div class="govuk-task-list__name-and-hint govuk-!-width-two-thirds">
          {% if (allocateAnAdviserComplete != "Complete") %}
            Complete and save the initial diagnosis assessment
          {% else %}
            <a class="govuk-link govuk-task-list__link" href="task-list/save-assessment-template" aria-describedby="company-details-4-status">
              Complete and save the initial diagnosis assessment
            </a>
          {% endif %}
        </div>

        <div class="govuk-task-list__status" id="company-details-4-status">
          {% if (allocateAnAdviserComplete != "Complete") %}
            {% set taskStatusTag = cannotStartYet %}
            {{ taskStatusTag | safe }}
          {% elif (data['project-status'] == "Stopped") or (data['project-status'] == "Paused") or (data['assigned-to'] == NULL) %}
            {% set taskStatusTag = cannotProgress %}
            {{ taskStatusTag | safe }}
          {% elif (data['talk-to-adviser'] == NULL) and (data['complete-assessment-template'] == NULL) and (data['assessment-template-saved-date-day'] == NULL ) or (data['assessment-template-saved-date-day'] == '') %}
            {% set taskStatusTag = notStarted %}
            {{ taskStatusTag | safe }}
          {% elif (data['talk-to-adviser'] == 'done') and (data['complete-assessment-template'] == 'done') and (data['assessment-template-saved-date-day'] != '') %}
            {% set taskStatusTag = completed %}
            {{ taskStatusTag | safe }}
          {% else %}
            {% set taskStatusTag = inProgress %}
            {{ taskStatusTag | safe }}
          {% endif %}
        </div>

      </li>

      <li class="govuk-task-list__item govuk-task-list__item--with-link">

        <div class="govuk-task-list__name-and-hint govuk-!-width-two-thirds">
          {% if (allocateAnAdviserComplete != "Complete") %}
            Record initial diagnosis decision
          {% else %}
            <a class="govuk-link govuk-task-list__link" href="task-list/record-matching-decision" aria-describedby="company-details-4-status">
              Record initial diagnosis decision
            </a>
          {% endif %}
        </div>

        <div class="govuk-task-list__status" id="company-details-4-status">
          {% if (allocateAnAdviserComplete != "Complete") %}
            {% set taskStatusTag = cannotStartYet %}
            {{ taskStatusTag | safe }}
          {% elif (data['project-status'] == "Stopped") or (data['project-status'] == "Paused") or (data['assigned-to'] == NULL) %}
            {% set taskStatusTag = cannotProgress %}
            {{ taskStatusTag | safe }}
          {% elif (data['school-matched'] == NULL) and (data['school-matched-decision-date-day'] == NULL) or (data['school-matched-decision-date-day'] == '') %}
            {% set taskStatusTag = notStarted %}
            {{ taskStatusTag | safe }}
          {% elif  (data['school-matched'] == "Yes") or (data['school-matched'] == "No") and (data['school-matched-decision-date-day'] != '') %}
            {% set taskStatusTag = completed %}
            {{ taskStatusTag | safe }}
          {% else %}
            {% set taskStatusTag = inProgress %}
            {{ taskStatusTag | safe }}
          {% endif %}
        </div>

      </li>

    </ul>

    <h3 class="govuk-heading-m">Find possible supporting organisation</h3>

    <ul class="govuk-task-list">
      
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        
        <div class="govuk-task-list__name-and-hint govuk-!-width-two-thirds">
          {% if (allocateAnAdviserComplete != "Complete") or (data['school-matched'] == "No") and (data['school-matched-decision-date-day'] != '')%}
            Choose preferred supporting organisation
          {% else %}
            <a class="govuk-link govuk-task-list__link" href="choose-preferred-supporting-org/hybrid/choose-preferred-supporting-organisation" aria-describedby="company-details-2-status">
              Choose preferred supporting organisation
            </a>
          {% endif %}
        </div>

        <div class="govuk-task-list__status" id="company-details-2-status">
          {% if (allocateAnAdviserComplete != "Complete") %}
            {% set taskStatusTag = cannotStartYet %}
            {{ taskStatusTag | safe }}
          {% elif (data['project-status'] == "Stopped") or (data['project-status'] == "Paused") or (data['assigned-to'] == NULL) %}
            {% set taskStatusTag = cannotProgress %}
            {{ taskStatusTag | safe }}
          {% elif (data['school-matched'] == "No") and (data['school-matched-decision-date-day'] != '') %}
            {% set taskStatusTag = notRequired %}
            {{ taskStatusTag | safe }}
          {% elif (data['complete-at2'] == NULL) and (data['so-type'] == NULL) and (data['so-name'] == NULL) and (data['so-contact-added-date-day'] == NULL ) or (data['so-contact-added-date-day'] == '') %}
            {% set taskStatusTag = notStarted %}
            {{ taskStatusTag | safe }}
          {% elif (data['complete-at2'] == 'done') and (data['so-type'] != NULL ) and (data['so-name'] != NULL ) and (data['so-contact-added-date-day'] != '') %}
            {% set taskStatusTag = completed %}
            {{ taskStatusTag | safe }}
          {% else %}
            {% set taskStatusTag = inProgress %}
            {{ taskStatusTag | safe }}
          {% endif %}
        </div>

      </li>

      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        
        <div class="govuk-task-list__name-and-hint govuk-!-width-two-thirds">
          {% if (allocateAnAdviserComplete != "Complete") or (data['school-matched'] == "No") and (data['school-matched-decision-date-day'] != '')%}
            Carry out due diligence on preferred supporting organisation
          {% else %}
            <a class="govuk-link govuk-task-list__link" href="task-list/carry-out-due-diligence" aria-describedby="company-details-2-status">
              Carry out due diligence on preferred supporting organisation
            </a>
          {% endif %}
        </div>

        <div class="govuk-task-list__status" id="company-details-2-status">
          {% if (allocateAnAdviserComplete != "Complete") %}
            {% set taskStatusTag = cannotStartYet %}
            {{ taskStatusTag | safe }}
          {% elif (data['school-matched'] == "No") and (data['school-matched-decision-date-day'] != '') %}
            {% set taskStatusTag = notRequired %}
            {{ taskStatusTag | safe }}
          {% elif (data['project-status'] == "Stopped") or (data['project-status'] == "Paused") or (data['assigned-to'] == NULL) %}
            {% set taskStatusTag = cannotProgress %}
            {{ taskStatusTag | safe }}
          {% elif (data['organisation-capacity'] == NULL) and (data['speak-to-relationship-manager'] == NULL) and (data['talk-to-grant-team'] == NULL) and (data['check-for-vendor-account'] == NULL) and (data['due-diligence-date-day'] == NULL ) or (data['due-diligence-date-day'] == '') %}
            {% set taskStatusTag = notStarted %}
            {{ taskStatusTag | safe }}
          {% elif (data['organisation-capacity'] == 'done') and (data['speak-to-relationship-manager'] == 'done') and (data['talk-to-grant-team'] == 'done') and (data['check-for-vendor-account'] == 'done') and (data['due-diligence-date-day'] != '') %}
            {% set taskStatusTag = completed %}
            {{ taskStatusTag | safe }}
          {% else %}
            {% set taskStatusTag = inProgress %}
            {{ taskStatusTag | safe }}
          {% endif %}
        </div>

      </li>

      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        
        <div class="govuk-task-list__name-and-hint govuk-!-width-two-thirds">
          {% if (allocateAnAdviserComplete != "Complete") or (data['school-matched'] == "No") and (data['school-matched-decision-date-day'] != '') %}
            Record supporting organisation appointment
          {% else %}
            <a class="govuk-link govuk-task-list__link" href="task-list/record-supporting-org-appointment" aria-describedby="company-details-3-hint company-details-3-status">
              Record supporting organisation appointment
            </a>
          {% endif %}
        </div>

        <div class="govuk-task-list__status" id="company-details-3-status">
          {% if (allocateAnAdviserComplete != "Complete") %}
            {% set taskStatusTag = cannotStartYet %}
            {{ taskStatusTag | safe }}
          {% elif (data['school-matched'] == "No") and (data['school-matched-decision-date-day'] != '') %}
            {% set taskStatusTag = notRequired %}
            {{ taskStatusTag | safe }}
          {% elif (data['project-status'] == "Stopped") or (data['project-status'] == "Paused") or (data['assigned-to'] == NULL) %}
            {% set taskStatusTag = cannotProgress %}
            {{ taskStatusTag | safe }}
          {% elif (data['so-approved'] == NULL) and (data['so-approved-date-day'] == NULL) or (data['so-approved-date-day'] == '') %}
            {% set taskStatusTag = notStarted %}
            {{ taskStatusTag | safe }}
          {% elif  (data['so-approved'] != NULL) and (data['so-approved-date-day'] != '') %}
            {% set taskStatusTag = completed %}
            {{ taskStatusTag | safe }}
          {% else %}
            {% set taskStatusTag = inProgress %}
            {{ taskStatusTag | safe }}
          {% endif %}
        </div>

      </li>

      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        
        <div class="govuk-task-list__name-and-hint govuk-!-width-two-thirds">
          {% if (allocateAnAdviserComplete != "Complete") or (data['school-matched'] == "No") and (data['school-matched-decision-date-day'] != '') %}
            Confirm supporting organisation contact details
          {% else %}
            <a class="govuk-link govuk-task-list__link" href="add-supporting-org-contact-details/add-supporting-organisation-contact-details" aria-describedby="">
              Confirm supporting organisation contact details
            </a>
          {% endif %}
        </div>

        <div class="govuk-task-list__status" id="">
          {% if (allocateAnAdviserComplete != "Complete") %}
            {% set taskStatusTag = cannotStartYet %}
            {{ taskStatusTag | safe }}
          {% elif (data['school-matched'] == "No") and (data['school-matched-decision-date-day'] != '') %}
            {% set taskStatusTag = notRequired %}
            {{ taskStatusTag | safe }}
          {% elif (data['project-status'] == "Stopped") or (data['project-status'] == "Paused") or (data['assigned-to'] == NULL) %}
            {% set taskStatusTag = cannotProgress %}
            {{ taskStatusTag | safe }}
          {% elif (data['so-contact-name'] == NULL) and (data['so-contact-email'] == NULL) %}
            {% set taskStatusTag = notStarted %}
            {{ taskStatusTag | safe }}
          {% elif  (data['so-contact-name'] != '') and (data['so-contact-email'] != '') %}
            {% set taskStatusTag = completed %}
            {{ taskStatusTag | safe }}
          {% else %}
            {% set taskStatusTag = inProgress %}
            {{ taskStatusTag | safe }}
          {% endif %}
        </div>

      </li>

    </ul>


    <h2 class="govuk-heading-l">Phase 3: Diagnosis and planning</h2>

    <h3 class="govuk-heading-m">Send planning grant offer letter</h3>

    <ul class="govuk-task-list">

      <li class="govuk-task-list__item govuk-task-list__item--with-link">

        <div class="govuk-task-list__name-and-hint govuk-!-width-two-thirds">
          {% if (allocateAnAdviserComplete != "Complete") or (data['school-matched'] == "No") and (data['school-matched-decision-date-day'] != '') %}
            Request planning grant offer letter
          {% else %}
            <a class="govuk-link govuk-task-list__link" href="task-list/request-planning-grant-offer-letter" aria-describedby="company-details-2-status">
              Request planning grant offer letter
            </a>
          {% endif %}
        </div>

        <div class="govuk-task-list__status" id="company-details-2-status">
          {% if (allocateAnAdviserComplete != "Complete") %}
            {% set taskStatusTag = cannotStartYet %}
            {{ taskStatusTag | safe }}
          {% elif (data['school-matched'] == "No") and (data['school-matched-decision-date-day'] != '') %}
            {% set taskStatusTag = notRequired %}
            {{ taskStatusTag | safe }}
          {% elif (data['project-status'] == "Stopped") or (data['project-status'] == "Paused") or (data['assigned-to'] == NULL) %}
            {% set taskStatusTag = cannotProgress %}
            {{ taskStatusTag | safe }}
          {% elif (data['required-contacts'] == NULL) and (data['confirm-amount'] == NULL) and (data['copy-in-rd'] == NULL) and (data['send-to-gmfu'] == NULL) and (data['planning-grant-letter-requested-date-day'] == NULL) and (data['planning-grant-letter-requested-date-day'] == NULL) %}
            {% set taskStatusTag = notStarted %}
            {{ taskStatusTag | safe }}
          {% elif (data['required-contacts'] == 'done') and (data['confirm-amount'] == 'done') and (data['copy-in-rd'] == 'done') and (data['send-to-gmfu'] == 'done') and (data['planning-grant-letter-requested-date-day'] != '')  %}
            {% set taskStatusTag = completed %}
            {{ taskStatusTag | safe }}
          {% else %}
            {% set taskStatusTag = inProgress %}
            {{ taskStatusTag | safe }}
          {% endif %}
        </div>

      </li>

      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        
        <div class="govuk-task-list__name-and-hint govuk-!-width-two-thirds">
          {% if (allocateAnAdviserComplete != "Complete") or (data['school-matched'] == "No") and (data['school-matched-decision-date-day'] != '') %}
            Confirm planning grant offer letter sent
          {% else %}
            <a class="govuk-link govuk-task-list__link" href="task-list/planning-grant-offer-letter-sent" aria-describedby="company-details-2-status">
              Confirm planning grant offer letter sent
            </a>
          {% endif %}
        </div>

        <div class="govuk-task-list__status" id="company-details-2-status">
          {% if (allocateAnAdviserComplete != "Complete") %}
            {% set taskStatusTag = cannotStartYet %}
            {{ taskStatusTag | safe }}
          {% elif (data['school-matched'] == "No") and (data['school-matched-decision-date-day'] != '') %}
            {% set taskStatusTag = notRequired %}
            {{ taskStatusTag | safe }}
          {% elif (data['project-status'] == "Stopped") or (data['project-status'] == "Paused") or (data['assigned-to'] == NULL) %}
            {% set taskStatusTag = cannotProgress %}
            {{ taskStatusTag | safe }}
          {% elif (data['planning-letter-sent-date-day'] == NULL) or (data['planning-letter-sent-date-day'] == '') %}
            {% set taskStatusTag = notStarted %}
            {{ taskStatusTag | safe }}
          {% elif (data['planning-letter-sent-date-day'] != '') %}
            {% set taskStatusTag = completed %}
            {{ taskStatusTag | safe }}
          {% else %}
            {% set taskStatusTag = inProgress %}
            {{ taskStatusTag | safe }}
          {% endif %}
        </div>

      </li>

    </ul>

    <h3 class="govuk-heading-m">Create the improvement plan</h2>

    <ul class="govuk-task-list">

      <li class="govuk-task-list__item govuk-task-list__item--with-link">

        <div class="govuk-task-list__name-and-hint govuk-!-width-two-thirds">
          {% if (allocateAnAdviserComplete != "Complete") or (data['school-matched'] == "No") and (data['school-matched-decision-date-day'] != '') %}
            Share indicative funding band and the improvement plan template
          {% else %}
            <a class="govuk-link govuk-task-list__link" href="task-list/share-improvement-plan-template" aria-describedby="company-details-2-status">
              Share indicative funding band and the improvement plan template
            </a>
          {% endif %}
        </div>

        <div class="govuk-task-list__status" id="company-details-2-status">
          {% if (allocateAnAdviserComplete != "Complete") %}
            {% set taskStatusTag = cannotStartYet %}
            {{ taskStatusTag | safe }}
          {% elif (data['school-matched'] == "No") and (data['school-matched-decision-date-day'] != '') %}
            {% set taskStatusTag = notRequired %}
            {{ taskStatusTag | safe }}
          {% elif (data['project-status'] == "Stopped") or (data['project-status'] == "Paused") or (data['assigned-to'] == NULL) %}
            {% set taskStatusTag = cannotProgress %}
            {{ taskStatusTag | safe }}
          {% elif (data['indicative-funding-band'] == NULL) and (data['send-template-to-so'] == NULL) and (data['send-template-to-rb'] == NULL) and (data['templates-sent-date-day'] == NULL ) or (data['templates-sent-date-day'] == '') %}
            {% set taskStatusTag = notStarted %}
            {{ taskStatusTag | safe }}
          {% elif (data['indicative-funding-band'] != NULL) and (data['send-template-to-so'] == 'done') and (data['send-template-to-rb'] == 'done') and (data['templates-sent-date-day'] != '') %}
            {% set taskStatusTag = completed %}
            {{ taskStatusTag | safe }}
          {% else %}
            {% set taskStatusTag = inProgress %}
            {{ taskStatusTag | safe }}
          {% endif %}
        </div>

      </li>

      <li class="govuk-task-list__item govuk-task-list__item--with-link">

        <div class="govuk-task-list__name-and-hint govuk-!-width-two-thirds">
          {% if (allocateAnAdviserComplete != "Complete") or (data['school-matched'] == "No") and (data['school-matched-decision-date-day'] != '') %}
            Review the improvement plan and confirm the funding band
          {% else %}
            <a class="govuk-link govuk-task-list__link" href="task-list/review-improvement-plan" aria-describedby="company-details-2-status">
              Review the improvement plan and confirm the funding band
            </a>
          {% endif %}
        </div>

        <div class="govuk-task-list__status" id="company-details-2-status">
          {% if (allocateAnAdviserComplete != "Complete") %}
            {% set taskStatusTag = cannotStartYet %}
            {{ taskStatusTag | safe }}
          {% elif (data['school-matched'] == "No") and (data['school-matched-decision-date-day'] != '') %}
            {% set taskStatusTag = notRequired %}
            {{ taskStatusTag | safe }}
          {% elif (data['project-status'] == "Stopped") or (data['project-status'] == "Paused") or (data['assigned-to'] == NULL) %}
            {% set taskStatusTag = cannotProgress %}
            {{ taskStatusTag | safe }}
          {% elif (data['indicative-funding-band'] == NULL) and (data['review-sip'] == NULL) and (data['send-draft-plans'] == NULL) and (data['confirm-plan-cleared'] == NULL) and (data['improvement-plan-received-date-day'] == NULL) or (data['improvement-plan-received-date-day'] == '') %}
            {% set taskStatusTag = notStarted %}
            {{ taskStatusTag | safe }}
          {% elif (data['indicative-funding-band'] != NULL) and (data['review-sip'] == 'done') and (data['send-draft-plans'] == 'done') and (data['confirm-plan-cleared'] == 'done') and (data['improvement-plan-received-date-day'] != '')  %}
            {% set taskStatusTag = completed %}
            {{ taskStatusTag | safe }}
          {% else %}
            {% set taskStatusTag = inProgress %}
            {{ taskStatusTag | safe }}
          {% endif %}
        </div>

      </li>

      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        
        <div class="govuk-task-list__name-and-hint govuk-!-width-two-thirds">
          {% if (allocateAnAdviserComplete != "Complete") or (data['school-matched'] == "No") and (data['school-matched-decision-date-day'] != '') %}
            Send the agreed improvement plan for approval
          {% else %}
            <a class="govuk-link govuk-task-list__link" href="task-list/send-plan-for-approval" aria-describedby="company-details-3-hint company-details-3-status">
              Send the agreed improvement plan for approval
            </a>
          {% endif %}
        </div>

        <div class="govuk-task-list__status" id="company-details-3-status">
          {% if (allocateAnAdviserComplete != "Complete") %}
            {% set taskStatusTag = cannotStartYet %}
            {{ taskStatusTag | safe }}
          {% elif (data['school-matched'] == "No") and (data['school-matched-decision-date-day'] != '') %}
            {% set taskStatusTag = notRequired %}
            {{ taskStatusTag | safe }}
          {% elif (data['project-status'] == "Stopped") or (data['project-status'] == "Paused") or (data['assigned-to'] == NULL) %}
            {% set taskStatusTag = cannotProgress %}
            {{ taskStatusTag | safe }}
          {% elif (data['save-plan-in-sharepoint'] == NULL) and (data['email-plan-for-approval'] == NULL) %}
            {% set taskStatusTag = notStarted %}
            {{ taskStatusTag | safe }}
          {% elif (data['save-plan-in-sharepoint'] == 'done') and (data['email-plan-for-approval'] == 'done') %}
            {% set taskStatusTag = completed %}
            {{ taskStatusTag | safe }}
          {% else %}
            {% set taskStatusTag = inProgress %}
            {{ taskStatusTag | safe }}
          {% endif %}
        </div>

      </li>

      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        
        <div class="govuk-task-list__name-and-hint govuk-!-width-two-thirds">
          {% if (allocateAnAdviserComplete != "Complete") or (data['school-matched'] == "No") and (data['school-matched-decision-date-day'] != '') %}
            Record improvement plan decision
          {% else %}
            <a class="govuk-link govuk-task-list__link" href="task-list/record-improvement-plan-decision" aria-describedby="company-details-4-status">
              Record improvement plan decision
            </a>
          {% endif %}
        </div>

        <div class="govuk-task-list__status" id="company-details-4-status">
          {% if (allocateAnAdviserComplete != "Complete") %}
            {% set taskStatusTag = cannotStartYet %}
            {{ taskStatusTag | safe }}
          {% elif (data['school-matched'] == "No") and (data['school-matched-decision-date-day'] != '') %}
            {% set taskStatusTag = notRequired %}
            {{ taskStatusTag | safe }}
          {% elif (data['project-status'] == "Stopped") or (data['project-status'] == "Paused") or (data['assigned-to'] == NULL) %}
            {% set taskStatusTag = cannotProgress %}
            {{ taskStatusTag | safe }}
          {% elif (data['plan-approved'] == NULL) and (data['plan-approved-date-day'] == NULL) or (data['plan-approved-date-day'] == '') %}
            {% set taskStatusTag = notStarted %}
            {{ taskStatusTag | safe }}
          {% elif (data['plan-approved'] != NULL) and (data['plan-approved-date-day'] != '') %}
            {% set taskStatusTag = completed %}
            {{ taskStatusTag | safe }}
          {% else %}
            {% set taskStatusTag = inProgress %}
            {{ taskStatusTag | safe }}
          {% endif %}
        </div>

      </li>

      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        
        <div class="govuk-task-list__name-and-hint govuk-!-width-two-thirds">
          {% if (allocateAnAdviserComplete != "Complete") or (data['school-matched'] == "No") and (data['school-matched-decision-date-day'] != '') %}
            Enter improvement plan objectives
          {% elif (data['plan-objective-1'] == NULL) and (data['objectives-completed'] != 'done') %}
            <a class="govuk-link govuk-task-list__link" href="task-list/area-of-improvement" aria-describedby="company-details-2-status">
              Enter improvement plan objectives
            </a>
          {% elif (data['plan-objective-1'] != NULL) and (data['objectives-completed'] != 'done') or (data['objectives-completed'] == 'done') %}
            <a class="govuk-link govuk-task-list__link" href="task-list/review-objectives" aria-describedby="company-details-2-status">
              Enter improvement plan objectives
            </a>
          {% endif %}
        </div>

        <div class="govuk-task-list__status" id="company-details-4-status">
          {% if (allocateAnAdviserComplete != "Complete") %}
            {% set taskStatusTag = cannotStartYet %}
            {{ taskStatusTag | safe }}
          {% elif (data['school-matched'] == "No") and (data['school-matched-decision-date-day'] != '') %}
            {% set taskStatusTag = notRequired %}
            {{ taskStatusTag | safe }}
          {% elif (data['project-status'] == "Stopped") or (data['project-status'] == "Paused") or (data['assigned-to'] == NULL) %}
            {% set taskStatusTag = cannotProgress %}
            {{ taskStatusTag | safe }}
          {% elif (data['plan-objective-1'] == NULL) and (data['objectives-completed'] != 'done') %}
            {% set taskStatusTag = notStarted %}
            {{ taskStatusTag | safe }}
          {% elif (data['plan-objective-1'] != NULL) and (data['objectives-completed'] != 'done') %}
            {% set taskStatusTag = inProgress %}
            {{ taskStatusTag | safe }}
          {% elif (data['plan-objective-1'] != NULL) and (data['objectives-completed'] == 'done') %}
            {% set taskStatusTag = completed %}
            {{ taskStatusTag | safe }}
          {% endif %}
        </div>

      </li>

    </ul>

    <h3 class="govuk-heading-m">Send improvement grant offer letter</h3>

    <ul class="govuk-task-list">

      <li class="govuk-task-list__item govuk-task-list__item--with-link">

        <div class="govuk-task-list__name-and-hint govuk-!-width-two-thirds">
          {% if (allocateAnAdviserComplete != "Complete") or (data['school-matched'] == "No") and (data['school-matched-decision-date-day'] != '') %}
            Request improvement grant offer letter
          {% else %}
            <a class="govuk-link govuk-task-list__link" href="task-list/request-improvement-grant-offer-letter" aria-describedby="company-details-2-status">
              Request improvement grant offer letter
            </a>
          {% endif %}
        </div>

        <div class="govuk-task-list__status" id="company-details-2-status">
          {% if (allocateAnAdviserComplete != "Complete") %}
            {% set taskStatusTag = cannotStartYet %}
            {{ taskStatusTag | safe }}
          {% elif (data['school-matched'] == "No") and (data['school-matched-decision-date-day'] != '') %}
            {% set taskStatusTag = notRequired %}
            {{ taskStatusTag | safe }}
          {% elif (data['project-status'] == "Stopped") or (data['project-status'] == "Paused") or (data['assigned-to'] == NULL) %}
            {% set taskStatusTag = cannotProgress %}
            {{ taskStatusTag | safe }}
          {% elif (data['required-contacts-2'] == NULL) and (data['attach-sip-template'] == NULL) and (data['copy-in-rd-2'] == NULL) and (data['send-to-gmfu-2'] == NULL) and (data['improvement-grant-letter-requested-date-day'] == NULL) or (data['improvement-grant-letter-requested-date-day'] == '') %}
            {% set taskStatusTag = notStarted %}
            {{ taskStatusTag | safe }}
          {% elif (data['required-contacts-2'] == 'done') and (data['attach-sip-template'] == 'done') and (data['copy-in-rd-2'] == 'done') and (data['send-to-gmfu-2'] == 'done') and (data['improvement-grant-letter-requested-date-day'] != '')  %}
            {% set taskStatusTag = completed %}
            {{ taskStatusTag | safe }}
          {% else %}
            {% set taskStatusTag = inProgress %}
            {{ taskStatusTag | safe }}
          {% endif %}
        </div>

      </li>

      <li class="govuk-task-list__item govuk-task-list__item--with-link">

        <div class="govuk-task-list__name-and-hint govuk-!-width-two-thirds">
          {% if (allocateAnAdviserComplete != "Complete") or (data['school-matched'] == "No") and (data['school-matched-decision-date-day'] != '') %}
            Confirm improvement grant offer letter sent
          {% else %}
            <a class="govuk-link govuk-task-list__link" href="task-list/improvement-grant-offer-letter-sent" aria-describedby="company-details-2-status">
              Confirm improvement grant offer letter sent
            </a>
          {% endif %}
        </div>

        <div class="govuk-task-list__status" id="company-details-2-status">
          {% if (allocateAnAdviserComplete != "Complete") %}
            {% set taskStatusTag = cannotStartYet %}
            {{ taskStatusTag | safe }}
          {% elif (data['school-matched'] == "No") and (data['school-matched-decision-date-day'] != '') %}
            {% set taskStatusTag = notRequired %}
            {{ taskStatusTag | safe }}
          {% elif (data['project-status'] == "Stopped") or (data['project-status'] == "Paused") or (data['assigned-to'] == NULL) %}
            {% set taskStatusTag = cannotProgress %}
            {{ taskStatusTag | safe }}
          {% elif (data['improvement-letter-sent-date-day'] == NULL) or (data['improvement-letter-sent-date-day'] == '') %}
            {% set taskStatusTag = notStarted %}
            {{ taskStatusTag | safe }}
          {% elif (data['improvement-letter-sent-date-day'] != '') %}
            {% set taskStatusTag = completed %}
            {{ taskStatusTag | safe }}
          {% else %}
            {% set taskStatusTag = inProgress %}
            {{ taskStatusTag | safe }}
          {% endif %}
        </div>

      </li>

    </ul>

  </div>
{% endblock %}

{% block footer %}
  {% include "/layouts/rsd-footer.html" %}
{% endblock %}

