{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <!--
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
  -->

{% endblock %}

{% block header %}
{% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



    <span class="govuk-caption-l">Cheltenham Spa Primary School</span>
    <h2 class="govuk-heading-l">Change reason the intervention has paused</h2>
    <!--<p>Change the status of a project if targeted intervention work pauses or stops.</p>-->
      
    <form class="form" action='project-status-answers' method="post">

    {% from "govuk/components/radios/macro.njk" import govukRadios %}
    {% from "govuk/components/textarea/macro.njk" import govukTextarea %}
      
    {% set newHtml %}

      {{ govukTextarea({
        name: "new-report-details",
        id: "new-report-details",
        title: "New report details",
        value: data["new-report-details"],
        label: {
          text: "Give details about the new Ofsted judgement."
        }
      }) }}
    {% endset -%}

    {% set appealHtml %}

      {{ govukTextarea({
        name: "appeal-details",
        id: "appeal-details",
        title: "Appeal details",
        value: data["appeal-details"],
        label: {
          text: "Give details about the appeal."
        }
      }) }}
    {% endset -%}

    {% set changeHtml %}

      {{ govukTextarea({
        name: "proposed-change-details",
        id: "proposed-change-details",
        title: "Proposed change details",
        value: data["proposed-change-details"],
        label: {
          text: "Give details about the proposed change."
        }
      }) }}
    {% endset -%}

    {{ govukRadios({
    name: "project-status-paused",
    items: [
    {
      value: "Awaiting new Ofsted judgement",
      text: "Awaiting new Ofsted judgement",
      checked:  data['project-status-paused'] === "Awaiting new Ofsted judgement",
      hint: {
        text: "Ofsted have inspected the school. The report is not yet published on the Ofsted website."
      },
      conditional: {
        html: newHtml
      }
    },
    {
      value: "Ofsted judgement being appealed",
      text: "Ofsted judgement being appealed",
      checked:  data['project-status-paused'] === "Ofsted judgement being appealed",
      hint: {
        text: "The school or its responsible body are appealing Ofsted's most recent inspection result."
      },
      conditional: {
        html: appealHtml
      }
    },
    {
      value: "Structural or governance change proposed",
      text: "Structural or governance change proposed",
      checked:  data['project-status-paused'] === "Structural or governance change proposed",
      hint: {
        text: "The school has begun the process of converting to an academy, transferring to a different trust or another change to its governance structure."
      },
      conditional: {
        html: changeHtml
      }
    }
  ]
}) }}

{{ govukButton({
  text: "Save and continue"
}) }}

</form>

  </div>
</div>
{% endblock %}

{% block footer %}
{% include "/layouts/rsd-footer.html" %}
{% endblock %}