{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block header %}
  {% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Project status</span>
    <h2 class="govuk-heading-l">Check your answers</h2>
  
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Project status 
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['project-status']}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="change-project-status">Change<span class="govuk-visually-hidden"> project status</span></a>
        </dd>
      </div>

      {% if (data['project-status'] == "Paused")%}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reason
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['project-status-paused']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="project-status-paused-change">Change<span class="govuk-visually-hidden"> reason intervention was paused</span></a>
          </dd>
        </div>

        {% if (data['project-status-paused'] == 'Awaiting new Ofsted judgement') %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Details of new Ofsted judgement
          </dt>

          <dd class="govuk-summary-list__value">
            {% if (data['new-report-details'] != '') %}
              {{ data['new-report-details']}}
            {% else %}
              <span data-id="new-report-details" class="empty">Empty</span>
            {% endif %}
          </dd>

          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="project-status-paused-change">Change<span class="govuk-visually-hidden"> reason intervention was paused</span></a>
          </dd>
        </div>
        {% endif %}

        {% if (data['project-status-paused'] == 'Appealing Ofsted judgement') %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Details of appeal
            </dt>

            <dd class="govuk-summary-list__value">
              {% if (data['appeal-details'] != '') %}
                {{ data['appeal-details']}}
              {% else %}
                <span data-id="appeal-details" class="empty">Empty</span>
              {% endif %}
            </dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="project-status-paused-change">Change<span class="govuk-visually-hidden"> reason intervention was paused</span></a>
            </dd>
          </div>
        {% endif %}

        {% if (data['project-status-paused'] == 'Considering structural or governance change') %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Details of proposed change
            </dt>

            <dd class="govuk-summary-list__value">
              {% if (data['proposed-change-details'] != '') %}
                {{ data['proposed-change-details']}}
              {% else %}
                <span data-id="proposed-change-details" class="empty">Empty</span>
              {% endif %}
            </dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="project-status-paused-change">Change<span class="govuk-visually-hidden"> reason intervention was paused</span></a>
            </dd>
          </div>
        {% endif %}

        {% if (data['project-status-paused'] == 'Protecting school staff health and wellbeing') %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Details of proposed change
            </dt>

            <dd class="govuk-summary-list__value">
              {% if (data['proposed-change-details'] != '') %}
                {{ data['proposed-change-details']}}
              {% else %}
                <span data-id="proposed-change-details" class="empty">Empty</span>
              {% endif %}
            </dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="project-status-paused-change">Change<span class="govuk-visually-hidden"> reason intervention was paused</span></a>
            </dd>
          </div>
        {% endif %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of decision
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data | isoDateFromDateInput("intervention-paused-date") | govukDate }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="project-status-paused-date-change">Change<span class="govuk-visually-hidden"> date of decision</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Additional information
          </dt>
          <dd class="govuk-summary-list__value">
            {% if (data['paused-notes'] != '') %}
              {{ data['paused-notes']}}
            {% else %}
              <span data-id="paused-notes" class="empty">Empty</span>
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="project-status-paused-notes-change">Change<span class="govuk-visually-hidden"> additinal information</span></a>
          </dd>
        </div>
      {% endif %}


      {% if (data['project-status'] == "Stopped") and (data['project-status-stopped'] == "Improved Ofsted judgement published") %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reason
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['project-status-stopped']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="project-status-stopped-change">Change<span class="govuk-visually-hidden"> reason intervention was stopped</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Details of new Ofsted judgement
          </dt>
          <dd class="govuk-summary-list__value">
            {% if (data['improved-details'] != '') %}
              {{ data['improved-details']}}
            {% else %}
              <span data-id="improved-details" class="empty">Empty</span>
            {% endif %}  
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="project-status-stopped-change">Change<span class="govuk-visually-hidden"> reason intervention was stopped</span></a>
          </dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of new inspection report
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data | isoDateFromDateInput("new-inspection-report-date") | govukDate }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="new-inspection-report-date-change">Change<span class="govuk-visually-hidden"> date of report</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Additional information
          </dt>
          <dd class="govuk-summary-list__value">
            {% if (data['stopped-notes'] != '') %}
              {{ data['stopped-notes']}}
            {% else %}
              <span data-id="stopped-notes" class="empty">Empty</span>
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="project-status-stopped-notes-change">Change<span class="govuk-visually-hidden"> additinal information</span></a>
          </dd>
        </div>
      {% endif %}

      {% if (data['project-status'] == "Stopped") and (data['project-status-stopped'] == "Structural or governance change approved") %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reason
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['project-status-stopped']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="project-status-stopped-change">Change<span class="govuk-visually-hidden"> reason intervention was stopped</span></a>
          </dd>
        </div>
          
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Details of approved change
          </dt>
          <dd class="govuk-summary-list__value">
            {% if (data['approved-details'] != '') %}
              {{ data['approved-details']}}
            {% else %}
              <span data-id="approved-details" class="empty">Empty</span>
            {% endif %}  
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="project-status-stopped-change">Change<span class="govuk-visually-hidden"> reason intervention was stopped</span></a>
          </dd>
        </div>
          
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of decision
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data | isoDateFromDateInput("intervention-stopped-date") | govukDate }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="project-status-stopped-date-change">Change<span class="govuk-visually-hidden"> date of decision</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Decision maker's name
          </dt>
          <dd class="govuk-summary-list__value">
              {{ data['stopped-decision-maker']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="project-status-stopped-decision-maker-change">Change<span class="govuk-visually-hidden"> decision maker's name</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Decision maker's role
          </dt>
          <dd class="govuk-summary-list__value">
              {{ data['stopped-decision-maker-role']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="project-status-stopped-decision-maker-role-change">Change<span class="govuk-visually-hidden"> decision maker's role</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Additional information
          </dt>
          <dd class="govuk-summary-list__value">
            {% if (data['stopped-notes'] != '') %}
              {{ data['stopped-notes']}}
            {% else %}
              <span data-id="stopped-notes" class="empty">Empty</span>
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="project-status-stopped-notes-change">Change<span class="govuk-visually-hidden"> additinal information</span></a>
          </dd>
        </div>
      {% endif %}

    </dl>
    
    {{ govukButton({ 
      text: "Save", 
      href: "../project-status" }) 
    }}

  </div>
</div>

{% endblock %}

{% block footer %}
  {% include "/layouts/rsd-footer.html" %}
{% endblock %}