{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <!--
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
  -->

{% endblock %}

{% block header %}
{% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block content %}

   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Enter the date the school was informed of the use of information powers",
              href: "#"
            }
          ]
        }) }}


      <span class="govuk-caption-l">Cheltenham Spa Primary School</span>
      <h1 class="govuk-heading-l">
        Enter date the school was informed of the use of information powers
      </h1>

     

      

      <form class="form" action="engagement-concerns" method="post">


        {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

        {{ govukDateInput({
          id: "information-powers-date",
          namePrefix: "information-powers-date",
          hint: {
            text: "For example, 1 7 2024."
          },
        errorMessage: {
         text: "Enter the date the school was informed of the use of information powers"
        },
          items: [
            {
              name: "day",
              value: data["information-powers-date-day"],
              allowEmpty: false,
              classes: "govuk-input--width-2 govuk-input--error"
            },
            {
              name: "month",
              value: data["information-powers-date-month"],
              allowEmpty: false,
              classes: "govuk-input--width-2 govuk-input--error"
            },                
            {
              name: "year",
              value: data["information-powers-date-year"],
              allowEmpty: false,
              classes: "govuk-input--width-4 govuk-input--error"
            }
          ]
        }) }}


      
     

      
      
     
        
        <div class="govuk-button-group">

          <button type="submit" class="govuk-button" data-module="govuk-button">
          Save
          </button>

      
        
         </div>

      </form>

    </div>

  </div>

{% endblock %}

{% block footer %}
{% include "/layouts/rsd-footer.html" %}
{% endblock %}