{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <!--
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
  -->

{% endblock %}

{% block header %}
{% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



    <span class="govuk-caption-l">Cheltenham Spa Primary School</span>
    <h2 class="govuk-heading-l">Enter decision maker's role</h2>
    <!--<p>Change the status of a project if targeted intervention work pauses or stops.</p>-->
      
    <form class="form" action='project-status-answers' method="post">

       

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {% from "govuk/components/input/macro.njk" import govukInput %}

      {% set stoppedroleHtml %}


      {{ govukInput({
        id: "stopped-role-other",
        name: "stopped-decision-maker-role"
      }) }}

      
      {% endset -%}

{{ govukRadios({
  name: "stopped-decision-maker-role",
  items: [
    {
      value: "Director general",
      text: "Director general",
      checked:  data['stopped-decision-maker-role'] === "Director general"
    },
    {
      value: "Regional director",
      text: "Regional director",
      checked:  data['stopped-decision-maker-role'] === "Regional director"
    },
    {
      value: "Deputy director",
      text: "Deputy director",
      checked:  data['stopped-decision-maker-role'] === "Deputy director"
    },
    {
      value: "Grade 6",
      text: "Grade 6",
      checked:  data['stopped-decision-maker-role'] === "Grade 6"
    },
    {
        value: "Other",
        text: "Other",
        checked: data['stopped-decision-maker-role'] === "Other",
        conditional: {
          html: stoppedroleHtml
        }
    }
  ]
}) }}

{{ govukButton({
  text: "Save and continue"
}) }}

</form>

  </div>
</div>
{% endblock %}

{% block footer %}
{% include "/layouts/rsd-footer.html" %}
{% endblock %}