{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block header %}
  {% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Cheltenham Spa Primary School</span>
      <h2 class="govuk-heading-l">Select reason the intervention has stopped</h2>

      <form class="form" action='project-status-stopped-date' method="post">

        {% set improvedHtml %}
          {{ govukTextarea({
            name: "improved-details",
            id: "improved-details",
            title: "Improved details",
            value: data["improved-details"],
            label: {
              text: "Give details about the new Ofsted judgement."
            }
          }) }}
        {% endset -%}

        {% set approvedHtml %}
          {{ govukTextarea({
            name: "approved-details",
            id: "approved-details",
            title: "Approved details",
            value: data["approved-details"],
            label: {
              text: "Give details about the approved changes."
            }
          }) }}
        {% endset -%}

        {{ govukRadios({
          name: "project-status-stopped",
          items: [
          {
            value: "Publication of improved Ofsted judgement",
            text: "Publication of improved Ofsted judgement",
            checked:  data['project-status-stopped'] === "Publication of improved Ofsted judgement",
            hint: {
              text: "Ofsted have inspected the school. The school has sufficently improved and the inspection report is available on the Ofsted website"
            },
            conditional: {
              html: improvedHtml
            }
          },
          {
            value: "Approval of structural or governance change",
            text: "Approval of structural or governance change",
            checked:  data['project-status-stopped'] === "Approval of structural or governance change",
            hint: {
              text: "A regional director has approved a decision for the school to convert to an academy, transfer to a different trust or undergo another change to its governance structure"
            },
            conditional: {
              html: approvedHtml
            }
          }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}

{% block footer %}
  {% include "/layouts/rsd-footer.html" %}
{% endblock %}