{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <!--
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
  -->

{% endblock %}

{% block header %}
{% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if (data['assigned-to'] == NULL) %} 
      {% include "/layouts/task-locked-banner-2.html" %}
      {% elif (data['supporting-organisation-name'] == NULL) or (data['id-number'] == NULL) and (data['supporting-org-chosen-date-day'] == NULL) %} 
      {% include "/layouts/task-locked-banner.html" %}
      {% endif %}

      <span class="govuk-caption-l">Cheltenham Spa Primary School</span>
      <h1 class="govuk-heading-l">
        Carry out due diligence on preferred supporting organisation
      </h1>

   </div>
   </div>

   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="padding-bottom-15">Make sure the organisation can provide the necessary support. You can add a project note if you need to capture any details.</p>



      <form class="form" action="../task-list-locked" method="post">

        
        
        {% from "govuk/components/radios/macro.njk" import govukRadios %}
 
         
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <!--
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h2 class="govuk-fieldset__heading padding-bottom-15">
                Save the school’s response in SharePoint
              </h1>
            </legend>
          -->
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="organisation-capacity" name="organisation-capacity" type="checkbox" value="done" {{checked("organisation-capacity", "done")}}>
                <label class="govuk-label govuk-checkboxes__label" for="organisation-capacity">
                  Check the organisation has capacity and is willing to provide support to this school
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="speak-to-relationship-manager" name="speak-to-relationship-manager" type="checkbox" value="done" {{checked("speak-to-relationship-manager", "done")}}>
                <label class="govuk-label govuk-checkboxes__label" for="speak-to-relationship-manager">
                  Speak to trust relationship manager or local authority lead to check choice
                </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="talk-to-grant-team" name="talk-to-grant-team" type="checkbox" value="done" {{checked("talk-to-grant-team", "done")}}>
                <label class="govuk-label govuk-checkboxes__label" for="talk-to-grant-team">
                  Contact SFSO (Schools Financial Support and Oversight) so that they can complete financial check on supporting organisation.<br>
                  <a href="https://forms.office.com/pages/responsepage.aspx?id=yXfS-grGoU2187O4s0qC-YuBOAolASxHohL1eqzSacxUREk5Mkw2UUZRWUk3R0k2MkZSSTVFOEgxUi4u&route=shorturl" target="_blank">Use the commissioning form (opens in new tab)</a> to raise the request with SFSO.
                </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="check-for-vendor-account" name="check-for-vendor-account" type="checkbox" value="done" {{checked("check-for-vendor-account", "done")}}>
                <label class="govuk-label govuk-checkboxes__label" for="check-for-vendor-account">
                  Check the supporting organisation has a vendor account<br>
                  You can <a href="https://login.microsoftonline.com/common/DeviceAuthTls/reprocess" target="_blank">check if the supporting organisation has a vendor account (opens in new tab)</a> on SharePoint.
                </label>
              </div>

              
        
            </div>
          </fieldset>
        </div>

        <details class="govuk-details margin-top-minus-15">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              How to set up a vendor account
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>The organisation receiving the grant must have a vendor account. They cannot be paid without one.</p>
            <p>They can <a href=https://www.gov.uk/guidance/provide-information-about-your-banking-and-payments-to-dfe" target="_blank">set up a vendor account (opens in new tab)</a> when they provide information about their banking and payments to Department for Education.</p>
            <p>Share the link with them so they can register if needed.</p>
            <p>It can take 15 to 20 days for an account to be created.</p>
          </div>
        </details>


        {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

        {{ govukDateInput({
          id: "due-diligence-date",
          namePrefix: "due-diligence-date",
          fieldset: {
            legend: {
              text: "Enter date due diligence completed",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 1 7 2024."
          },
          items: [
            {
              name: "day",
              value: data["due-diligence-date-day"],
              allowEmpty: false,
              classes: "govuk-input--width-2"
            },
            {
              name: "month",
              value: data["due-diligence-date-month"],
              allowEmpty: false,
              classes: "govuk-input--width-2"
            },                
            {
              name: "year",
              value: data["due-diligence-date-year"],
              allowEmpty: false,
              classes: "govuk-input--width-4"
            }
          ]
        }) }}

        {% if (data['supporting-organisation-name'] != NULL) and (data['id-number'] != NULL) and (data['supporting-org-chosen-date-day'] != NULL) %} 
        {{ govukButton({
        text: "Save and return"
        }) }}
        {% endif %}

      </form>

    </div>

    <!--
    <div class="govuk-grid-column-one-third">

      <h2 class="govuk-heading-m">
      Task notes
      </h2>

     
      <a href="../task-notes/contact-responsible-body.html" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Add a new task note
      </a>
      
      {% if (data['task-note'] != NULL) %}   
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p>10 March 2025
        <strong class="govuk-tag govuk-tag--green">
          New
        </strong>
        <br>
      <strong>Bob Roberts</strong></p>
      <p>{{ data['task-note']}}</p>
      <p>
        <a href="../task-notes/contact-the-school.html">Edit note</a>
      </p>
      <hr class="govuk-section-break govuk-section-break--visible">
      {% endif %}

    </div>
    -->

  </div>


{% endblock %}

{% block footer %}
{% include "/layouts/rsd-footer.html" %}
{% endblock %}
