{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <!--
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
  -->

{% endblock %}

{% block header %}
{% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     

      <span class="govuk-caption-l">Cheltenham Spa Primary School</span>
      <h1 class="govuk-heading-l">
        About this contact
      </h1>


      <p>Provide some additional information about why this contact is being added.</p>
      
      <form class="form" action='contacts-1' method="post">

        
        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        
        {{ govukRadios({
          name: "contact-type",
          fieldset: {
            legend: {
              text: "Which of the following best describes this contact?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Temporary contact",
              text: "Temporary contact",
              checked: data['contact-type'] === "Temporary contact"
            },
            {
              value: "Job share with another contact",
              text: "Job share with another contact",
              checked: data['contact-type'] === "Job share with another contact"
            },
            {
              value: "Best contact",
              text: "Best contact",
              checked: data['contact-type'] === "Best contact"
            },
            {
              value: "Other useful contact",
              text: "Other useful contact",
              checked: data['contact-type'] === "Other useful contact"            }
          ]
        }) }}

   
  {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{{ govukTextarea({
  name: "contact-note",
  id: "contact-note",
  value: data["contact-note"],
  label: {
    text: "Details",
    classes: "govuk-label--m"
  }
}) }}



    

{{ govukButton({
  text: "Add contact"
}) }}
      


      </form>

    </div>
  </div>

{% endblock %}

{% block footer %}
{% include "/layouts/rsd-footer.html" %}
{% endblock %}
