{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <!--
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
  -->

{% endblock %}

{% block header %}
{% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block content %}

   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "You must enter details",
              href: "#"
            }
          ]
        }) }}


      <span class="govuk-caption-l">Cheltenham Spa Primary School</span>
      <h1 class="govuk-heading-l">
        Case study candidates
      </h1>

      <form class="form" action="./case-study-flagged" method="post">

      


      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {% from "govuk/components/textarea/macro.njk" import govukTextarea %}
      
      {% set detailsHtml %}
      {{ govukTextarea({
        name: "case-study-reasons",
        id: "case-study-reasons",
        value: data["case-study-reasons"],
        errorMessage: {
          text: "You must enter details"
        },
        label: {
          text: "Enter details about why this school could be a good candidate for a case study"
        }
      }) }}
      {% endset -%}
      
      {{ govukCheckboxes({
        name: "case-study-candidate",
        id: "case-study-candidate",
        items: [
          {
            value: "Yes",
            checked: data['case-study-candidate'] == "Yes",
            text: "Case study candidate",
            conditional: {
              html: detailsHtml
            }
          }
        ]
      }) }}

        <!--
        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

        {{ govukTextarea({
          name: "case-study-reasons",
          id: "case-study-reasons",
          value: data['case-study-reasons'],
          label: {
            text: "Details",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          hint: {
            text: "Enter details about why this school would be a good candidate for a case study."
            }
          })      
        }}
        -->
        
        <div class="govuk-button-group">

       
          <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and return
          </button>
     

       
        <a class="govuk-link" href="case-study">Cancel</a>
        
         </div>

      </form>

    </div>

  </div>

{% endblock %}

{% block footer %}
{% include "/layouts/rsd-footer.html" %}
{% endblock %}