{% extends "../../includes/form-template.html" %}

{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">  
  
      <span class="govuk-caption-l">Cheltenham Spa Primary School</span>
      <h1 class="govuk-heading-l">
        Enter supporting organisation details
      </h1>

      <form action="confirm-so-trust-details" method="post" novalidate>
        {% block formQuestions %}

          {# Organisation name #}
          {{ govukInput({
            label: {
              text: "Organisation name",
              classes: "govuk-label--m",
              isPageHeading: false
            },
            hint: {
              text: "Enter the name of the trust that will be the supporting organisation"
            },
            id: "so-name",
            name: "so-name",
            value: data['so-name'],
            classes: "govuk-!-width-three-quarters"          
          }) }}

          {# URN #}
          {{ govukInput({
            label: {
              text: "Trust's UKPRN",
              classes: "govuk-label--m",
              isPageHeading: false
            },
            hint: {
              text: "Enter the UKPRN of the trust that will be the supporting organisation"
            },
            id: "so-urn",
            name: "so-urn",
            value: data['so-urn'],
            classes: "govuk-!-width-three-quarters"          
          }) }}

          {# Date confirmed #}
          {{ govukDateInput({
            fieldset: {
              legend: {
                text: "Enter date supporting organisation confirmed",
                classes: "govuk-fieldset__legend--m",
                isPageHeading: false
              }
            },
            hint: {
              text: "For example, 1 7 2024"
            },
            items: [
              {
                name: "Day",
                value: data["so-added-date-day"],
                allowEmpty: false,
                classes: "govuk-input--width-2"
              },
              {
                name: "Month",
                value: data["so-added-date-month"],
                allowEmpty: false,
                classes: "govuk-input--width-2"
              },                
              {
                name: "Year",
                value: data["so-added-date-year"],
                allowEmpty: false,
                classes: "govuk-input--width-4"
              }
            ],
            id: "so-date",
            namePrefix: "so-date"
          }) }}

          <div class="govuk-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
          </div>

        {% endblock %}
      </form>

    </div>
  </div>
{% endblock %}

{% block footer %}
  {% include "/layouts/rsd-footer.html" %}
{% endblock %}