{% extends "layouts/main.html" %}

{% set NavActive = "contacts" %}

{# SET DATA FROM ADD A CONTACT JOURNEY #}

{# Role #}
{% set roleVar = "" %}
{% if (data["otherRoleAnswer"] != "") %}
  {% set roleVar = (data["otherRoleAnswer"]) %}  
{% else %}
  {% set roleVar = (data["role"]) %}
{% endif %}

{# Name #}
{% set nameVar = (data["contact-details-fullName"]) %}

{# Email #}
{% set emailVar = (data["contact-details-email"]) %}

{# Phone #}
{% set phoneVar = (data["contact-details-phoneNumber"]) %}

{# SET UP MACRO #}
{% macro contactCard(role="'role'", name="'name'", email='#', phone="#", sourceType="Last imported", source="Get information about schools", dateType="Imported on", date="15 October 2025") %} 

  {{ govukSummaryList({
    card: {
      title: {
        html: role
      }
    },
    rows: [
      {
        key: {
          text: "Name"
        },
        value: {
          html: name
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "name"
            }
          ]
        }
      },
      {
        key: {
          text: "Email"
        },
        value: {
          html: '<a href="#">' + email + '</a>'
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "email"
            }
          ]
        }
      },
      {
        key: {
          text: "Phone"
        },
        value: {
          text: phone
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "phone number"
            }
          ]
        }
      },
      {
        key: {
          text: sourceType
        },
        value: {
          text: source
        }
      },
      {
        key: {
          html: dateType
        },
        value: {
          text: date
        }
      }
    ]
  }) }}

{% endmacro %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if (data['contact'] != NULL) %}
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
          Contact added
          </h3>
        </div>
      </div>
    {% endif %}
    {% include "/layouts/summary-section.html" %}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "/layouts/sub-nav-tabs-all.html" %}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Contacts</h2>
    {{ govukButton({ text: "Add contact", href: "contacts/add-contact" }) }}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    {# SCHOOL CONTACTS #}
    <h3 class="govuk-heading-m">School contacts</h3>

    {# SCHOOL ADDRESS #}
    {{ govukInsetText({
      classes: "govuk-!-margin-top-0",
      html: "<p class='govuk-body'>
        Cheltenham Spa Primary School<br>
        123 Alstone Lane<br>
        Cheltenham<br>
        Glocestershire<br>
        GL51 1AA
        </p>"
    }) }}

    {# USE MACRO #}
    {{ contactCard(role='Head teacher', name="Claudia Bourne", email="claudia.bourne@cheltenhamprimaryschool.co.uk", phone="01242 555555") }}
    
    {# Manually added #}
    {{ contactCard(role=roleVar, name=nameVar, email=emailVar, phone=phoneVar, sourceType="Added manually", source="today's date", dateType="", date="") }}

  </div> {# End column #}
</div> {# End row #}

{% endblock %}

{% block footer %}
  {% include "/layouts/rsd-footer.html" %}
{% endblock %}