{% extends "layouts/main.html" %}

{% set NavActive = "project-status" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  {% if (data['project-status'] == "Paused") %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-notification-banner govuk-!-margin-bottom-3" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Important
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
              Intervention paused.
            </p>
            <p>Targeted intervention at this school is paused while Ofsted write a new inspection report.</p>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if (data['project-status'] == "Stopped") %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-notification-banner govuk-!-margin-bottom-3" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Important
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
              Intervention stopped.
            </p>
            <p class="govuk-body">Targeted intervention at this school has stopped.</p>
            <p class="govuk-body">The school to will convert, transfer or undergo another type of governance change.</p>
            <p class="govuk-body">You cannot make changes to this project.</p>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "/layouts/summary-section.html" %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "/layouts/sub-nav-tabs-all.html" %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">Project status</h2>

      {% if (data['project-status'] != "Paused") and (data['project-status'] != "Stopped") %}
        <p>Change the status of a project if targeted intervention work pauses or stops.</p>
      {% endif %}

      <div class="govuk-!-margin-top-5">
        {{ govukButton({ 
          text: "Change project status", 
          href: "project-status/change-project-status" }) 
        }}
      </div>

      {% if (data['project-status'] == "Stopped") and (data['project-status-stopped'] == "Publication of improved Ofsted judgement") %}
        
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Status details
            </h2>
          </div>

          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Current status
                </dt>

                <dd class="govuk-summary-list__value">
                  <strong class="govuk-tag govuk-tag--red">
                    {{ data['project-status']}}
                  </strong>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Reason
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['project-status-stopped']}}
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Details
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['improved-details']}}
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of decision
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data | isoDateFromDateInput("intervention-stopped-date") | govukDate }}
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Additional details
                </dt>
                {% if (data['stopped-notes'] != '') %}
                  <dd class="govuk-summary-list__value">
                    {{ data['stopped-notes'] }}
                  </dd>
                {% endif %}
              </div>

            </dl>
          </div>
        </div>

      {% elif (data['project-status'] == "Stopped") and (data['project-status-stopped'] == "Approval of structural or governance change") %}
      
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Status details
          </h2>
        </div>

        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Current status
              </dt>
              <dd class="govuk-summary-list__value">
                <strong class="govuk-tag govuk-tag--red">
                  {{ data['project-status']}}
                </strong>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Reason
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['project-status-stopped']}}
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Details
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['approved-details']}}
              </dd>
            </div>

            {# <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Decision maker's name
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['stopped-decision-maker']}}
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Decision maker's role
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['stopped-decision-maker-role']}}
              </dd>
            </div> #}

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of decision
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data | isoDateFromDateInput("intervention-stopped-date") | govukDate }}
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Additional details
              </dt>
              {% if (data['stopped-notes'] != '') %}
                <dd class="govuk-summary-list__value">
                  {{ data['stopped-notes'] }}
                </dd>
              {% endif %}
            </div>

          </dl>
        </div>
      </div>

      {% elif (data['project-status'] == "Paused") %}

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Status details
            </h2>
          </div>

          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Current status
                </dt>
                <dd class="govuk-summary-list__value">
                  <strong class="govuk-tag govuk-tag--orange">
                    {{ data['project-status']}}
                  </strong>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Reason
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['project-status-paused'] }}
                </dd>
              </div>

              {% if (data['project-status-paused'] == 'Awaiting new Ofsted judgement') %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Details
                  </dt>
                  {% if (data['new-report-details'] != '') %}
                    <dd class="govuk-summary-list__value">
                      {{ data['new-report-details'] }}
                    </dd>
                  {% endif %}
                </div>
              {% endif %}

              {% if (data['project-status-paused'] == 'Appealing Ofsted judgement') %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Details
                  </dt>
                  {% if (data['appeal-details'] != '') %}
                    <dd class="govuk-summary-list__value">
                      {{ data['appeal-details'] }}
                    </dd>
                  {% endif %}
                </div>
              {% endif %}

              {% if (data['project-status-paused'] == 'Considering structural or governance change') %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Details
                  </dt>
                  {% if (data['proposed-change-details'] != '') %}
                    <dd class="govuk-summary-list__value">
                      {{ data['proposed-change-details'] }}
                    </dd>
                  {% endif %}
                </div>
              {% endif %}

              {% if (data['project-status-paused'] == 'Protecting school staff health and wellbeing') %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Details
                  </dt>
                  {% if (data['protection-details'] != '') %}
                    <dd class="govuk-summary-list__value">
                      {{ data['protection-details'] }}
                    </dd>
                  {% endif %}
                </div>
              {% endif %}

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of decision
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data | isoDateFromDateInput("intervention-paused-date") | govukDate }}
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Additional details
                </dt>
                {% if (data['paused-notes'] != '') %}
                  <dd class="govuk-summary-list__value">
                    {{ data['paused-notes'] }}
                  </dd>
                {% endif %}
              </div>

            </dl>
          </div>
        </div>

      {% else %}

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Status details
          </h2>
        </div>

        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Current status
              </dt>
              <dd class="govuk-summary-list__value">
                <strong class="govuk-tag govuk-tag--green">
                  In progress
                </strong>
              </dd>
            </div>
            </dl>
        </div>
      </div>

      {% endif %}

    </div>
  </div>


{% endblock %}

{% block footer %}
  {% include "/layouts/rsd-footer.html" %}
{% endblock %}
