{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block beforeContent %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <!--
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
  -->

{% endblock %}

{% block content %}







  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
      {% set html %}
  <p class="govuk-notification-banner__heading">
    This school is not eligible for targeted support at this time.
  </p>
{% endset %}

{{ govukNotificationBanner({
  html: html
}) }}


      <span class="govuk-caption-xl">Cheltenham Spa Primary School</span>
      <h1 class="govuk-heading-xl">
        Not eligible
      </h1>

      <p>
        This school is not currently eligible for targeted support.
      </p>

      <h2 class="govuk-heading-m">
       Options
      </h1>

      <p>
        The options for this school include...
      </p>

      <p>
        <a href="../project-list">Return to the main project list</a>
      </p>

    </div>

    


  </div>

{% endblock %}

{% block footer %}
{% include "/layouts/rsd-footer.html" %}
{% endblock %}
