{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block header %}
{% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block content %}

   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <div class="govuk-panel govuk-panel--confirmation margin-bottom-30">
            <h1 class="govuk-panel__title">
              Mandation recorded
            </h1>
            
            <div class="govuk-panel__body">
              Cheltenham Spa Primary School
            </div>
     
        </div>

        <p>You have recorded the escalation of an engagement conern. The school will be mandated to take part in targeted intervention.</p>

        <h2 class="govuk-heading-m margin-top-30">
        Update the mobile tracker
        </h2>

        <p>You must ask SOPU to <a href="https://educationgovuk.sharepoint.com/sites/lvewp00030/SitePages/Commissioning%20Form.aspx">record the use of a termination warning notice or notice to enter into arrangements in the tracker</a>.</p>
        
        <h2 class="govuk-heading-m">
        Publish the notice on GOV.UK
        </h2>

        <p>You must also <a href="https://educationgovuk.sharepoint.com/sites/lvewp00030/SitePages/Commissioning%20Form.aspx">send the approved notice and the regional director's approval to SOPU</a> (Schools operational practice unit) using the commissioning form.</p>

        <p>They will publish the notice on GOV.UK.</p>

        {{ govukButton({
            text: "View engagement concern",
            classes: "govuk-button--secondary",
            href: "engagement-concerns"
          }) }}
      

        
       

    </div>

  </div>

{% endblock %}

{% block footer %}
{% include "/layouts/rsd-footer.html" %}
{% endblock %}