{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <!--
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
  -->

{% endblock %}

{% block header %}
{% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



    <span class="govuk-caption-l">Cheltenham Spa Primary School</span>
    <h1 class="govuk-heading-l">Change project status</h1>
    <p>Change the status of a project if targeted intervention work pauses or stops.</p>
      
    <form class="form" action='project-status-answer' method="post">



        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="project-status" name="project-status" type="radio" checked value="In progress">
                  <label class="govuk-label govuk-radios__label" for="project-status">
                    In progress
                  </label>
                  <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                    Work to support the school through targeted intervention has begun and is progressing
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="project-status-2" name="project-status" type="radio" value="Paused">
                  <label class="govuk-label govuk-radios__label" for="project-status-2">
                    Paused
                  </label>
                  <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                    Work is temporarily paused while a decision is made about the school's eligibility
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="project-status-3" name="project-status" type="radio" value="Stopped">
                  <label class="govuk-label govuk-radios__label" for="project-status-3">
                    Stopped
                  </label>
                  <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                    Work has ended because the school has improved sufficiently
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

    

    {{ govukButton({
      text: "Save and continue"
    }) }}
    
    </form>

  </div>
</div>
{% endblock %}

{% block footer %}
{% include "/layouts/rsd-footer.html" %}
{% endblock %}