{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <!--
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
  -->

{% endblock %}

{% block header %}
{% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Cheltenham Spa Primary School</span>
      <h1 class="govuk-heading-xl">
        Select the current level of engagement by this school
      </h1>



   </div>
   </div>

   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="./engagement-history" method="post">

       

        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}
        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "engagement-level-2",
          hint: {
            text: "Some guidance around levels of engagement here."
          },
          items: [
          {
            value: "Outstanding",
            text: "Outstanding",
            checked:  data['engagement-level-2'] === "Outstanding"
          },
          {
            value: "Frankly could be better",
            text: "Frankly could be better",
            checked:  data['engagement-level-2'] === "Frankly could be better"
          },
          {
            value: "Diabolical",
            text: "Diabolical",
            checked:  data['engagement-level-2'] === "Diabolical"
          }
          ]
        }) }}

        {{ govukTextarea({
          name: "engagement-note-2",
          id: "engagement-note-2",
          value: data['engagement-note-2'],
          label: {
            text: "Comments",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Additional hint text here if needed."
            }
          })      
        }}


       

     
        
        <div class="govuk-button-group">

       
          <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
          </button>
       

        {% if (data['project-note'] != NULL) %}
          <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">
          Delete
          </button>
        {% endif %}
       
        
         </div>

      </form>

    </div>

  </div>

{% endblock %}

{% block footer %}
{% include "/layouts/rsd-footer.html" %}
{% endblock %}