{% extends "/layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block header %}
  {% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Cheltenham Spa Primary School</span>
      <h1 class="govuk-heading-l">
        Confirm preferred supporting organisation details
      </h1>

    </div>
   </div>

   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../../task-list-task-updated" method="post">

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Supporting organisation
            </h2>

            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action"> 
                <a class="govuk-link" href="change-preferred-supporting-organisation">
                  Change<span class="govuk-visually-hidden"> supporting organisation</span>
                </a>
              </li>
            </ul>
          </div>

          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Local authority
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['so-name'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  LA name code
                </dt>
                <dd class="govuk-summary-list__value">
                  301
                </dd>
              </div>
              {# <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Address
                </dt>
                <dd class="govuk-summary-list__value">
                  55 Alstone Lane<br>
                  Cheltenham<br>
                  Gloucestershire<br>
                  GL51 9XY
                </dd>
              </div> #}

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Source
                </dt>
                <dd class="govuk-summary-list__value">
                  Get information about schools
                </dd>
              </div>

            </dl>
          </div>
          
        </div>

        {{ govukDateInput({
          id: "so-contact-added-date",
          namePrefix: "so-contact-added-date",
          allowEmpty: false,
          fieldset: {
            legend: {
              text: "Enter date preferred supporting organisation was identified",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 1 7 2024."
          },
          items: [
            {
              name: "day",
              value: data["so-contact-added-date-day"],
              allowEmpty: false,
              classes: "govuk-input--width-2"
            },
            {
              name: "month",
              value: data["so-contact-added-date-month"],
              allowEmpty: false,
              classes: "govuk-input--width-2"
            },                
            {
              name: "year",
              value: data["so-contact-added-date-year"],
              allowEmpty: false,
              classes: "govuk-input--width-4"
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and return"
          }) }}
        </div>

      </form>

    </div>

  </div>

{% endblock %}

{% block footer %}
  {% include "/layouts/rsd-footer.html" %}
{% endblock %}
