{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <!--
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
  -->

{% endblock %}

{% block header %}
{% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block content %}

   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="./project-note-added" method="post">

        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

        {{ govukTextarea({
          name: "project-note",
          id: "project-note",
          value: data['project-note'],
          label: {
            text: "Enter note",
            classes: "govuk-label--xl",
            isPageHeading: true
          },
          hint: {
            text: "Do not include personal or financial information."
            }
          })      
        }}
        
        <div class="govuk-button-group">

        {% if (data['project-note'] != NULL) %}
          <button type="submit" class="govuk-button" data-module="govuk-button">
          Save note
          </button>
        {% else %}
          <button type="submit" class="govuk-button" data-module="govuk-button">
          Add note
          </button>
        {% endif %}

        {% if (data['project-note'] != NULL) %}
          <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">
          Delete
          </button>
        {% endif %}
        <a class="govuk-link" href="project-notes">Cancel</a>
        
         </div>

      </form>

    </div>

  </div>

{% endblock %}

{% block footer %}
{% include "/layouts/rsd-footer.html" %}
{% endblock %}