{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <!--
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
  -->

{% endblock %}

{% block header %}
{% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block content %}

   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Cheltenham Spa Primary School</span>
      <h1 class="govuk-heading-l">
        Record use of information powers
      </h1>

      <p>Information powers can be used to compel a school to share information the department needs.</p>

      <details class="govuk-details margin-top-15">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            How to use information powers
          </span>
        </summary>
        <div class="govuk-details__text">
         
          <p>To use information powers, you must email the school and inform them that the department is going to use the powers.</p>
          <p>For example, use a phrase like "Under information powers, then..."</p>
        </div>
      </details>






     

      <form class="form" action="engagement-concerns" method="post">
      
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="information-powers-hint">
          
          {% from "govuk/components/radios/macro.njk" import govukRadios %}
            {% from "govuk/components/textarea/macro.njk" import govukTextarea %}
            


           
          
            {{ govukTextarea({
              name: "information-powers-details",
              id: "information-powers-details",
              label: {
                text: "Enter details",
                classes: "govuk-label--m",
                isPageHeading: true
              },
              value: data["information-powers-details"],
              hint: {
                text: "Describe why and how the powers have been used."
              }
            }) }}

            {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

        {{ govukDateInput({
          id: "information-powers-date",
          namePrefix: "information-powers-date",
          fieldset: {
            legend: {
              text: "Enter date the school was informed of the use of information powers",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 1 7 2024."
          },
          items: [
            {
              name: "day",
              value: data["information-powers-date-day"],
              allowEmpty: false,
              classes: "govuk-input--width-2"
            },
            {
              name: "month",
              value: data["information-powers-date-month"],
              allowEmpty: false,
              classes: "govuk-input--width-2"
            },                
            {
              name: "year",
              value: data["information-powers-date-year"],
              allowEmpty: false,
              classes: "govuk-input--width-4"
            }
          ]
        }) }}
         
            
            
        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{{ govukCheckboxes({
  name: "stop-info-powers",
  fieldset: {
    legend: {
      text: "Remove information powers",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "ended",
      text: "Information powers removed",
      checked: data['stop-info-powers'] == "ended"
    }
  ]
}) }}










      

        
        <div class="govuk-button-group">

          <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and return
          </button>

          {% if (data['engagement-concern-2'] == NULL) %}
          <a class="govuk-link" href="engagement-concerns">Cancel</a>
          {% endif %}
         </div>

      </form>

    </div>

  </div>

{% endblock %}

{% block footer %}
{% include "/layouts/rsd-footer.html" %}
{% endblock %}