{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <!--
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
  -->

{% endblock %}

{% block header %}
{% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block content %}

   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
        {
        text: "You must select which concern the information powers are related to",
        href: "#"
            }
        ]
        }) }}


      <span class="govuk-caption-l">Information powers</span>
      <h1 class="govuk-heading-l">
        Select the relevant concern
      </h1>

      <form class="form" action="./record-information-powers" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/date-input/macro.njk" import govukDateInput %}
        
    
          {{ govukRadios({
            idPrefix: "ip-concern",
            name: "ip-concern",
            items: [
            {
                value: "Concern-1",
                hint: {
                    text: "Recorded on 1 March 2025."
                },
                checked: data['ip-concern'] === "Concern-1",
                text: data['engagement-concern-summary']
            },
            {
                value: "Concern-2",
                hint: {
                  text: "Recorded on 12 November 2025."
                },
                checked:  data['ip-concern'] === "Concern-2",
                text: data['engagement-concern-summary-2']
            }
            ],
            errorMessage: {
              text: "You must select which concern the information powers are related to"
            }
          }) }}

        <div class="govuk-button-group">

       
          <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
          </button>

          
          <a class="govuk-link" href="engagement-concerns">Cancel</a>
          
         </div>

      </form>

    </div>

  </div>

{% endblock %}

{% block footer %}
{% include "/layouts/rsd-footer.html" %}
{% endblock %}