{% extends "layouts/main.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block beforeContent %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <!--
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
  -->

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "/layouts/summary-section.html" %}
    
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      
      {% include "/layouts/sub-nav-tabs-task-list.html" %}
      
    </div>
  </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">Task list</h2>

      <!--
      Best approach: {{ data['discuss-best-approach']}}<br>
      Email responsible body: {{ data['email-responsible-body']}}<br>
      School contacted date: {{ data['school-contacted-date-day']}}<br>

      {% if (data['discuss-best-approach'] == NULL) %}
      THIS DISPLAYS IF NOT STARTED - Best approach is NULL
      {% endif %}
      <br>

      {% if (data['email-responsible-body'] == NULL) %}
      THIS DISPLAYS IF NOT STARTED - Email responsible body is NULL
      {% endif %}
      <br>

      {% if ((data['school-contacted-date-day'] == NULL) or (data['school-contacted-date-day'] == '')) %}
      THIS DISPLAYS IF NOT STARTED - School contacted date is NULL
      {% endif %}
      <br>
      -->

      

      <!--
      <p>
      Email address: {{ data['allocated-adviser-email']}}<br>
      Date day: {{ data['adviser-allocated-date-day']}}
      </p>
      -->


      <h2 class="govuk-heading-m">Before you start</h2>


  

      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="task-list/eligibility-check" aria-describedby="company-details-2-status">
              Confirm eligibility
            </a>
          </div>
          <div class="govuk-task-list__status" id="company-details-2-status">
            {% if (data['eligible'] == NULL) %}
            <strong class="govuk-tag govuk-tag--blue">
              Not started
            </strong>
            {% else %}
            <strong class="govuk-tag govuk-tag--turquoise">
              Completed
            </strong>
            {% endif %}
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            {% if (data['received-funding'] == NULL) or (data['received-funding'] == 'No') %}
            <a class="govuk-link govuk-task-list__link" href="task-list/funding-history" aria-describedby="company-details-2-status">
              Enter funding history
            </a>
            {% elif (data['received-funding'] != NULL) and (data['funding-complete'] != "done") %}
            <a class="govuk-link govuk-task-list__link" href="task-list/check-funding-details" aria-describedby="company-details-2-status">
              Enter funding history
            </a>
            {% endif %}
          </div>
          <div class="govuk-task-list__status" id="company-details-2-status">
            {% if (data['received-funding'] == NULL) %}
            <strong class="govuk-tag govuk-tag--blue">
              Not started
            </strong>
            {% elif (data['received-funding'] == 'No') or ((data['received-funding'] == 'Yes') and (data['funding-name'] != NULL) and (data['funding-completed'] == 'done'))  %}
            <strong class="govuk-tag govuk-tag--turquoise">
              Completed
            </strong>
            {% else %}
            <strong class="govuk-tag govuk-tag--orange">
              In progress
            </strong>
            {% endif %}
          </div>
        </li>
        <!--
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="task-list/support-history" aria-describedby="company-details-2-status">
              Enter support history
            </a>
          </div>
          <div class="govuk-task-list__status" id="company-details-2-status">
            <strong class="govuk-tag govuk-tag--blue">
              Not started
            </strong>
          </div>
        </li>
        -->
      </ul>





      <h3 class="govuk-heading-m">Begin the project</h3>

      <ul class="govuk-task-list">

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="task-list/contact-responsible-body" aria-describedby="company-details-2-status">
              Contact the responsible body
            </a>
          </div>
          <div class="govuk-task-list__status" id="company-details-2-status">
            {% if (data['discuss-best-approach'] == NULL) and (data['email-responsible-body'] == NULL) and ((data['school-contacted-date-day'] == NULL) or (data['school-contacted-date-day'] == '')) %}
            <strong class="govuk-tag govuk-tag--blue">
              Not started
            </strong>
            {% elif (data['discuss-best-approach'] == 'done') and (data['email-responsible-body'] == 'done') and (data['school-contacted-date-day'] != '') %}
            <strong class="govuk-tag govuk-tag--turquoise">
              Completed
            </strong>
            {% else %}
            <strong class="govuk-tag govuk-tag--orange">
              In progress
            </strong>
            {% endif %}
          </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="task-list/record-schools-response" aria-describedby="company-details-2-status">
              Record the school's response
            </a>
          </div>
          <div class="govuk-task-list__status" id="company-details-2-status">
            {% if (data['accepted-support'] == NULL) and (data['response-saved'] == NULL) and ((data['school-response-date-day'] == NULL) or (data['school-response-date-day'] == '')) %}
            <strong class="govuk-tag govuk-tag--blue">
              Not started
            </strong>
            {% elif  (data['accepted-support'] != NULL) and (data['response-saved'] == 'done') and (data['school-response-date-day'] != '') %}
            <strong class="govuk-tag govuk-tag--turquoise">
              Completed
            </strong>
            {% else %}
            <strong class="govuk-tag govuk-tag--orange">
              In progress
            </strong>
            {% endif %}
        </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="task-list/conflicts-of-interest" aria-describedby="company-details-3-hint company-details-3-status">
              Check potential adviser conflicts of interest
            </a>
            <!--
            <div id="company-details-3-hint" class="govuk-task-list__hint">
              Include 5 years of the company’s relevant financial information
            </div>
            -->
          </div>
          <div class="govuk-task-list__status" id="company-details-3-status">
            
            {% if (data['conflicts-form-sent'] == NULL) and (data['conflicts-form-back'] == NULL) and (data['conflicts-form-saved'] == NULL) and ((data['conflicts-of-interest-date-day'] == NULL ) or (data['conflicts-of-interest-date-day'] == '')) %}
            <strong class="govuk-tag govuk-tag--blue">
              Not started
            </strong>
            {% elif (data['conflicts-form-sent'] == 'done') and (data['conflicts-form-back'] == 'done') and (data['conflicts-form-saved'] == 'done') and (data['conflicts-of-interest-date-day'] != '') %}
            <strong class="govuk-tag govuk-tag--turquoise">
              Completed
            </strong>
            {% else %}
            <strong class="govuk-tag govuk-tag--orange">
              In progress
            </strong>
            {% endif %}

          </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="task-list/allocate-an-adviser" aria-describedby="company-details-4-status">
              Allocate an adviser
            </a>
          </div>



          <div class="govuk-task-list__status" id="company-details-4-status">

            <!--
            {% if (data['allocated-adviser-email'] == NULL) and (data['adviser-allocated-date-day'] == NULL) %}
            <strong class="govuk-tag govuk-tag--blue">
              Not started
            </strong>
           
            {% elif ((data['allocated-adviser-email'] == NULL) and (data['adviser-allocated-date-day'] != '')) or ((data['allocated-adviser-email'] != NULL) and (data['adviser-allocated-date-day'] == '')) %}
            <strong class="govuk-tag govuk-tag--orange">
              In progress
            </strong>
            {% endif %}

            {% if (data['allocated-adviser-email'] != NULL) and (data['adviser-allocated-date-day'] != '') %}
            <strong class="govuk-tag govuk-tag--turquoise">
              Completed
            </strong>
            {% endif %}
            -->
            

            
            {% if ((data['allocated-adviser-email'] == NULL) or (data['allocated-adviser-email'] == '')) and ((data['adviser-allocated-date-day'] == NULL) or (data['adviser-allocated-date-day'] == '')) %}
            <strong class="govuk-tag govuk-tag--blue">
              Not started
            </strong>

            {% elif (data['allocated-adviser-email'] != NULL) and (data['adviser-allocated-date-day'] != '') %}
            <strong class="govuk-tag govuk-tag--turquoise">
              Completed
            </strong>
         
            {% else %}
            <strong class="govuk-tag govuk-tag--orange">
              In progress
            </strong>
            {% endif %}
          

            
     


            
           

           
          
            
          </div>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Establish support needs</h2>

      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="task-list/send-introductory-email" aria-describedby="company-details-2-status">
              Send introductory email
            </a>
          </div>
          <div class="govuk-task-list__status" id="company-details-2-status">
            {% if (data['share-email-template'] == NULL) and (data['remind-the-adviser'] == NULL) and ((data['introductory-email-date-day'] == NULL ) or (data['introductory-email-date-day'] == '')) %}
            <strong class="govuk-tag govuk-tag--blue">
              Not started
            </strong>
            {% elif (data['share-email-template'] == 'done') and (data['remind-the-adviser'] == 'done') and (data['introductory-email-date-day'] != '') %}
            <strong class="govuk-tag govuk-tag--turquoise">
              Completed
            </strong>
            {% else %}
            <strong class="govuk-tag govuk-tag--orange">
              In progress
            </strong>
            {% endif %}
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="task-list/arrange-adviser-visit" aria-describedby="company-details-2-status">
              Arrange advisor visit to school
            </a>
          </div>
          <div class="govuk-task-list__status" id="company-details-2-status">
            {% if ((data['adviser-visit-date-day'] == NULL) or (data['adviser-visit-date-day'] == '')) %}
            <strong class="govuk-tag govuk-tag--blue">
              Not started
            </strong>

            {% elif (data['adviser-visit-date-day'] != '') %}
            <strong class="govuk-tag govuk-tag--turquoise">
              Completed
            </strong>
         
            {% else %}
            <strong class="govuk-tag govuk-tag--orange">
              In progress
            </strong>
            {% endif %}
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="task-list/record-date-of-visit" aria-describedby="company-details-3-hint company-details-3-status">
              Record date of visit to school
            </a>
          </div>
          <div class="govuk-task-list__status" id="company-details-3-status">
            {% if ((data['adviser-visit-recorded-date-day'] == NULL) or (data['adviser-visit-recorded-date-day'] == '')) %}
            <strong class="govuk-tag govuk-tag--blue">
              Not started
            </strong>

            {% elif (data['adviser-visit-recorded-date-day'] != '') %}
            <strong class="govuk-tag govuk-tag--turquoise">
              Completed
            </strong>
         
            {% else %}
            <strong class="govuk-tag govuk-tag--orange">
              In progress
            </strong>
            {% endif %}
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="task-list/save-note-of-visit" aria-describedby="company-details-4-status">
              Write and save the Note of Visit
            </a>
          </div>
          <div class="govuk-task-list__status" id="company-details-4-status">
            {% if (data['give-note-of-visit-template'] == NULL) and (data['ask-adviser-for-notes'] == NULL) and ((data['note-of-visit-saved-date-day'] == NULL ) or (data['note-of-visit-saved-date-day'] == '')) %}
            <strong class="govuk-tag govuk-tag--blue">
              Not started
            </strong>
            {% elif (data['give-note-of-visit-template'] == 'done') and (data['ask-adviser-for-notes'] == 'done') and (data['note-of-visit-saved-date-day'] != '') %}
            <strong class="govuk-tag govuk-tag--turquoise">
              Completed
            </strong>
            {% else %}
            <strong class="govuk-tag govuk-tag--orange">
              In progress
            </strong>
            {% endif %}
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="task-list/save-assessment-template" aria-describedby="company-details-4-status">
              Complete and save the assessment template
            </a>
          </div>
          <div class="govuk-task-list__status" id="company-details-4-status">
            {% if (data['talk-to-adviser'] == NULL) and (data['complete-assessment-template'] == NULL) and ((data['assessment-template-saved-date-day'] == NULL ) or (data['assessment-template-saved-date-day'] == '')) %}
            <strong class="govuk-tag govuk-tag--blue">
              Not started
            </strong>
            {% elif (data['talk-to-adviser'] == 'done') and (data['complete-assessment-template'] == 'done') and (data['assessment-template-saved-date-day'] != '') %}
            <strong class="govuk-tag govuk-tag--turquoise">
              Completed
            </strong>
            {% else %}
            <strong class="govuk-tag govuk-tag--orange">
              In progress
            </strong>
            {% endif %}
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="task-list/record-matching-decision" aria-describedby="company-details-4-status">
              Record matching decision
            </a>
          </div>
          <div class="govuk-task-list__status" id="company-details-4-status">
            {% if (data['school-matched'] == NULL) and ((data['school-matched-decision-date-day'] == NULL) or (data['school-matched-decision-date-day'] == '')) %}
            <strong class="govuk-tag govuk-tag--blue">
              Not started
            </strong>
            {% elif  (data['school-matched'] != NULL) and (data['school-matched-decision-date-day'] != '') %}
            <strong class="govuk-tag govuk-tag--turquoise">
              Completed
            </strong>
            {% else %}
            <strong class="govuk-tag govuk-tag--orange">
              In progress
            </strong>
            {% endif %}
          </div>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Find possible supporting organisation</h2>

      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="task-list/choose-preferred-supporting-organisation" aria-describedby="company-details-2-status">
              Choose preferred supporting organisation
            </a>
          </div>
          <div class="govuk-task-list__status" id="company-details-2-status">
            {% if ((data['supporting-organisation-name'] == NULL) or (data['supporting-organisation-name'] == '')) and ((data['id-number'] == NULL) or (data['id-number'] == '')) and ((data['supporting-org-chosen-date-day'] == NULL ) or (data['supporting-org-chosen-date-day'] == '')) %}
            <strong class="govuk-tag govuk-tag--blue">
              Not started
            </strong>
            {% elif (data['supporting-organisation-name'] != '') and (data['id-number'] != '') and (data['supporting-org-chosen-date-day'] != '') %}
            <strong class="govuk-tag govuk-tag--turquoise">
              Completed
            </strong>
            {% else %}
            <strong class="govuk-tag govuk-tag--orange">
              In progress
            </strong>
            {% endif %}
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="task-list/carry-out-due-diligence" aria-describedby="company-details-2-status">
              Carry out due diligence on preferred supporting organisation
            </a>
          </div>
          <div class="govuk-task-list__status" id="company-details-2-status">
            {% if (data['organisation-capacity'] == NULL) and (data['speak-to-relationship-manager'] == NULL) and (data['discuss-choice-with-sfso'] == NULL) and (data['talk-to-grant-team'] == NULL) and (data['check-for-vendor-account'] == NULL) and ((data['due-diligence-date-day'] == NULL ) or (data['due-diligence-date-day'] == '')) %}
            <strong class="govuk-tag govuk-tag--blue">
              Not started
            </strong>
            {% elif (data['organisation-capacity'] == 'done') and (data['speak-to-relationship-manager'] == 'done') and (data['discuss-choice-with-sfso'] == 'done') and (data['talk-to-grant-team'] == 'done') and (data['check-for-vendor-account'] == 'done') and (data['due-diligence-date-day'] != '') %}
            <strong class="govuk-tag govuk-tag--turquoise">
              Completed
            </strong>
            {% else %}
            <strong class="govuk-tag govuk-tag--orange">
              In progress
            </strong>
            {% endif %}
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="task-list/record-supporting-org-appointment" aria-describedby="company-details-3-hint company-details-3-status">
              Record supporting organisation appointment
            </a>
            <!--
            <div id="company-details-3-hint" class="govuk-task-list__hint">
              Include 5 years of the company’s relevant financial information
            </div>
            -->
          </div>
          <div class="govuk-task-list__status" id="company-details-3-status">
            {% if (data['so-approved'] == NULL) and ((data['so-approved-date-day'] == NULL) or (data['so-approved-date-day'] == '')) %}
            <strong class="govuk-tag govuk-tag--blue">
              Not started
            </strong>
            {% elif  (data['so-approved'] != NULL) and (data['so-approved-date-day'] != '') %}
            <strong class="govuk-tag govuk-tag--turquoise">
              Completed
            </strong>
            {% else %}
            <strong class="govuk-tag govuk-tag--orange">
              In progress
            </strong>
            {% endif %}
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="task-list/add-so-contact-details" aria-describedby="company-details-4-status">
              Add supporting organisation contact details
            </a>
          </div>
          <div class="govuk-task-list__status" id="company-details-4-status">
            {% if ((data['supporting-organisation-contact-name'] == NULL) or (data['supporting-organisation-contact-name'] == '')) and ((data['so-contact-email'] == NULL) or (data['so-contact-email'] == '')) and ((data['so-contact-added-date-day'] == NULL ) or (data['so-contact-added-date-day'] == '')) %}
            <strong class="govuk-tag govuk-tag--blue">
              Not started
            </strong>
            {% elif (data['supporting-organisation-contact-name'] != '') and (data['so-contact-email'] != '') and (data['so-contact-added-date-day'] != '') %}
            <strong class="govuk-tag govuk-tag--turquoise">
              Completed
            </strong>
            {% else %}
            <strong class="govuk-tag govuk-tag--orange">
              In progress
            </strong>
            {% endif %}
          </div>
        </li>
      </ul>




      <h2 class="govuk-heading-m">Send planning grant offer letter</h2>

      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-2-status">
              Request planning grant offer letter
            </a>
          </div>
          <div class="govuk-task-list__status" id="company-details-2-status">
            <strong class="govuk-tag govuk-tag--blue">
              Not started
            </strong>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-2-status">
              Confirm planning grant offer letter sent
            </a>
          </div>
          <div class="govuk-task-list__status" id="company-details-2-status">
            <strong class="govuk-tag govuk-tag--blue">
              Not started
            </strong>
          </div>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Create the improvement plan</h2>

      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-2-status">
              Share the improvement plan template
            </a>
          </div>
          <div class="govuk-task-list__status" id="company-details-2-status">
            <strong class="govuk-tag govuk-tag--blue">
              Not started
            </strong>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-2-status">
              Review the improvement plan
            </a>
          </div>
          <div class="govuk-task-list__status" id="company-details-2-status">
            <strong class="govuk-tag govuk-tag--blue">
              Not started
            </strong>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-3-hint company-details-3-status">
              Send the agreed improvement plan for approval
            </a>
          </div>
          <div class="govuk-task-list__status" id="company-details-3-status">
            <strong class="govuk-tag govuk-tag--blue">
              Not started
            </strong>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-4-status">
              Record improvement plan decision
            </a>
          </div>
          <div class="govuk-task-list__status" id="company-details-4-status">
            <strong class="govuk-tag govuk-tag--blue">
              Not started
            </strong>
          </div>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Send improvement grant offer letter</h2>

      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-2-status">
              Request improvement grant offer letter
            </a>
          </div>
          <div class="govuk-task-list__status" id="company-details-2-status">
            <strong class="govuk-tag govuk-tag--blue">
              Not started
            </strong>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-2-status">
              Confirm improvement grant offer letter sent
            </a>
          </div>
          <div class="govuk-task-list__status" id="company-details-2-status">
            <strong class="govuk-tag govuk-tag--blue">
              Not started
            </strong>
          </div>
        </li>
      </ul>

    
      <!--
      <div class="govuk-!-margin-top-5">
        {{ govukButton({ text: "Apply", href: "#" }) }}
      </div>
      -->

    </div>
  </div>
{% endblock %}

{% block footer %}
{% include "/layouts/rsd-footer.html" %}
{% endblock %}
