{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <!--
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
  -->

{% endblock %}

{% block header %}
{% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block content %}
  
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <!--<span class="govuk-caption-l">Cheltenham Primary School</span>-->
    <h1 class="govuk-heading-xl">Check funding details</h1>

    <h2 class="govuk-heading-l">School</h1>

      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Grant name
          </dt>
          <dd class="govuk-summary-list__value">
              <p>{{ data['grant-name']}}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Grant amount
          </dt>
          <dd class="govuk-summary-list__value">
              <p>{{ data['grant-amount']}}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date grant paid
          </dt>
          <dd class="govuk-summary-list__value">
             
              <span>{{ data['grant-paid-date-day'] }} </span>
          <span>{{ data['grant-paid-date-month'] }} </span>
          <span>{{ data['grant-paid-date-year'] }}</span>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Comments
          </dt>
          <dd class="govuk-summary-list__value">
              <p>{{ data['grant-comments']}}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

       
      

      </dl>
    

        


        <div class="govuk-button-group">
          <a href="../project-list-school-added" role="button" draggable="false" data-module="govuk-button" class="govuk-button">
            Save and add school
          </a>
          <a href="add-more-funding" role="button" draggable="false" class="govuk-button govuk-button--secondary">
            Add another grant
          </a>
        </div>
         
  
        </div>

      </form>

    </main>
  </main>   
  </div>
</div>

{% endblock %}

{% block footer %}
{% include "/layouts/rsd-footer.html" %}
{% endblock %}
