{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <!--
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
  -->

{% endblock %}

{% block header %}
{% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     

      <span class="govuk-caption-l">Cirencester Academy</span>
      <h1 class="govuk-heading-l">
        Choose preferred supporting organisation
      </h1>


      <p>The support organisation is not confirmed until the school and regional director both agree to the choice.</p>


      


      


      
      <form class="form" action='so-answer' method="post">



        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item padding-bottom-15">
            <input class="govuk-checkboxes__input" id="complete-at2" name="complete-at2" type="checkbox" value="done" {{checked("complete-at2", "done")}}>
            <label class="govuk-label govuk-checkboxes__label" for="complete-at2">
              Complete assessment tool 2: Selecting a supporting organisation<br>
              You must download a<a href="https://educationgovuk.sharepoint.com.mcas.ms/sites/lvewp00030/SitePages/2-Intervention/RISE/Phase%202%20-%20Initial%20Diagnosis%20&%20Match/RISE-Assessment-Tool-2---Match---Selecting-a-Supporting-Organisation.aspx?CID=a01adb5e-2364-4eaf-a2a8-87eb547584bd" target="_blank">copy of the assessment tool (opens in new tab)</a>.<br>
              When complete <a href="https://educationgovuk.sharepoint.com.mcas.ms/sites/lvewp00299/WorkplaceDocuments/Forms/AllItems.aspx?csf=1&web=1&e=q4hcRV&CID=39552771%2D6946%2D4db5%2D930c%2D5e7a590eb440&FolderCTID=0x012000E7C2FE72052A5344AB3AC158ED8C78A7&id=%2Fsites%2Flvewp00299%2FWorkplaceDocuments%2FRISE%20documents%2FRISE%20Targeted%20Programme%2FAssessments%20%28RISE%20Targeted%29" target="_blank">upload it to the relevant region's assessment folder in SharePoint (opens in new tab)</a>.
            </label>
          </div>
        </div>

        <br>

        
      

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/input/macro.njk" import govukInput %}
        
       
        {{ govukRadios({
          name: "so-type",
          fieldset: {
            legend: {
              text: "Is the preferred supporting organisation a school or a trust?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Select one option"
          },
          items: [
          {
            value: "Trust",
            text: "Trust",
            checked:  data['so-type'] === "Trust"
            },
            {
              value: "School",
              text: "School",
              checked:  data['so-type'] === "School"
            }
          ]
        }) }}


{{ govukButton({
  text: "Continue"
}) }}
      


      </form>


 

    </div>
  </div>

{% endblock %}

{% block footer %}
{% include "/layouts/rsd-footer.html" %}
{% endblock %}
