{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <!--
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
  -->

{% endblock %}

{% block header %}
{% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     

      <span class="govuk-caption-l">Cheltenham Spa Primary School</span>
      <h1 class="govuk-heading-l">
        Add contact
      </h1>

     
      
      <form class="form" action='add-contact-answer' method="post">

       
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                Organisation
              </h2>
            </legend>
            <div id="contact-hint" class="govuk-hint">
              Select one option
            </div>
            <div class="govuk-radios" data-module="govuk-radios">

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="organisation" name="organisation" type="radio" value="School">
                <label class="govuk-label govuk-radios__label" for="organisation">
                  School
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="organisation-2" name="organisation" type="radio" value="Trust">
                <label class="govuk-label govuk-radios__label" for="organisation-2">
                  Trust
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="organisation-3" name="organisation" type="radio" value="Trust">
                <label class="govuk-label govuk-radios__label" for="organisation-3">
                  Local authority
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="organisation-4" name="organisation" type="radio" value="Trust">
                <label class="govuk-label govuk-radios__label" for="organisation-4">
                  Supporting organisation
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="organisation-5" name="organisation" type="radio" value="Trust">
                <label class="govuk-label govuk-radios__label" for="organisation-5">
                  Diocese
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="organisation-6" name="organisation" type="radio" value="Trust">
                <label class="govuk-label govuk-radios__label" for="organisation-6">
                  Federation
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="organisation-7" name="organisation" type="radio" value="Trust">
                <label class="govuk-label govuk-radios__label" for="organisation-7">
                  DfE
                </label>
              </div>


             
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="organisation-8" name="organisation" type="radio" value="text" data-aria-controls="conditional-organisation">
                <label class="govuk-label govuk-radios__label" for="organisation-8">
                  Other
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-organisation">
                <div class="govuk-form-group">
                  <input class="govuk-input govuk-!-width-one-third" id="other-organisation-name" name="other-organisation-name" type="tel" autocomplete="organisation">
                </div>
              </div>
            </div>
          </fieldset>
        </div>


       

    
        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/input/macro.njk" import govukInput %}
        
        {% set otherorganisationHtml %}
        {{ govukInput({
          id: "other-orghanisation-name",
          name: "other-organisation-name",
          value: data["other-organisation-name"],
          spellcheck: false,
          classes: "govuk-!-width-one-half"
        }) }}
        {% endset -%}
        
        
        
   
         
       
        
        {{ govukRadios({
          name: "organisation",
          fieldset: {
            legend: {
              text: "Organisation",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Select one option"
          },
          items: [
          {
            value: "School",
            text: "School",
            checked:  data['organisation'] === "School"
          },
          {
            value: "Trust",
            text: "Trust",
            checked:  data['organisation'] === "Trust"
          },
          {
            value: "Local authority",
            text: "Local authority",
            checked:  data['organisation'] === "Local authority"
          },
          
          {
            value: "Supporting organisation",
            text: "Supporting organisation",
            checked:  data['organisation'] === "Supporting organisation"
          },
          
          {
            value: "Diocese",
            text: "Diocese",
            checked:  data['organisation'] === "Diocese"
          },
          {
            value: "Federation",
            text: "Federation",
            checked:  data['organisation'] === "Federation"
          },
          {
            value: "DfE",
            text: "DfE",
            checked:  data['organisation'] === "DfE"
          },
          {
            value: "Other organisation",
            text: "Other organisation",
            checked: false,
            conditional: {
            html: otherorganisationHtml
              }
            } 
          ]
        }) }}
    
        <div class="govuk-button-group">
{{ govukButton({
  text: "Continue"
}) }}

<a class="govuk-link" href="contacts">Cancel</a>

</div>
      


      </form>

    </div>
  </div>

{% endblock %}

{% block footer %}
{% include "/layouts/rsd-footer.html" %}
{% endblock %}
