{% extends "../includes/form-template.html" %}

{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block beforeContent %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  
  <!--
  <div class="govuk-breadcrumbs"
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
  -->

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">  

    <!--<span class="govuk-caption-l">Cheltenham Spa Primary School</span>-->
  
      <span class="govuk-caption-xl">Cheltenham Spa Primary School</span>
      <h1 class="govuk-heading-l">
        Who will be working on this project?
      </h1>

      <form action="../task-list-assigned" method="post" novalidate>

      {% block formQuestions %}
        
      {{ xGovukAutocomplete({
        id: "assigned-to",
        name: "assigned-to",
        value: data['assigned-to'],
        allowEmpty: false,
        hint: {
          text: "The delivery officer responsible for this project."
        },
        items: [
          { text: "Bo Bergman" },
          { text: "Bob Roberts" },
          { text: "Boris Karloff" },
          { text: "Bonita Boyd" }
        ]
       }) }}

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
        </button>
        or&nbsp;&nbsp;<a class="govuk-link" href="">Unassign the delivery officer</a>
      </div>

    </form>
 
  {% endblock %}

{% endblock %}

{% block footer %}
{% include "/layouts/rsd-footer.html" %}
{% endblock %}