{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block header %}
  {% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Confirm starting eligibility</span>
      
    <form class="form" action='eligibility-check-answers' method="post">

      {{ govukCharacterCount({
        name: "starting-eligibility-details",
        id: "starting-eligibility-details",
        maxlength: 500,
        label: {
          text: "Explain the reasons for the eligibility change",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: "Provide details about why this school is no longer eligible and any next steps required."
        }
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    </div>
  </div>

{% endblock %}

{% block footer %}
  {% include "/layouts/rsd-footer.html" %}
{% endblock %}