{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block header %}
  {% include "/layouts/dfe-header.html" %}
{% endblock %}

{# Set STARTING ELIGIBILITY variables #}
{% if (data['starting-eligibility'] == "Yes") %}
    {% set currentEligibility = "Eligible" %}
  {% elseif (data['starting-eligibility'] == "No") %}
    {% set currentEligibility = "Not eligible" %}
{% endif %}

{# Set DECISION DATE variables #}
{% if (data['starting-eligibility-date'] !== "") %}
  {% set decisionDate = data | isoDateFromDateInput("starting-eligibility-date") | govukDate %}
{% endif %}

{# Set DETAILS variables #}
{% if (data["starting-eligibility-details"] !== "") %}
  {% set currentDetails = data["starting-eligibility-details"] %}
{% endif %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <span class="govuk-caption-l">Confirm starting eligibility</span>
  <h2 class="govuk-heading-l">Check your answers</h2>

  {# <form class="form" action='eligibility-not-eligible-guidance' method="post"> #}
    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Eligibility
        </dt>
        <dd class="govuk-summary-list__value">
          {{ currentEligibility }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="eligibility-check">Change<span class="govuk-visually-hidden"> eligibility</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of change
        </dt>
        <dd class="govuk-summary-list__value">
          {{ decisionDate }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="eligibility-check-date">Change<span class="govuk-visually-hidden"> date</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Details
        </dt>
        <dd class="govuk-summary-list__value">
          {{ currentDetails }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="eligibility-check-details">Change<span class="govuk-visually-hidden"> details</span></a>
        </dd>
      </div>

    </dl>
    
    {{ govukButton({ 
      text: "Save and complete",
      href: "eligibility-not-eligible-guidance"
      }) 
    }}

  {# </form> #}

  </div>
</div>

{% endblock %}

{% block footer %}
  {% include "/layouts/rsd-footer.html" %}
{% endblock %}