{% extends "layouts/main.html" %}

{% block pageTitle %}
  Enter details about why approval was not given – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block header %}
  {% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Cheltenham Spa Primary School</span>

      <form class="form" action="../task-list-task-updated" method="post">

        {{ govukCharacterCount({
          name: "approval-denied-details",
          id: "approval-denied-details",
          maxlength: 500,
          label: {
            text: "Enter details about why approval was not given",
            classes: "govuk-label--l",
            isPageHeading: true
          }
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and return"
          }) }}

          <a href="../task-list-task-updated" class="govuk-link">Cancel</a>
        </div>

      </form>

    </div>
  </div>
{% endblock %}

{% block footer %}
  {% include "/layouts/rsd-footer.html" %}
{% endblock %}
