{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <!--
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
  -->

{% endblock %}

{% block header %}
{% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block content %}
  
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <!--<span class="govuk-caption-l">Cheltenham Primary School</span>-->
    <h1 class="govuk-heading-xl">Check school details</h1>

    <h2 class="govuk-heading-l">School</h1>

      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
              <p>Cheltenham Spa Primary School</p>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Current URN
          </dt>
          <dd class="govuk-summary-list__value">
              <p>100006</p>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Local authority
          </dt>
          <dd class="govuk-summary-list__value">
              <p>Gloucestershire County Council</p>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Trust
          </dt>
          <dd class="govuk-summary-list__value">
              <p>Gloucestershire Academies Trust</p>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Region
          </dt>
          <dd class="govuk-summary-list__value">
              <p>South West</p>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            School type
          </dt>
          <dd class="govuk-summary-list__value">
              <p>Academy converter</p>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Phase of education
          </dt>
          <dd class="govuk-summary-list__value">
              <p>Primary</p>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Religious character
          </dt>
          <dd class="govuk-summary-list__value">
              <p>Church of England</p>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Diocese
          </dt>
          <dd class="govuk-summary-list__value">
              <p>Diocese of Gloucestershire</p>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
      </dl>
    <form action="./eligibility-check" method="post"> 

        <div class="govuk-button-group">
 
          <button type="submit" class="govuk-button" data-module="govuk-button">
              Add school
          </button>
          &nbsp;&nbsp;<a class="govuk-link" href="./select-school">Choose a different school</a>
  
        </div>

      </form>

    </main>
  </main>   
  </div>
</div>

{% endblock %}

{% block footer %}
{% include "/layouts/rsd-footer.html" %}
{% endblock %}
