{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  
  {{ govukBackLink({
    text: "Back to task list",
    href: "task-list-engagement"
  }) }}

  <!--
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
  -->

{% endblock %}

{% block header %}
{% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!--
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
            Engagement level updated
          </h3>
        </div>
      </div>
      -->

      <span class="govuk-caption-xl">Cheltenham Spa Primary School</span>
      <h1 class="govuk-heading-xl">
        Engagement history
      </h1>

      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <p>It is important to monitor and record the level of engagement from the school.</p>
        <p>You can record when changes are observed, and view the past levels of engagement here.</p>

      <div class="govuk-!-margin-top-5">
        {{ govukButton({ text: "Update engagement level", href: "add-engagement-note" }) }}
      </div>


      {% if (data['engagement-level'] != NULL) and (data['engagement-level-2'] == NULL) %} 

      <div class="moj-timeline">

        <div class="moj-timeline__item">
      
            <div class="moj-timeline__header">
                {% if (data['engagement-level'] =='Outstanding') %}
                <strong class="govuk-tag govuk-tag--green" id="">{{ data['engagement-level']}}</strong>
                {% elif (data['engagement-level'] =='Frankly could be better') %}
                <strong class="govuk-tag govuk-tag--orange" id="">{{ data['engagement-level']}}</strong>
                {% else %}
                <strong class="govuk-tag govuk-tag--red" id="">{{ data['engagement-level']}}</strong>
                {% endif %}
            </div>
        
            <div class="moj-timeline__description">
              <p>{{ data['engagement-note']}}</p>
            </div>
  
            <p class="moj-timeline__date">
              <time datetime="2019-06-14T14:01:00.000Z">16 January 2025</time>
            </p>
  <br>
            <p>
              <a href="edit-engagement-note">Edit note</a>
            </p>
        
          </div>



      </div>
   
      



    {% elseif (data['engagement-level'] != NULL ) and (data['engagement-level-2'] != NULL) %} 

    <div class="moj-timeline">

        <div class="moj-timeline__item">
    
            <div class="moj-timeline__header">
                {% if (data['engagement-level-2'] =='Outstanding') %}
              <strong class="govuk-tag govuk-tag--green" id="">{{ data['engagement-level-2']}}</strong>
              {% elif (data['engagement-level-2'] =='Frankly could be better') %}
              <strong class="govuk-tag govuk-tag--orange" id="">{{ data['engagement-level-2']}}</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--red" id="">{{ data['engagement-level-2']}}</strong>
              {% endif %}
            </div>
        
           
        
            <div class="moj-timeline__description">
              <p>{{ data['engagement-note-2']}}</p>
            </div>
  
            <p class="moj-timeline__date">
              <time datetime="2019-06-14T14:01:00.000Z">24 March 2025</time>
            </p>
  <br>
            <p>
              <a href="edit-engagement-note-2">Edit note</a>
            </p>
        
          </div>

      <div class="moj-timeline__item">
    
          <div class="moj-timeline__header">
            {% if (data['engagement-level'] =='Outstanding') %}
                <strong class="govuk-tag govuk-tag--green" id="">{{ data['engagement-level']}}</strong>
                {% elif (data['engagement-level'] =='Frankly could be better') %}
                <strong class="govuk-tag govuk-tag--orange" id="">{{ data['engagement-level']}}</strong>
                {% else %}
                <strong class="govuk-tag govuk-tag--red" id="">{{ data['engagement-level']}}</strong>
                {% endif %}
          </div>
      
         
      
          <div class="moj-timeline__description">
            <p>{{ data['engagement-note']}}</p>
          </div>

          <p class="moj-timeline__date">
            <time datetime="2019-06-14T14:01:00.000Z">16 January 2025</time>
          </p>
<br>
          <p>
            <a href="edit-engagement-note">Edit note</a>
          </p>
      
        </div>

    </div>
        {% endif %}


    

     
     


     

    </div>

  </div>

{% endblock %}

{% block footer %}
{% include "/layouts/rsd-footer.html" %}
{% endblock %}