{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <!--
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
  -->

{% endblock %}

{% block header %}
{% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     

      <span class="govuk-caption-xl">Cheltenham Spa Primary School</span>
      <h1 class="govuk-heading-xl">
        What funding has the school received?
      </h1>

      <p>Use the <a href="https://educationgovuk.sharepoint.com/:f:/r/sites/RISERegionalTeamsChannel/Shared%20Documents/General/03.%20Targeted%20Intervention/RISE%20Eligible%20Schools%20-%20Previous%20Funding%20Checks?csf=1&web=1&e=fYusuU" target="blank"> previous funding checks spreadsheet (opens in new tab)</a> to find out how much a school has received.
      
      <form class="form" action='check-funding-details' method="post">

        
<!--
    
        {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "inspected-again",
  fieldset: {
    legend: {
      isPageHeading: false
    }
  },
  items: [
    {
      value: "Yes",
      checked: checked("inspected-again", "Yes"),
      text: "Yes"
    },
    {
      value: "No",
      checked: checked("inspected-again", "No"),
      text: "No"
    }
  ]
}) }}
      -->
      
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "Funding type",
          classes: "govuk-label--m",
          isPageHeading: true
        },
        id: "funding-name",
        name: "funding-name",
        value: data["funding-name"]
      }) }}


      {% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  id: "funding-amount",
  name: "funding-amount",
  value: data["funding-amount"],
  label: {
    text: "Funding amount",
    classes: "govuk-label--m",
    isPageHeading: false
  },
  prefix: {
    text: "£"
  },
  classes: "govuk-input--width-10",
  spellcheck: false
}) }}

<!--
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{{ govukDateInput({
  id: "funding-paid-date",
  namePrefix: "funding-paid-date",
  fieldset: {
    legend: {
      text: "Enter the date the funding was paid",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "For example, 1 7 2024."
  },
  items: [
    {
      name: "day",
      value: data["funding-paid-date-day"],
      allowEmpty: false,
      classes: "govuk-input--width-2"
    },
    {
      name: "month",
      value: data["funding-paid-date-month"],
      allowEmpty: false,
      classes: "govuk-input--width-2"
    },                
    {
      name: "year",
      value: data["funding-paid-date-year"],
      allowEmpty: false,
      classes: "govuk-input--width-4"
    }
    
  ]
}) }}
-->


{{ govukInput({
  id: "funding-year",
  name: "funding-year",
  value: data["funding-year"],
  label: {
    text: "Financial year",
    classes: "govuk-label--m",
    isPageHeading: false
  },
  hint: {
    text: "Enter the financial year the funding was paid. Like, 2023/24."
  },
  classes: "govuk-input--width-10",
  spellcheck: false
}) }}


{{ govukInput({
  id: "funding-rounds",
  name: "funding-rounds",
  value: data["funding-rounds"],
  label: {
    text: "Funding rounds",
    classes: "govuk-label--m",
    isPageHeading: false
  },
  hint: {
    text: "Enter the number of payments that were made over the financial year."
  },
  classes: "govuk-input--width-10",
  spellcheck: false
}) }}


{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{{ govukTextarea({
  name: "funding-comments",
  value: data["funding-comments"],
  id: "funding-comments",
  label: {
    text: "Add any comments about the funding",
    classes: "govuk-label--m",
    isPageHeading: false
  },
  hint: {
    text: "Do not include personal or financial information."
  }
}) }}



     


{{ govukButton({
  text: "Save and continue"
}) }}
      





      </form>

    </div>
  </div>

{% endblock %}

{% block footer %}
{% include "/layouts/rsd-footer.html" %}
{% endblock %}
