{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <!--
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
  -->

{% endblock %}

{% block header %}
{% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     

      <span class="govuk-caption-xl">Cheltenham Spa Primary School</span>
      <h1 class="govuk-heading-xl">
        What funding has the school received?
      </h1>




      
      <form class="form" action='check-funding-details' method="post">

        
<!--
    
        {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "inspected-again",
  fieldset: {
    legend: {
      isPageHeading: false
    }
  },
  items: [
    {
      value: "Yes",
      checked: checked("inspected-again", "Yes"),
      text: "Yes"
    },
    {
      value: "No",
      checked: checked("inspected-again", "No"),
      text: "No"
    }
  ]
}) }}
      -->
      
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "Funding name",
          classes: "govuk-label--m",
          isPageHeading: true
        },
        id: "funding-name-2",
        name: "funding-name-2",
        value: data["funding-name-2"]
      }) }}


      {% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  id: "funding-amount-2",
  name: "funding-amount-2",
  value: data["funding-amount-2"],
  label: {
    text: "Funding amount",
    classes: "govuk-label--m",
    isPageHeading: false
  },
  prefix: {
    text: "£"
  },
  classes: "govuk-input--width-5",
  spellcheck: false
}) }}



{{ govukInput({
  id: "funding-year-2",
  name: "funding-year-2",
  value: data["funding-year-2"],
  label: {
    text: "Financial year",
    classes: "govuk-label--m",
    isPageHeading: false
  },
  hint: {
    text: "Enter the financial year the funding was paid. Like, 2023/24."
  },
  classes: "govuk-input--width-10",
  spellcheck: false
}) }}


{{ govukInput({
  id: "funding-rounds-2",
  name: "funding-rounds-2",
  value: data["funding-rounds-2"],
  label: {
    text: "Funding rounds",
    classes: "govuk-label--m",
    isPageHeading: false
  },
  hint: {
    text: "Enter the number of payments that were made over the financial year."
  },
  classes: "govuk-input--width-10",
  spellcheck: false
}) }}





{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{{ govukTextarea({
  name: "funding-comments-2",
  value: data["funding-comments-2"],
  id: "funding-comments-2",
  label: {
    text: "Add any comments about the funding",
    classes: "govuk-label--m",
    isPageHeading: false
  },
  hint: {
    text: "Do not include personal or financial information."
  }
}) }}



     


{{ govukButton({
  text: "Save and continue"
}) }}
      





      </form>

    </div>
  </div>

{% endblock %}

{% block footer %}
{% include "/layouts/rsd-footer.html" %}
{% endblock %}
