{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <!--
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
  -->

{% endblock %}

{% block header %}
{% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Cheltenham Spa Primary School</span>
      <h1 class="govuk-heading-l">
        Contact the school
      </h1>

      <p>Confirm if the school wants to get targeted support or not.</p>

      <form class="form" action="../task-list2" method="post">

        

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <!--
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Which types of waste do you transport?
              </h1>
            </legend>
            <div id="waste-hint" class="govuk-hint">
              Select all that apply
            </div>
          -->
            
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="contact-school-1" name="waste" type="checkbox" value="contact-school-1-done" selected="contact-school-1-done">
                <label class="govuk-label govuk-checkboxes__label" for="waste">
                  Find the school's email address
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="contact-school-2" name="waste" type="checkbox" value="contact-school-2-done">
                <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                  Use the template notification letter to create the email
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="contact-school-3" name="waste" type="checkbox" value="contact-school-3-done">
                <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                  Attach the RISE information pack to the email
                </label>
              </div>
            </div>
          </fieldset>
        </div>


  {{ govukButton({
      text: "Save and return"
   }) }}

      </form>

    </div>
  </div>

{% endblock %}

{% block footer %}
{% include "/layouts/rsd-footer.html" %}
{% endblock %}
