{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <!--
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
  -->

{% endblock %}

{% block header %}
{% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Cheltenham Spa Primary School</span>
      <h1 class="govuk-heading-l">
        Contact the school
      </h1>

      <p class="padding-bottom-10">Confirm if the school wants to get targeted support or not.</p>

      <form class="form" action="../task-list" method="post">

        
        
 
        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          name: "find-school-email-address",
          items: [
            {
              value: "done",
              checked: (data['find-school-email-address'] == 'done'),
              text: "Find the school's email address"
            }
          ]
        }) }}
        
        {{ govukCheckboxes({
          name: "use-template-notification-letter",
          items: [
            {
              value: "done",
              checked: (data['use-template-notification-letter'] == 'done'),
              text: "Use the template notification letter to create the email"
            }
          ]
        }) }}

        {{ govukCheckboxes({
          name: "attach-rise-info-pack",
          items: [
            {
              value: "done",
              checked: (data['attach-rise-info-pack'] == 'done'),
              text: "Attach the RISE information pack to the email"
            }
          ]
        }) }}
  


        {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

        {{ govukDateInput({
          id: "school-contacted-date",
          namePrefix: "school-contacted-date",
          fieldset: {
            legend: {
              text: "Enter the date the school was contacted",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 1 7 2024."
          },
          items: [
            {
              name: "day",
              value: data["school-contacted-date-day"],
              classes: "govuk-input--width-2"
            },
            {
              name: "month",
              value: data["school-contacted-date-month"],
              classes: "govuk-input--width-2"
            },                
            {
              name: "year",
              value: data["school-contacted-date-year"],
              classes: "govuk-input--width-4"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and return"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}

{% block footer %}
{% include "/layouts/rsd-footer.html" %}
{% endblock %}
