{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block beforeContent %}
  
  <!--
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  -->

  <!--
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
  -->

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">
    Schools requiring improvement
  </h1>
  <br>
  <a href="start-new-project/search-for-a-school" role="button" draggable="false" class="govuk-button <!--govuk-button--start-->" data-module="govuk-button">Add a school</a>
  </div>
</div>



  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">

      <h1 class="govuk-heading-m">

        <div class="moj-filter">

          <div class="moj-filter__header">
      
              <div class="moj-filter__header-title">
                  <h2 class="govuk-heading-m">Filter</h2>
              </div>
      
              <div class="moj-filter__header-action">
              </div>
      
          </div>
      
          <div class="moj-filter__content">
              <div if="Model.IsVisible" class="moj-filter__selected">
      
                  <div class="moj-filter__selected-heading">
      
                      <div class="moj-filter__heading-title">
                          <h2 class="govuk-heading-m">Selected filters</h2>
                      </div>
      
                      <div class="moj-filter__heading-action">
                          <p><a class="govuk-link govuk-link--no-visited-state" data-cy="clear-filter" href="/schools-requiring-improvement?clear">Clear filters</a></p>
                      </div>
      
                  </div>
              </div>
      
              <div class="moj-filter__options">
                  <form method="get" class="form">
                      <button class="govuk-button" data-module="govuk-button" data-test-id="submit-button" data-cy='select-projectlist-filter-apply'>
                          Apply filters
                      </button>
      
                      <div class="govuk-form-group">
                          <label class="govuk-label govuk-label--m" for="projects">
                              Search for schools
                          </label>
                          <span class="govuk-hint">You can search by school name, academy name and URN</span>
                          <input id="Title" name="Title" type="text" class="govuk-input" aria-describedby="filter-project-title-hint" data-cy="select-projectlist-filter-title" value="">
      
                      </div>
      
                      <div class="govuk-form-group">
      
                          <fieldset class="govuk-fieldset">
                              <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                                  <div class="govuk-accordion__section">
                                      <div class="govuk-accordion__section-header">
                                          <h2 class="govuk-accordion__section-heading">
                                              <span class="govuk-accordion__section-button" id="accordion-regions-heading" data-cy="select-projectlist-filter-region">
                                                  Region
                                              </span>
                                          </h2>
                                      </div>
                                      <div class="govuk-accordion__section-content" aria-labelledby="accordion-regions-heading">
                                          <input type="text" class="govuk-input govuk-!-display-none govuk-!-margin-bottom-2" id="filter-searches" placeholder="Type to filter regions...">
                                          <div class="govuk-checkboxes">
                                                  <div class="govuk-checkboxes__item">
                                                      <input class="govuk-checkboxes__input" id="filter-project-region-east-midlands" name="selectedRegions" type="checkbox" value="East Midlands" data-cy="select-projectlist-filter-region-East Midlands"
                                                       />
                                                      <label class="govuk-label govuk-checkboxes__label" for="filter-project-region-east-midlands">
                                                          East Midlands
                                                      </label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                      <input class="govuk-checkboxes__input" id="filter-project-region-london" name="selectedRegions" type="checkbox" value="London" data-cy="select-projectlist-filter-region-London"
                                                       />
                                                      <label class="govuk-label govuk-checkboxes__label" for="filter-project-region-london">
                                                          London
                                                      </label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                      <input class="govuk-checkboxes__input" id="filter-project-region-north-east" name="selectedRegions" type="checkbox" value="North East" data-cy="select-projectlist-filter-region-North East"
                                                       />
                                                      <label class="govuk-label govuk-checkboxes__label" for="filter-project-region-north-east">
                                                          North East
                                                      </label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                      <input class="govuk-checkboxes__input" id="filter-project-region-north-west" name="selectedRegions" type="checkbox" value="North West" data-cy="select-projectlist-filter-region-North West"
                                                       />
                                                      <label class="govuk-label govuk-checkboxes__label" for="filter-project-region-north-west">
                                                          North West
                                                      </label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                      <input class="govuk-checkboxes__input" id="filter-project-region-south-east" name="selectedRegions" type="checkbox" value="South East" data-cy="select-projectlist-filter-region-South East"
                                                       />
                                                      <label class="govuk-label govuk-checkboxes__label" for="filter-project-region-south-east">
                                                          South East
                                                      </label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                      <input class="govuk-checkboxes__input" id="filter-project-region-south-west" name="selectedRegions" type="checkbox" value="South West" data-cy="select-projectlist-filter-region-South West"
                                                       />
                                                      <label class="govuk-label govuk-checkboxes__label" for="filter-project-region-south-west">
                                                          South West
                                                      </label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                      <input class="govuk-checkboxes__input" id="filter-project-region-west-midlands" name="selectedRegions" type="checkbox" value="West Midlands" data-cy="select-projectlist-filter-region-West Midlands"
                                                       />
                                                      <label class="govuk-label govuk-checkboxes__label" for="filter-project-region-west-midlands">
                                                          West Midlands
                                                      </label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                      <input class="govuk-checkboxes__input" id="filter-project-region-yorkshire-and-the-humber" name="selectedRegions" type="checkbox" value="Yorkshire and the Humber" data-cy="select-projectlist-filter-region-Yorkshire and the Humber"
                                                       />
                                                      <label class="govuk-label govuk-checkboxes__label" for="filter-project-region-yorkshire-and-the-humber">
                                                          Yorkshire and the Humber
                                                      </label>
                                                  </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="govuk-accordion__section">
                                      <div class="govuk-accordion__section-header">
                                          <h2 class="govuk-accordion__section-heading">
                                              <span class="govuk-accordion__section-button" id="accordion-local-authorities-heading" data-cy="select-projectlist-filter-local-authority">
                                                  Local authority
                                              </span>
                                          </h2>
                                      </div>
                                      <div class="govuk-accordion__section-content" aria-labelledby="accordion-local-authorities-heading">
                                          <input type="text" class="govuk-input govuk-!-display-none govuk-!-margin-bottom-2" id="filter-searches" placeholder="Type to filter local authorities...">
                                          <div class="govuk-checkboxes">
                                                  <div class="govuk-checkboxes__item">
                                                      <input class="govuk-checkboxes__input" id="filter-project-local-authority-bexley" name="selectedLocalAuthorities" type="checkbox" value="Bexley" data-cy="select-projectlist-filter-local-authority-Bexley"
                                                       />
                                                      <label class="govuk-label govuk-checkboxes__label" for="filter-project-local-authority-bexley">
                                                          Bexley
                                                      </label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                      <input class="govuk-checkboxes__input" id="filter-project-local-authority-buckinghamshire" name="selectedLocalAuthorities" type="checkbox" value="Buckinghamshire" data-cy="select-projectlist-filter-local-authority-Buckinghamshire"
                                                       />
                                                      <label class="govuk-label govuk-checkboxes__label" for="filter-project-local-authority-buckinghamshire">
                                                          Buckinghamshire
                                                      </label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                      <input class="govuk-checkboxes__input" id="filter-project-local-authority-camden" name="selectedLocalAuthorities" type="checkbox" value="Camden" data-cy="select-projectlist-filter-local-authority-Camden"
                                                       />
                                                      <label class="govuk-label govuk-checkboxes__label" for="filter-project-local-authority-camden">
                                                          Camden
                                                      </label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                      <input class="govuk-checkboxes__input" id="filter-project-local-authority-devon" name="selectedLocalAuthorities" type="checkbox" value="Devon" data-cy="select-projectlist-filter-local-authority-Devon"
                                                       />
                                                      <label class="govuk-label govuk-checkboxes__label" for="filter-project-local-authority-devon">
                                                          Devon
                                                      </label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                      <input class="govuk-checkboxes__input" id="filter-project-local-authority-doncaster" name="selectedLocalAuthorities" type="checkbox" value="Doncaster" data-cy="select-projectlist-filter-local-authority-Doncaster"
                                                       />
                                                      <label class="govuk-label govuk-checkboxes__label" for="filter-project-local-authority-doncaster">
                                                          Doncaster
                                                      </label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                      <input class="govuk-checkboxes__input" id="filter-project-local-authority-greenwich" name="selectedLocalAuthorities" type="checkbox" value="Greenwich" data-cy="select-projectlist-filter-local-authority-Greenwich"
                                                       />
                                                      <label class="govuk-label govuk-checkboxes__label" for="filter-project-local-authority-greenwich">
                                                          Greenwich
                                                      </label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                      <input class="govuk-checkboxes__input" id="filter-project-local-authority-hampshire" name="selectedLocalAuthorities" type="checkbox" value="Hampshire" data-cy="select-projectlist-filter-local-authority-Hampshire"
                                                       />
                                                      <label class="govuk-label govuk-checkboxes__label" for="filter-project-local-authority-hampshire">
                                                          Hampshire
                                                      </label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                      <input class="govuk-checkboxes__input" id="filter-project-local-authority-havering" name="selectedLocalAuthorities" type="checkbox" value="Havering" data-cy="select-projectlist-filter-local-authority-Havering"
                                                       />
                                                      <label class="govuk-label govuk-checkboxes__label" for="filter-project-local-authority-havering">
                                                          Havering
                                                      </label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                      <input class="govuk-checkboxes__input" id="filter-project-local-authority-leicestershire" name="selectedLocalAuthorities" type="checkbox" value="Leicestershire" data-cy="select-projectlist-filter-local-authority-Leicestershire"
                                                       />
                                                      <label class="govuk-label govuk-checkboxes__label" for="filter-project-local-authority-leicestershire">
                                                          Leicestershire
                                                      </label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                      <input class="govuk-checkboxes__input" id="filter-project-local-authority-manchester" name="selectedLocalAuthorities" type="checkbox" value="Manchester" data-cy="select-projectlist-filter-local-authority-Manchester"
                                                       />
                                                      <label class="govuk-label govuk-checkboxes__label" for="filter-project-local-authority-manchester">
                                                          Manchester
                                                      </label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                      <input class="govuk-checkboxes__input" id="filter-project-local-authority-north-tyneside" name="selectedLocalAuthorities" type="checkbox" value="North Tyneside" data-cy="select-projectlist-filter-local-authority-North Tyneside"
                                                       />
                                                      <label class="govuk-label govuk-checkboxes__label" for="filter-project-local-authority-north-tyneside">
                                                          North Tyneside
                                                      </label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                      <input class="govuk-checkboxes__input" id="filter-project-local-authority-reading" name="selectedLocalAuthorities" type="checkbox" value="Reading" data-cy="select-projectlist-filter-local-authority-Reading"
                                                       />
                                                      <label class="govuk-label govuk-checkboxes__label" for="filter-project-local-authority-reading">
                                                          Reading
                                                      </label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                      <input class="govuk-checkboxes__input" id="filter-project-local-authority-sheffield" name="selectedLocalAuthorities" type="checkbox" value="Sheffield" data-cy="select-projectlist-filter-local-authority-Sheffield"
                                                       />
                                                      <label class="govuk-label govuk-checkboxes__label" for="filter-project-local-authority-sheffield">
                                                          Sheffield
                                                      </label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                      <input class="govuk-checkboxes__input" id="filter-project-local-authority-shropshire" name="selectedLocalAuthorities" type="checkbox" value="Shropshire" data-cy="select-projectlist-filter-local-authority-Shropshire"
                                                       />
                                                      <label class="govuk-label govuk-checkboxes__label" for="filter-project-local-authority-shropshire">
                                                          Shropshire
                                                      </label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                      <input class="govuk-checkboxes__input" id="filter-project-local-authority-wakefield" name="selectedLocalAuthorities" type="checkbox" value="Wakefield" data-cy="select-projectlist-filter-local-authority-Wakefield"
                                                       />
                                                      <label class="govuk-label govuk-checkboxes__label" for="filter-project-local-authority-wakefield">
                                                          Wakefield
                                                      </label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                      <input class="govuk-checkboxes__input" id="filter-project-local-authority-walsall" name="selectedLocalAuthorities" type="checkbox" value="Walsall" data-cy="select-projectlist-filter-local-authority-Walsall"
                                                       />
                                                      <label class="govuk-label govuk-checkboxes__label" for="filter-project-local-authority-walsall">
                                                          Walsall
                                                      </label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                      <input class="govuk-checkboxes__input" id="filter-project-local-authority-warrington" name="selectedLocalAuthorities" type="checkbox" value="Warrington" data-cy="select-projectlist-filter-local-authority-Warrington"
                                                       />
                                                      <label class="govuk-label govuk-checkboxes__label" for="filter-project-local-authority-warrington">
                                                          Warrington
                                                      </label>
                                                  </div>
                                                  <div class="govuk-checkboxes__item">
                                                      <input class="govuk-checkboxes__input" id="filter-project-local-authority-west-northamptonshire" name="selectedLocalAuthorities" type="checkbox" value="West Northamptonshire" data-cy="select-projectlist-filter-local-authority-West Northamptonshire"
                                                       />
                                                      <label class="govuk-label govuk-checkboxes__label" for="filter-project-local-authority-west-northamptonshire">
                                                          West Northamptonshire
                                                      </label>
                                                  </div>
                                          </div>
                                      </div>
                                  </div>
      
                              </div>
                          </fieldset>
      
                      </div>
                  </form>
              </div>
      
          </div>









      </h1>

     

    </div>

   
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-m">
        6 schools found
      </h1>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Schools 10 </caption>
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header app-!-width-three-fifths">School information</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
    
          <tr class="govuk-table__row" data-cy="select-projectlist-filter-row">
            <td class="govuk-table__cell">
               <div class="govuk-!-margin-top-1 govuk-!-margin-bottom-2">
                  <strong>
            <a id="school-name-0" class="govuk-link" data-cy="trust-name-0" href="../pages/task-list.html">Cheltenham Spa Primary School</a>
                  </strong>
               </div>
                <div class="govuk-!-margin-top-1">
                    <span id="urn-0"><strong>URN:</strong> 100006</span>
                </div>
                <div id="localauthority-26" class="govuk-!-margin-top-1">
                    <strong>Local authority:</strong>
                        <span >Gloucestershire</span>
                </div>
               <div id="region-26" class="govuk-!-margin-top-1">
                   <strong>Region:</strong>
                       <span >South West</span>
               </div>
            </td>
        </tr>
    <tr class="govuk-table__row" data-cy="select-projectlist-filter-row">
        <td class="govuk-table__cell">
           <div class="govuk-!-margin-top-1 govuk-!-margin-bottom-2">
              <strong>
        <a id="school-name-0" class="govuk-link" data-cy="trust-name-0" href="/about-the-school/26">Sacred Heart Roman Catholic Junior School Manchester</a>
              </strong>
           </div>
            <div class="govuk-!-margin-top-1">
                <span id="urn-0"><strong>URN:</strong> 105517</span>
            </div>
            <div id="localauthority-26" class="govuk-!-margin-top-1">
                <strong>Local authority:</strong>
                    <span >Manchester</span>
            </div>
           <div id="region-26" class="govuk-!-margin-top-1">
               <strong>Region:</strong>
                   <span >North West</span>
           </div>
        </td>
    </tr>
    <tr class="govuk-table__row" data-cy="select-projectlist-filter-row">
        <td class="govuk-table__cell">
           <div class="govuk-!-margin-top-1 govuk-!-margin-bottom-2">
              <strong>
        <a id="school-name-1" class="govuk-link" data-cy="trust-name-1" href="/about-the-school/25">Kendrick School</a>
              </strong>
           </div>
            <div class="govuk-!-margin-top-1">
                <span id="urn-1"><strong>URN:</strong> 110042</span>
            </div>
            <div id="localauthority-25" class="govuk-!-margin-top-1">
                <strong>Local authority:</strong>
                    <span >Reading</span>
            </div>
           <div id="region-25" class="govuk-!-margin-top-1">
               <strong>Region:</strong>
                   <span >South East</span>
           </div>
        </td>
    </tr>
    <tr class="govuk-table__row" data-cy="select-projectlist-filter-row">
        <td class="govuk-table__cell">
           <div class="govuk-!-margin-top-1 govuk-!-margin-bottom-2">
              <strong>
        <a id="school-name-2" class="govuk-link" data-cy="trust-name-2" href="/about-the-school/24">Chestnut Lane School</a>
              </strong>
           </div>
            <div class="govuk-!-margin-top-1">
                <span id="urn-2"><strong>URN:</strong> 110294</span>
            </div>
            <div id="localauthority-24" class="govuk-!-margin-top-1">
                <strong>Local authority:</strong>
                    <span >Buckinghamshire</span>
            </div>
           <div id="region-24" class="govuk-!-margin-top-1">
               <strong>Region:</strong>
                   <span >South East</span>
           </div>
        </td>
    </tr>
    <tr class="govuk-table__row" data-cy="select-projectlist-filter-row">
        <td class="govuk-table__cell">
           <div class="govuk-!-margin-top-1 govuk-!-margin-bottom-2">
              <strong>
        <a id="school-name-3" class="govuk-link" data-cy="trust-name-3" href="/about-the-school/23">Locking Stumps Community Primary School</a>
              </strong>
           </div>
            <div class="govuk-!-margin-top-1">
                <span id="urn-3"><strong>URN:</strong> 111204</span>
            </div>
            <div id="localauthority-23" class="govuk-!-margin-top-1">
                <strong>Local authority:</strong>
                    <span >Warrington</span>
            </div>
           <div id="region-23" class="govuk-!-margin-top-1">
               <strong>Region:</strong>
                   <span >North West</span>
           </div>
        </td>
    </tr>
    <tr class="govuk-table__row" data-cy="select-projectlist-filter-row">
        <td class="govuk-table__cell">
           <div class="govuk-!-margin-top-1 govuk-!-margin-bottom-2">
              <strong>
        <a id="school-name-4" class="govuk-link" data-cy="trust-name-4" href="/about-the-school/22">Kendrick School</a>
              </strong>
           </div>
            <div class="govuk-!-margin-top-1">
                <span id="urn-4"><strong>URN:</strong> 136448</span>
            </div>
            <div id="localauthority-22" class="govuk-!-margin-top-1">
                <strong>Local authority:</strong>
                    <span >Reading</span>
            </div>
           <div id="region-22" class="govuk-!-margin-top-1">
               <strong>Region:</strong>
                   <span >South East</span>
           </div>
        </td>
    </tr>
    </tbody>
    </table>

    </div>

    


  </div>

{% endblock %}

{% block footer %}
{% include "/layouts/rsd-footer.html" %}
{% endblock %}
