{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <!--
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
  -->

{% endblock %}

{% block header %}
{% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if (data['assigned-to'] == NULL) %} 
      {% include "/layouts/task-locked-banner-2.html" %}
    

      {% elif (data['accepted-support'] == NULL) or (data['response-saved'] != 'done') or (data['school-response-date-day'] == '') or (data['allocated-adviser-email'] == NULL) or (data['adviser-allocated-date-day'] == '') %}
      {% include "/layouts/task-locked-banner.html" %}
      {% endif %}


     

      <span class="govuk-caption-l">Cheltenham Spa Primary School</span>
      <h1 class="govuk-heading-l">
        Send introductory email
      </h1>

   </div>
   </div>

   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="padding-bottom-15">The adviser should email the school to introduce themselves to the school's responsible body.</p>



      <form class="form" action="../task-list-locked" method="post">

        
        
        {% from "govuk/components/radios/macro.njk" import govukRadios %}
 
         
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <!--
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h2 class="govuk-fieldset__heading padding-bottom-15">
                Save the school’s response in SharePoint
              </h1>
            </legend>
          -->
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item padding-bottom-15">
                <input class="govuk-checkboxes__input" id="share-email-template" name="share-email-template" type="checkbox" value="done" {{checked("share-email-template", "done")}}>
                <label class="govuk-label govuk-checkboxes__label" for="share-email-template">
                  Share email template with adviser
                </label>
              </div>
              <div class="govuk-checkboxes__item padding-bottom-15">
                <input class="govuk-checkboxes__input" id="remind-the-adviser" name="remind-the-adviser" type="checkbox" value="done" {{checked("remind-the-adviser", "done")}}>
                <label class="govuk-label govuk-checkboxes__label" for="remind-the-adviser">
                  Remind the adviser to copy in the RISE team when they send the email
                </label>
              </div>
              
             
        
            </div>
          </fieldset>
        </div>


        {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

        {{ govukDateInput({
          id: "introductory-email-date",
          namePrefix: "introductory-email-date",
          fieldset: {
            legend: {
              text: "Enter date the introductory email was sent",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 1 7 2024."
          },
          items: [
            {
              name: "day",
              value: data["introductory-email-date-day"],
              allowEmpty: false,
              classes: "govuk-input--width-2"
            },
            {
              name: "month",
              value: data["introductory-email-date-month"],
              allowEmpty: false,
              classes: "govuk-input--width-2"
            },                
            {
              name: "year",
              value: data["introductory-email-date-year"],
              allowEmpty: false,
              classes: "govuk-input--width-4"
            }
          ]
        }) }}

        {% if (data['accepted-support'] != NULL) and (data['response-saved'] == 'done') and (data['school-response-date-day'] != '') and (data['allocated-adviser-email'] != NULL) and (data['adviser-allocated-date-day'] != '') %}
        {{ govukButton({
        text: "Save and return"
        }) }}
        {% endif %}

      </form>

    </div>

    <!--
    <div class="govuk-grid-column-one-third">

      <h2 class="govuk-heading-m">
      Task notes
      </h2>

     
      <a href="../task-notes/contact-responsible-body.html" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Add a new task note
      </a>
      
      {% if (data['task-note'] != NULL) %}   
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p>10 March 2025
        <strong class="govuk-tag govuk-tag--green">
          New
        </strong>
        <br>
      <strong>Bob Roberts</strong></p>
      <p>{{ data['task-note']}}</p>
      <p>
        <a href="../task-notes/contact-the-school.html">Edit note</a>
      </p>
      <hr class="govuk-section-break govuk-section-break--visible">
      {% endif %}

    </div>
    -->

  </div>


{% endblock %}

{% block footer %}
{% include "/layouts/rsd-footer.html" %}
{% endblock %}
