.govuk-phase-banner {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom:0px solid #b1b4b6
}
.govuk-margin-bottom-1 {
    margin-bottom: 10px !important;
}
.govuk-heading-l-summary-below {
    margin-bottom: 20px !important;
}
.govuk-heading-xl {
    font-size: 3rem;
    line-height: 1.1;
;
}
.govuk-heading-xl-summary-below {
    margin-bottom: 20px !important;
}
.empty {
    display: inline-block;
    border: 2px solid;
    outline-offset: -2px;
    color: #505a5f;
    background-color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1;
    padding-top: 3px;
    padding-right: 8px;
    padding-bottom: 3px;
    padding-left: 8px;
    margin-right:8px
}
.govuk-tag {
    max-width: 300px !important;
}
.autocomplete__menu {
    margin-top:3px;
    padding-top:8px;
}
.autocomplete__option {
    margin-top:-8px;
}
.govuk-checkboxes__item:last-of-type {
      margin-top:-15px;
}
.padding-bottom-10 {
    padding-bottom:10px;
}
.margin-top-15 {
    margin-top:15px;
}
.padding-top-15 {
    padding-top:15px;
}
.margin-bottom-minus-20 {
    margin-bottom:-20px;
}