.govuk-phase-banner {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom:0px solid #b1b4b6
}
.govuk-margin-bottom-1 {
    margin-bottom: 10px !important;
}
.govuk-heading-l-summary-below {
    margin-bottom: 20px !important;
}
.govuk-heading-xl {
    font-size: 3rem;
    line-height: 1.1;
;
}
.govuk-heading-xl-summary-below {
    margin-bottom: 20px !important;
}
.empty {
    display: inline-block;
    border: 2px solid;
    outline-offset: -2px;
    color: #505a5f;
    background-color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1;
    padding-top: 3px;
    padding-right: 8px;
    padding-bottom: 3px;
    padding-left: 8px;
    margin-right:8px
}
.govuk-tag {
    max-width: 300px !important;
}
.autocomplete__menu {
    margin-top:3px;
    padding-top:8px;
}
.autocomplete__option {
    margin-top:-8px;
}



.padding-bottom-10 {
    padding-bottom:10px;
}
.padding-bottom-15 {
    padding-bottom:15px;
}
.margin-top-15 {
    margin-top:15px;
}
.margin-top-10 {
    margin-top:10px;
}
.margin-top-7 {
    margin-top:6px;
}
.margin-bottom-10 {
    margin-bottom:10px;
}
.margin-bottom-minus-10 {
    margin-bottom:-10px;
}
.padding-top-15 {
    padding-top:15px;
}
.padding-top-0 {
    padding-top:0px !important;
}
.padding-bottom-0 {
    padding-bottom:0px !important;
}
.margin-bottom-minus-20 {
    margin-bottom:-20px;
}
.margin-bottom-minus-15 {
    margin-bottom:-15px;
}

.margin-bottom-15 {
    margin-bottom:15px;
}
.margin-top-minus-15 {
    margin-top:-15px;
}
.margin-top-minus-20 {
    margin-top:-20px;
}
.margin-top-minus-10 {
    margin-top:-10px;
}
.margin-top-minus-25 {
    margin-top:-25px;
}
.margin-top-minus-30 {
    margin-top:-30px;
}
.margin-top-minus-40 {
    margin-top:-40px;
}
.margin-bottom-30 {
    margin-bottom:30px;
}
.margin-bottom-minus-30 {
    margin-bottom:-30px;
}
.margin-left-10 {
    margin-left:10px;
}
.margin-left-16 {
    margin-left:16px;
}
.filter-tags {
    margin-top:-20px;
    padding-bottom:20px;
}
.no-border {
    border:none;
}
.ticket-height { 
    height: 40px !important;
}
.redbg {
    background-color: #b12e31;
}
.text-align-right {
    text-align:right;
}
.text-align-bottom {
vertical-align: text-bottom;
}
.text-align-bottom-right {
    text-align:right;
    vertical-align: text-bottom;
    }
.moj-filter__tag {
    margin-right:-15px !important;
}
.top-section {
    background-color:#ebf2f6;
}


@media (max-width: 40.0625em) {
    .govuk-summary-list__actions__engagement {
      width:150px;
      text-align: right;
      background-color:#b1b4b6;
      float:right;
    }
  }
  .govuk-header__link .govuk-header__logotype{
    height: 30px;
  }
  
  .govuk-header__link:focus .govuk-header__logotype{
    content: url(/public/images/department-for-education_black.png);
    height: 30px;
  }