{% extends "layouts/main.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block beforeContent %}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <!--
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
  -->

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Success
              </h2>
            </div>
            <div class="govuk-notification-banner__content">
              <h3 class="govuk-notification-banner__heading">
                Note added
              </h3>
            </div>
          </div>

      {% include "/layouts/summary-section.html" %}

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "/layouts/sub-nav-tabs-notes.html" %}

      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">Notes</h2>

      

      <div class="govuk-!-margin-top-5">
        {{ govukButton({ text: "Add note", href: "#" }) }}
      </div>

      {% if (data['project-note'] != NULL) %}   
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p>1 March 2025
        <strong class="govuk-tag govuk-tag--green">
          New
        </strong>
        <strong class="govuk-tag govuk-tag--blue">
          Project note
        </strong>
        
        <br>
      <strong>Bob Roberts</strong></p>
      <p>{{ data['project-note']}}</p>
      <p>
        <a href="add-note">Edit note</a>
      </p>
      <hr class="govuk-section-break govuk-section-break--visible">
      {% endif %}

     

        </div>
      </div>
      

    
      <!--
      <div class="govuk-!-margin-top-5">
        {{ govukButton({ text: "Add note", href: "#" }) }}
      </div>
      -->

    </div>
  </div>
{% endblock %}

{% block footer %}
{% include "/layouts/rsd-footer.html" %}
{% endblock %}
