{% extends "../includes/form-template.html" %}

{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "/layouts/dfe-header.html" %}
{% endblock %}

{% block beforeContent %}
  
  <!--
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  -->

  <!--
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
  -->

{% endblock %}

{% set pageTitle = "What is the school name? – Involuntary conversions – GOV.UK" %}


{% block formQuestions %}
    <form action="./inspected-again" method="post" novalidate>
        

      
        {% set pageHeading %}
            What is the school name?
        {% endset %}


        {{ govukSelect({
            label: {
                html: pageHeading,
                classes: "govuk-label--xl",
                isPageHeading: true
            },
            hint: {
              text: "Search by name or URN (Unique Reference Number)."
            },
            id: "school-name",
            name: "school-name",
            value: data['school-name'],
            items: [
              {
                value: "",
                text: ""
              },
              {
                value: "Cheltenham Spa Primary School",
                text: "Cheltenham Spa Primary School",
                selected: checked("school-name", "Cheltenham Spa Primary School")
              }
            ]
          }) }}




          {{ govukButton({
            text: "Continue"
        }) }}
          
         


    </form>
    <script>
    document.addEventListener("DOMContentLoaded", () => {
      accessibleAutocomplete.enhanceSelectElement({
        selectElement: document.querySelector('#school-name')
      })
    });
    </script>
{% endblock %}