{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "/layouts/dfe-header-start.html" %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }} prototype
    </h1>

    <p>This is where the RSD Manage school improvement service prototype lives.</p>

    <a href="sprint1-Q4-26/project-list.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Start prototype
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>

    <!-- Sprint 1 - Q4 - 26 (31 December 2025 - 13 January 2026) -->
    <h2 class="govuk-heading-m">
      Sprint 1 - Q4 - 26 (31 December 2025 - 13 January 2026)
    </h2>
    
    <h3 class="govuk-heading-s">Global changes</h3>
    <ul>
      <li><a href="#">XX</a></li>
    </ul>

    <h3 class="govuk-heading-s">Updates to core pages</h3>
    <ul>
      <li><a href="sprint1-Q4-26/contacts">Contacts</a> (Added new section for 'Contacts without an organisation')</li>
      <li><a href="sprint1-Q4-26/project-status">Project status</a> (Added new success banner if project status has been updated)</li>
    </ul>

    <h3 class="govuk-heading-s">Updates to core journeys</h3>
    <ul>
      <li><a href="#">XX</a></li>
    </ul>

    <h3 class="govuk-heading-s">Updates to tasklist tasks</h3>
    <ul>
      <li><a href="sprint1-Q4-26/add-supporting-org-contact-details/add-supporting-organisation-contact-details">Add supporting organisation contact details</a> (new logic based on "Choose SO" task, first use of FIAT 'Soruces and components' component)</li>
    </ul>

    <!-- Sprint 5 - Q3 - 25 (3 December 25 - 16 December 25) -->
    <h2 class="govuk-heading-m">
      Sprint 5 - Q3 - 25 (3 December 25 - 16 December 25)
    </h2>

    <h3 class="govuk-heading-s">Updates to core journeys</h3>
    <ul>
      <li><a href="sprint5-Q3-25/contacts">Add a contact</a></li>
      <li><a href="sprint5-Q3-25/project-status">Project status / eligibility</a></li>
    </ul>

    <h3 class="govuk-heading-s">Updates to tasklist tasks</h3>
    <ul>
      <li><a href="sprint5-Q3-25/task-list/conflicts-of-interest">Check potential adviser conflicts of interest</a> Example when project status is "Stopped"</li>
      <li><a href="sprint5-Q3-25/task-list/record-matching-decision">Record initial diagnosis decision</a> Example when project status is "Stopped"</li> 
      <li><a href="sprint5-Q3-25/task-list/share-improvement-plan-template">Share indicative funding band and the improvement plan template</a> Example when project status is "Stopped"</li> 
      <li><a href="sprint5-Q3-25/choose-preferred-supporting-org/hybrid/choose-preferred-supporting-organisation">Choose supporting organisation</a> Added "Federation or educational partnership" option for supporting organisation</li> 
    </ul>
    
    <!-- Sprint 4 - Q3 - 25 (19 November 25 - 2 December 25) -->
    <h2 class="govuk-heading-m">
      Sprint 4 - Q3 - 25 (19 November 25 - 2 December 25)
    </h2>
    
    <h3 class="govuk-heading-s">Global changes</h3>
    <ul>
      <li>Task list tag now shows "Cannot progress" if the current project status is "Stopped"</li>
    </ul>

    <h3 class="govuk-heading-s">Updates to core pages</h3>
    <ul>
      <li><a href="sprint4-Q3-25/project-list">Project list filters (added filter and status tag)</a></li>
      <li><a href="sprint4-Q3-25/task-list">Task list (added status tag)</a></li>
    </ul>

    <h3 class="govuk-heading-s">Updates to core journeys</h3>
    <ul>
      <li><a href="sprint4-Q3-25/project-status">Project status / eligibility</a></li>
      <li><a href="sprint4-Q3-25/contacts">Add a contact</a></li>
    </ul>

    <h3 class="govuk-heading-s">Updates to tasklist task</h3>
    <ul>
      <li><a href="sprint4-Q3-25/choose-preferred-supporting-org/hybrid/choose-preferred-supporting-organisation">Choose/Change a supporting organisation</a></li>
      <li><a href="sprint4-Q3-25/task-list/send-introductory-email.njk">Send introductory email</a></li>
    </ul>
    
    <!-- Sprint 3 - Q3 - 25 (5 November 25 - 18 November 25) -->
    <h2 class="govuk-heading-m">
      Sprint 3 - Q3 - 25 (5 November 25 - 18 November 25)
    </h2>
    
    <h3 class="govuk-heading-s">Global changes</h3>
    <ul>
      <li>Changing file types from HTML to NJK as I go along, to help with readability of code within VS Code.</li>
      <li>Upgraded the sub-nav to use the MoJ component. Also, slimmed down the files required to just 1 for relevant "active" states.</li>      
      <li>Updated "Task list updated" to be the exact same as "Task list", with addition of success banner.</li>
    </ul>

    <h3 class="govuk-heading-s">Updates to core pages</h3>
    <ul>
      <li><a href="sprint3-Q3-25/project-list">Project list filters</a></li>
      <li><a href="sprint3-Q3-25/contacts">Contacts</a></li>
    </ul>

    <h3 class="govuk-heading-s">Updates to tasklist task</h3>
    <ul>
      <li><a href="sprint3-Q3-25/choose-preferred-supporting-org/auto-complete/choose-preferred-supporting-organisation">Choose/Change a supporting organisation - Uses auto-complete</a></li>
      <li><a href="sprint3-Q3-25/choose-preferred-supporting-org/manual/choose-preferred-supporting-organisation">Choose/Change a supporting organisation - Manual entry</a></li>
      <li><a href="sprint3-Q3-25/choose-preferred-supporting-org/hybrid/choose-preferred-supporting-organisation">Choose/Change a supporting organisation - Hybrid</a></li>
    </ul>
    
    <!-- Sprint 2 - Q3 - 25 (22 October 25 - 4 November 25) -->
    <h2 class="govuk-heading-m">
      Sprint 2 - Q3 - 25 (22 October 25 - 4 November 25)
      <span class ="govuk-heading-s"></span> 
    </h2>

    <p>Contacts demo</p>
      <ul>
        <li><a href="sprint2-Q3-25/contacts-new-schools-1a">Tewkesbury Secondary School</a></li>
        <li><a href="sprint2-Q3-25/contacts-new-academies-2b">Cirencester Academy v1</a></li>
        <li><a href="sprint2-Q3-25/contacts-new-academies-2c">Cirencester Academy v2</a></li>
      </ul>
      
      <p>New pages / journeys designed in this sprint:</p>
    
      <ul>
        <li><a href="sprint2-Q3-25/project-status-vertical-nav">Project status</a></li>
      </ul>
        
      <p>Pages / journeys redesigned in this sprint:</p>
        
      <ul>
        <li><a href="sprint2-Q3-25/project-list-date-filters">Project list - date filters A</a></li>
        <li><a href="sprint2-Q3-25/project-list-date-filters-2">Project list - date filters B</a></li>
        <li><a href="sprint2-Q3-25/project-list-date-range">Project list - date range</a></li>
      </ul>
       
      <p>Useful shortcuts</p>
        
      <ul>
        <li><a href="sprint2-Q3-25/project-list-school-added">Project list page - school added</a></li>
        <li><a href="sprint2-Q3-25/task-list/eligibility-check-1">Eligibility version 1</a></li>
        <li><a href="sprint2-Q3-25/task-list/eligibility-check-2">Eligibility version 2</a></li>
        <li><a href="sprint2-Q3-25/task-list/eligibility-check-3">Eligibility version 3</a></li>
      </ul>
      
      


      <h2 class="govuk-heading-m">
        Sprint 1 - Q3 - 25 (8 October 25 - 21 October 25)
        <span class ="govuk-heading-s"></span> 
      </h2>


      <p>Contacts demo</p>
        <ul>
          <li><a href="sprint1-Q3-25/task-list-tewkesbury.html">Tewkesbury Secondary School</a></li>
          <li><a href="sprint1-Q3-25/task-list-cirencester.html">Cirencester Academy</a></li>
        </ul>
      
      
        <p>
        New pages / journeys designed in this sprint:
    
        
        <ul>
          <li><a href="sprint1-Q3-25/project-status-vertical-nav">Project status</a></li>
          <li><a href="sprint1-Q3-25/contacts-new-schools-1a">Contacts - schools version 1a</a></li>
          <li><a href="sprint1-Q3-25/contacts-new-schools-1b">Contacts - schools version 1b</a></li>
          <li><a href="sprint1-Q3-25/contacts-new-schools-2a">Contacts - schools version 2a</a></li>
          <li><a href="sprint1-Q3-25/contacts-new-schools-2b">Contacts - schools version 2b</a></li>

          <li><a href="sprint1-Q3-25/contacts-new-academies-1a">Contacts - academies version 1a</a></li>
          <li><a href="sprint1-Q3-25/contacts-new-academies-1b">Contacts - academies version 1b</a></li>
          <li><a href="sprint1-Q3-25/contacts-new-academies-2a">Contacts - academies version 2a</a></li>
          <li><a href="sprint1-Q3-25/contacts-new-academies-2b">Contacts - academies version 2b</a></li>



          <li><a href="sprint1-Q3-25/contacts-1">Contacts version 1</a></li>
          <li><a href="sprint1-Q3-25/contacts-2">Contacts version 2</a></li>
          <li><a href="sprint1-Q3-25/contacts-3a">Contacts version 3a</a></li>
          <li><a href="sprint1-Q3-25/contacts-3b">Contacts version 3b</a></li>
          <li><a href="sprint1-Q3-25/contacts-4a">Contacts version 4a</a></li>
          <li><a href="sprint1-Q3-25/contacts-4b">Contacts version 4b</a></li>
          <li><a href="sprint1-Q3-25/task-list/eligibility-check-1">Eligibility version 1</a></li>
          <li><a href="sprint1-Q3-25/task-list/eligibility-check-2">Eligibility version 2</a></li>
          <li><a href="sprint1-Q3-25/task-list/eligibility-check-3">Eligibility version 3</a></li>
        </ul>
        
      
      </p>

      <p>
        Pages / journeys redesigned in this sprint:
        
        
        <ul>
        
        <li><a href="sprint1-Q3-25/contacts">Contacts demo</a></li>
        <li><a href="sprint1-Q3-25/task-list/area-of-improvement">Objectives area of improvement task</a></li>
        <li><a href="sprint1-Q3-25/task-list/review-objectives-validation">Review objectives validation</a></li>
       
        </ul>
       
      </p>
      

      <p>
        Useful shortcuts
        
        <ul>
          <li><a href="sprint1-Q3-25/project-list-school-added">Project list page - school added</a></li>
          <li><a href="sprint1-Q3-25/task-list-locked">Task list - locked version</a></li>
          <li><a href="sprint1-Q3-25/contacts-la">Contacts - Local authority schools</a></li>
          <li><a href="sprint1-Q3-25/contacts-la-faith">Contacts - Local authority faith schools</a></li>
          <li><a href="sprint1-Q3-25/contacts-la-federation">Contacts - Local authority schools in a federation</a></li>
          <li><a href="sprint1-Q3-25/contacts-la-faith-federation">Contacts - Local authority faith schools in a federation</a></li>
          <li><a href="sprint1-Q3-25/contacts-academy">Contacts - Academies</a></li>
          <li><a href="sprint1-Q3-25/contacts-academy-faith">Contacts - Academy faith schools</a></li>
          <li><a href="sprint1-Q3-25/contacts-alt">Contacts - alternative iteration</a></li>
        </ul>
      
      </p>

     

      <h2 class="govuk-heading-m">
        Sprint 7 - Q2 - 25 (24 September 25 - 7 October 25)
        <span class ="govuk-heading-s"></span> 
      </h2>

      <p>
        New pages / journeys designed in this sprint:
    
        <!--
        <ul>
          <li><a href="sprint6-Q2-25/record-engagement-concern-validation-count">Record engagement concern validation - character count</a></li>
        </ul>
        -->
      
      </p>

      <p>
        Pages / journeys redesigned in this sprint:
        
        
        <ul>
        <li><a href="sprint7-Q2-25/add-contact">Add contact</a></li>
        <li><a href="sprint7-Q2-25/contacts">Contacts demo</a></li>
        <li><a href="sprint7-Q2-25/contacts-la">Contacts - Local authority schools</a></li>
        <li><a href="sprint7-Q2-25/contacts-la-faith">Contacts - Local authority faith schools</a></li>
        <li><a href="sprint7-Q2-25/contacts-la-federation">Contacts - Local authority schools in a federation</a></li>
        <li><a href="sprint7-Q2-25/contacts-la-faith-federation">Contacts - Local authority faith schools in a federation</a></li>
        <li><a href="sprint7-Q2-25/contacts-academy">Contacts - Academies</a></li>
        <li><a href="sprint7-Q2-25/contacts-academy-faith">Contacts - Academy faith schools</a></li>
        <li><a href="sprint7-Q2-25/contacts-alt">Contacts - alternative iteration</a></li>
        </ul>
       
      </p>
      

      <p>
        Useful shortcuts
        
        <ul>
          <li><a href="sprint7-Q2-25/project-list-school-added">Project list page - school added</a></li>
          <li><a href="sprint7-Q2-25/task-list-locked">Task list - locked version</a></li>
        </ul>
      
      </p>

      <h2 class="govuk-heading-m">
        Sprint 6 - Q2 - 25 (10 September 25 - 23 September 25)
        <span class ="govuk-heading-s"></span> 
      </h2>

      <p>
        New pages / journeys designed in this sprint:
    
        <ul>
          <li><a href="sprint6-Q2-25/record-engagement-concern-validation-count">Record engagement concern validation - character count</a></li>
          <li><a href="sprint6-Q2-25/select-information-powers-concern">Select information powers concern</a></li>
          <li><a href="sprint6-Q2-25/select-information-powers-concern-validation">Select information powers concern validation</a></li>
          <li><a href="sprint6-Q2-25/select-interim-executive-board-concern">Select interim executive board concern</a></li>
          <li><a href="sprint6-Q2-25/select-interim-executive-board-concern-validation">Select interim executive board concern validation</a></li>
          <li><a href="sprint6-Q2-25/record-information-powers-past-date-validation">Record information powers validation - date in the future</a></li>
          <li><a href="sprint6-Q2-25/record-interim-executive-board-past-date-validation">Record interim executive board validation - date in the future</a></li>
          <li><a href="sprint6-Q2-25/escalation-date-past-validation">Escalation date validation - date in the future</a></li>
          <li><a href="sprint6-Q2-25/record-engagement-concern-resolve-validation">Engagement concern resolution details validation</a></li>
        </ul>
      
      </p>

      <p>
        Pages / journeys redesigned in this sprint:
        
        <ul>
        <li><a href="sprint6-Q2-25/engagement-concerns">Escalation to mandation journey - v3</a></li>
        <li><a href="sprint6-Q2-25/record-engagement-concern">Record engagement concern</a></li>
        <li><a href="sprint6-Q2-25/record-engagement-concern-validation">Record engagement concern validation - no summary or details</a></li>
        <li><a href="sprint6-Q2-25/record-engagement-concern-validation-count">Record engagement concern validation - character count</a></li>
        <li><a href="sprint6-Q2-25/record-information-powers">Record information powers</a></li>
        <li><a href="sprint6-Q2-25/record-information-powers-validation">Record information powers validation</a></li>
        <li><a href="sprint6-Q2-25/record-interim-executive-board">Record interim executive board</a></li>
        <li><a href="sprint6-Q2-25/record-interim-executive-board-validation">Record interim executive board validation</a></li>
        </ul>
    
      </p>

      <p>
        Useful shortcuts:
        <ul>
          <li><a href="sprint6-Q2-25/project-list-school-added">Project list page - school added</a></li>
          <li><a href="sprint5-Q2-25/engagement-concerns">Escalation to mandation journey - v1</a></li>
          <li><a href="sprint6-Q2-25/engagement-concerns-v2">Escalation to mandation journey - v2</a></li>
          <li><a href="sprint6-Q2-25/record-engagement-concern-validation-2">Record engagement concern validation - no summary or details - v2</a></li>
          <li><a href="sprint6-Q2-25/record-information-powers-original">Record information powers - checkbox</a></li>
          <li><a href="sprint6-Q2-25/record-interim-executive-board-original">Record interim executive board - checkbox</a></li>
          <li><a href="sprint6-Q2-25/resolve-engagement-concern-original">Resolve engagement concern - checkbox</a></li>
          <li><a href="sprint6-Q2-25/task-list-locked">Task list - locked version</a></li>
        </ul>
      </p>





      <h2 class="govuk-heading-m">
        Sprint 5 - Q2 - 25 (27 August 25 - 9 September 25)
        <span class ="govuk-heading-s"></span> 
      </h2>

      <p>
        New pages / journeys designed in this sprint:
    
        <ul>
          <!--
          <li><a href="sprint6-Q2-25/task-list/record-information-powers-past-date-validation">Record information powers validation - date in the future</a></li>
          -->
        </ul>
      
      </p>

      <p>
        Pages / journeys redesigned in this sprint:
        
        <ul>
          
        <li><a href="sprint5-Q2-25/engagement-concerns">Escalation to mandation journey - v1</a></li>
        <li><a href="sprint5-Q2-25/record-engagement-concern-validation">Record engagement concern validation</a></li>
        <li><a href="sprint5-Q2-25/record-engagement-concern-validation-2">Record engagement concern validation - no details</a></li>

        <li><a href="sprint5-Q2-25/record-information-powers-validation">Record information powers validation</a></li>
        <li><a href="sprint5-Q2-25/record-information-powers-validation-2">Record information powers validation - no details</a></li>

        <li><a href="sprint5-Q2-25/information-powers-date-validation">Information powers date validation - no date</a></li>
        <li><a href="sprint5-Q2-25/information-powers-date-validation-2">Information powers date validation - future date</a></li>
        <li><a href="sprint5-Q2-25/escalate-engagement-concern">Escalate engagement concern</a></li>
        <li><a href="sprint5-Q2-25/escalate-engagement-concern-validation">Escalate engagement concern validation</a></li>
        <li><a href="sprint5-Q2-25/escalation-date-validation">Escalation date validation - no date</a></li>
        <li><a href="sprint5-Q2-25/escalation-date-validation-2">Escalation date validation - future date</a></li>
        <li><a href="sprint5-Q2-25/record-interim-executive-board-validation">Record interim executive board validation</a></li>
        <li><a href="sprint5-Q2-25/record-interim-executive-board-validation-2">Record interim executive board validation - no details</a></li>
        <li><a href="sprint5-Q2-25/interim-executive-board-date-validation">Interim executive board date validation - no date</a></li>
        <li><a href="sprint5-Q2-25/interim-executive-board-date-validation-2">Interim executive board date validation - future date</a></li>
        <li><a href="sprint5-Q2-25/resolve-engagement-concern-validation">Resolve engagement concern validation</a></li>
        <li><a href="sprint5-Q2-25/resolve-engagement-concern-validation-2">Resolve engagement concern validation - no details</a></li>
        <li><a href="sprint5-Q2-25/resolved-date-validation">Engagement concern resolved date validation - no date</a></li>
        <li><a href="sprint5-Q2-25/resolved-date-validation-2">Interim executive board date validation - future date</a></li>




        </ul>
    
      </p>

      

      <p>
        Useful shortcuts:
        <ul>
          <li><a href="sprint5-Q2-25/project-list-school-added">Project list page - school added</a></li>
          <li><a href="sprint5-Q2-25/task-list-locked">Task list - locked version</a></li>
        </ul>
      </p>


      <h2 class="govuk-heading-m">
        Sprint 2 - Q2 - 25 (16 July 25 - 29 July 25)
        <span class ="govuk-heading-s"></span> 
      </h2>

      <p>
        New pages / journeys designed in this sprint:
    
        <ul>
          <li><a href="sprint2-Q2-25/task-list/make-initial-contact-with-responsible-body">Make initial contact with the responsible body</a></li>
          
        </ul>
      
      </p>

      <p>
        Pages / journeys redesigned in this sprint:
        
        <ul>
          <li><a href="sprint2-Q2-25/task-list/formal-letter-of-notification">'Contact responsible body' task renamed as 'Send the letter of formal notification'</a></li>
          <li><a href="sprint2-Q2-25/task-list/allocate-an-adviser">Auto populate name added to 'Allocate an adviser' task</a></li>
         <li><a href="sprint2-Q2-25/task-list">Enter improvement plan objectives task added under 'Create the improvement plan' section</a></li>
         <li><a href="sprint2-Q2-25/improvement-plan">Objectives and progress tab renamed 'Improvement plan'</a></li>
        </ul>
    
      </p>

      

      <p>
        Useful shortcuts:
        <ul>
          <li><a href="sprint2-Q2-25/project-list-school-added">Project list page - school added</a></li>
          <li><a href="sprint2-Q2-25/task-list-locked">Task list - locked version</a></li>
          <li><a href="sprint1-Q2-25/objectives">Journey to record objectives - v2</a></li>
          <li><a href="sprint1-Q2-25/progress-reviews">Journey to add progress reviews - v2</a></li>
          <li><a href="sprint6-Q1-25/objectives-and-progress">Journey to record objectives</a></li>
          <li><a href="sprint6-Q1-25/termly-reviews">Journey to add progress reviews</a></li>
          <li><a href="sprint6-Q1-25/progress-summary">Journey to record progress</a></li>
        </ul>
      </p>






      <h2 class="govuk-heading-m">
        Sprint 1 - Q2 - 25 (2 July 25 - 15 July 25)
        <span class ="govuk-heading-s"></span> 
      </h2>

      <p>
        New pages / journeys designed in this sprint:
    
        <ul>
          <li><a href="sprint1-Q2-25/objectives">Journey to record objectives</a></li>
          <li><a href="sprint1-Q2-25/progress-reviews">Journey to add progress reviews</a></li>
        </ul>
      
      </p>

      <p>
        Pages / journeys redesigned in this sprint:
        
        <ul>
          
          <li><a href="sprint1-Q2-25/task-list/arrange-adviser-visit.html">Updated the 'Arrange adviser's initial visit'' task</a></li>
          <li><a href="sprint1-Q2-25/task-list/record-matching-decision.html">Updated the 'Record matching decision' task</a></li>
          <li><a href="sprint1-Q2-25/about-the-school">Added the trust the school belongs to</a></li>
        </ul>
    
      </p>

      <p>
        Pages / journeys removed in this sprint:
    
        <ul>
          <li>Write and save the note of visit task</li>
        </ul>
      
      </p>

      <p>
        Useful shortcuts:
        <ul>
          <li><a href="sprint1-Q2-25/project-list-school-added">Project list page - school added</a></li>
          <li><a href="sprint6-Q1-25/objectives-and-progress">Journey to record objectives</a></li>
          <li><a href="sprint6-Q1-25/termly-reviews">Journey to add progress reviews</a></li>
          <li><a href="sprint6-Q1-25/progress-summary">Journey to record progress</a></li>
        </ul>
      </p>


      <h2 class="govuk-heading-m">
        Sprint 6 - Q1 - 25 (18 June 25 - 1 July 25)
        <span class ="govuk-heading-s"></span> 
      </h2>

      <p>
        New pages / journeys designed in this sprint:
    
        <ul>
          <li><a href="sprint6-Q1-25/objectives-and-progress">Journey to record objectives</a></li>
          <li><a href="sprint6-Q1-25/termly-reviews">Journey to add progress reviews</a></li>
          <li><a href="sprint6-Q1-25/progress-summary">Journey to record progress</a></li>
        </ul>
      
      </p>

      <p>
        Pages / journeys redesigned in this sprint:
        
        <ul>
          <li><a href="sprint6-Q1-25/task-list/contact-responsible-body">Contact the responsible body task updated</a></li>
          <li><a href="sprint6-Q1-25/task-list/save-assessment-template">Complete and save the assessment template task renamed and updated</a></li>
          <li><a href="sprint6-Q1-25/task-list/record-matching-decision">Record matching decision task renamed and updated</a></li>
        </ul>
    
      </p>

      <p>
        Useful shortcuts:
        <ul>
          <li><a href="sprint6-Q1-25/project-list-school-added">Project list page - school added</a></li>
          <li><a href="sprint6-Q1-25/engagement-concern">Escalation and information powers added to engagement concern journey</a></li>
        </ul>
      </p>




      <h2 class="govuk-heading-m">
        Sprint 5 - Q1 - 25 (4 June 25 - 17 June 25)
        <span class ="govuk-heading-s"></span> 
      </h2>

      <p>
        Pages / journeys redesigned in this sprint:
        <!---->
        <ul>
          <li><a href="sprint5-Q1-25/engagement-concern">Escalation and information powers added to engagement concern journey</a></li>
          <li><a href="sprint5-Q1-25/task-list/request-planning-grant-offer-letter">Request planning grant offer letter task</a></li>
          <li><a href="sprint5-Q1-25/task-list/request-improvement-grant-offer-letter">Request improvement grant offer letter task</a></li>
        </ul>
      </p>

      <p>
        Useful shortcuts:
        <ul>
          <li><a href="sprint5-Q1-25/project-list-school-added">Project list page - school added</a></li>
          <li><a href="sprint5-Q1-25/task-list-all-unlocked">Task list - all tasks unlocked</a></li>
          <li><a href="sprint5-Q1-25/task-list-locked">Task list - all tasks locked</a></li>
          <li><a href="sprint5-Q1-25/task-list-old-headings">Task list - old headings</a></li>
          
        </ul>
      </p>


      <h2 class="govuk-heading-m">
        Sprint 4 - Q1 - 25 (21 May 25 - 3 June 25)
        <span class ="govuk-heading-s"></span> 
      </h2>

      <p>
        New pages / journeys designed in this sprint:
        <!--
        <ul>
          <li><a href="sprint4-Q1-25/task-list-all-unlocked">Task list - all tasks unlocked</a></li>
          <li><a href="sprint4-Q1-25/task-list-locked">Task list - all tasks locked</a></li>
        </ul>
        -->
      </p>

      <p>
        Pages / journeys redesigned in this sprint:
        <ul>
          <li><a href="sprint4-Q1-25/task-list-locked">Task list - locked</a></li>
          <li><a href="sprint4-Q1-25/task-list-unlocked">Task list - unlocked</a></li>
          <li><a href="sprint4-Q1-25/task-list">Task list - conditional dependencies added</a></li>
        </ul>
      </p>

      <p>
        Useful shortcuts:
        <ul>
          <li><a href="sprint4-Q1-25/project-list-school-added">Project list page - school added</a></li>
          <li><a href="sprint4-Q1-25/task-list-all-unlocked">Task list - all tasks unlocked</a></li>
          <li><a href="sprint4-Q1-25/task-list-locked">Task list - all tasks locked</a></li>
          <li><a href="sprint4-Q1-25/task-list-old-headings">Task list - old headings</a></li>
          
        </ul>
      </p>




      <h2 class="govuk-heading-m">
        Sprint 3 - Q1 - 25 (7 May 25 - 20 May 25)
        <span class ="govuk-heading-s"></span> 
      </h2>

      <p>
        New pages / journeys designed in this sprint:
        <ul>
          <li><a href="sprint3-Q1-25/task-list-not-assigned">Task list - not assigned version</a></li>
        </ul>
      </p>

      <p>
        Pages / journeys redesigned in this sprint:
        <!--
        <ul>
          <li><a href="sprint2-Q1-25/task-list/review-improvement-plan">Review improvement plan task</a></li>
          <li><a href="sprint2-Q1-25/task-list/request-improvement-grant-offer-letter">Request improvement grant offer letter task</a></li>
        </ul>
      -->
      </p>

      <p>
        Useful shortcuts:
        <ul>
          <li><a href="sprint3-Q1-25/project-list-school-added">Project list page - school added</a></li>
        </ul>
      </p>

      <h2 class="govuk-heading-m">
        Sprint 2 - Q1 - 25 (23 Apr 25 - 6 May 25)
        <span class ="govuk-heading-s"></span> 
      </h2>

      <p>
        New pages / journeys designed in this sprint:
        <ul>
          <li><a href="sprint2-Q1-25/task-list/review-improvement-plan-validation">Review improvement plan task validation</a></li>
          <li><a href="sprint2-Q1-25/task-list/request-improvement-grant-offer-letter-validation">Request improvement grant offer letter task validation</a></li>
        </ul>
      </p>

      <p>
        Pages / journeys redesigned in this sprint:
        <ul>
          <li><a href="sprint2-Q1-25/task-list/review-improvement-plan">Review improvement plan task</a></li>
          <li><a href="sprint2-Q1-25/task-list/request-improvement-grant-offer-letter">Request improvement grant offer letter task</a></li>
        </ul>
      </p>

      <p>
        Useful shortcuts:
        <ul>
          <li><a href="sprint2-Q1-25/project-list-school-added">Project list page - school added</a></li>
        </ul>
      </p>

      <h2 class="govuk-heading-m">
        Sprint 1 - Q1 - 25 (9 Apr 25 - 22 Apr 25)
        <span class ="govuk-heading-s"></span> 
      </h2>

      <p>
        New pages / journeys designed in this sprint:
        <ul>
          <li><a href="sprint1-Q1-25/case-study">Case study tab</a></li>
          <li><a href="sprint1-Q1-25/flag-as-case-study">Case study page</a></li>
          <li><a href="sprint1-Q1-25/flag-as-case-study-validation">Case study page validation</a></li>
          <li><a href="sprint1-Q1-25/task-list/request-planning-grant-offer-letter-validation">Request planning grant offer letter task validation</a></li>
        </ul>
      </p>

      <p>
        Pages / journeys redesigned in this sprint:
        <ul>
          <li><a href="sprint1-Q1-25/record-engagement-concern">Record engagement concern (tab version)</a></li>
          <li><a href="sprint1-Q1-25/task-list/request-planning-grant-offer-letter">Request planning grant offer letter task</a></li>
        </ul>
      </p>

      <p>
        Useful shortcuts:
        <ul>
          <li><a href="sprint1-Q1-25/project-list-school-added">Project list page - school added</a></li>
          <li><a href="sprint1-Q1-25/engagement-history">Engagement (summary section version, with timeline)</a></li>
        </ul>
      </p>


      <h2 class="govuk-heading-m">
        Sprint 7 - Q4 (26 Mar 25 - 8 Apr 25)
        <span class ="govuk-heading-s"></span> 
      </h2>

      <p>
        New pages / journeys designed in this sprint:
        <ul>
          <li><a href="sprint7-Q4/assign/assign-project">Assign delivery officer journey</a></li>
          <li><a href="sprint7-Q4/task-list/allocate-an-adviser">Allocate an adviser journey/task</a></li>
          <li><a href="sprint7-Q4/task-list/contact-responsible-body">Contact the responsible body task</a></li>
          <li><a href="sprint7-Q4/task-list/record-schools-response">Record the school's response task</a></li>
          <li><a href="sprint7-Q4/task-list/conflicts-of-interest">Check potential adviser conflicts of interest task</a></li>
          <li><a href="sprint7-Q4/task-list/send-introductory-email">Send introductory email task</a></li>
          <li><a href="sprint7-Q4/task-list/arrange-adviser-visit">Arrange adviser visit to school task</a></li>
          <li><a href="sprint7-Q4/task-list/record-date-of-visit">Record date of visit to school task</a></li>
          <li><a href="sprint7-Q4/task-list/save-note-of-visit">Write and save the Note of Visit task</a></li>
          <li><a href="sprint7-Q4/task-list/save-assessment-template">Complete and save the assessment template task</a></li>
          <li><a href="sprint7-Q4/task-list/record-matching-decision">Record matching decision task</a></li>
          <li><a href="sprint7-Q4/task-list/choose-preferred-supporting-organisation">Choose preferred supporting organisation task</a></li>
          <li><a href="sprint7-Q4/task-list/carry-out-due-diligence">Carry out due diligence on preferred supporting organisation task</a></li>
          <li><a href="sprint7-Q4/task-list/record-supporting-org-appointment">Record supporting organisation appointment task</a></li>
          <li><a href="sprint7-Q4/task-list/add-so-contact-details">Add supporting organisation contact details task</a></li>
          <li><a href="sprint7-Q4/task-list/request-planning-grant-offer-letter">Request planning grant offer letter task</a></li>
          <li><a href="sprint7-Q4/task-list/planning-grant-offer-letter-sent">Confirm planning grant offer letter sent task</a></li>
          <li><a href="sprint7-Q4/task-list/share-improvement-plan-template">Share the improvement plan template task</a></li>
          <li><a href="sprint7-Q4/task-list/review-improvement-plan">Review the improvement plan task</a></li>
          <li><a href="sprint7-Q4/task-list/send-plan-for-approval">Send the agreed improvement plan for approval task</a></li>
          <li><a href="sprint7-Q4/task-list/record-improvement-plan-decision">Record improvement plan decision task</a></li>
          <li><a href="sprint7-Q4/task-list/request-improvement-grant-offer-letter">Request improvement grant offer letter task</a></li>
          <li><a href="sprint7-Q4/task-list/improvement-grant-offer-letter-sent">Confirm improvement grant offer letter sent task</a></li>
        </ul>
        
      </p>

      <p>
        Pages / journeys redesigned in this sprint:
        <ul>
          <li><a href="sprint7-Q4/task-list/contact-responsible-body">Contact the responsible body task</a></li>
        </ul>
      </p>

      <p>
        Useful shortcuts:
        <ul>
          <li><a href="sprint7-Q4/project-list-school-added">Project list page - school added</a></li>
        </ul>
      </p>



      <h2 class="govuk-heading-m">
        Sprint 6 - Q4 (12 Mar 25 - 25 Mar 25)
        <span class ="govuk-heading-s"></span> 
      </h2>

      <p>
        New pages / journeys designed in this sprint:
        <ul>
          <li><a href="sprint6-Q4/task-list-engagement">Engagement (summary section version, with timeline)</a></li>
          <li><a href="sprint6-Q4/task-list">Confirm eligibility task added</a></li>
          <li><a href="sprint6-Q4/task-list">Enter funding history task added</a></li>
          <li><a href="sprint6-Q4/funding">Funding tab added</a></li>
        </ul>
        
      </p>

      <p>
        Pages / journeys redesigned in this sprint:
        <ul>
          <li><a href="sprint6-Q4/task-list/contact-responsible-body">Contact the responsible body task</a></li>
          <li><a href="sprint6-Q4/project-list">Add a school - no eligibility check</a></li>
        </ul>
      </p>

      <p>
        Useful shortcuts:
        <ul>
          <li><a href="sprint6-Q4/project-list-school-added">Project list page - school added</a></li>
          <li><a href="sprint6-Q4/project-list-eligibility-check-v1">Add a school with eligibility check - v1</a> (Conditional routing)</li>
          <li><a href="sprint6-Q4/project-list-eligibility-check-v2">Add a school with eligibility check - v2</a> (Add school at end)</li>
          <li><a href="sprint6-Q4/project-list-eligibility-check-v3">Add a school with eligibility check - v3</a> (Add school, then questions)</li>
        </ul>
      </p>

      <h2 class="govuk-heading-m">
        Sprint 5 - Q4 (26 Feb 25 - 11 Mar 25)
        <span class ="govuk-heading-s"></span> 
      </h2>

      <p>
        New pages / journeys designed in this sprint:
        <ul>
          <li><a href="sprint5-Q4/project-notes.html">Project notes added</a> (Includes task notes)</li>
          <li><a href="sprint5-Q4/contacts.html">Contacts added</a></li>
        </ul>
        
      </p>

      <p>
        Pages redesigned in this sprint:
        <ul>
          <li><a href="sprint5-Q4/project-list.html">Add a school journey</a></li>
          <li><a href="sprint5-Q4/task-list.html">Task list final</a></li>
          <li><a href="sprint5-Q4/task-list-original.html">Task list original</a></li>
          <li><a href="sprint5-Q4/task-list-no-tags.html">Task list without tags</a></li>
          <li><a href="sprint5-Q4/task-list-summary-list-a.html">Task list with summary list A</a></li>
          <li><a href="sprint5-Q4/task-list-summary-list-b.html">Task list with summary list B</a></li>
          <li><a href="sprint5-Q4/task-list-summary-list-no-border.html">Task list with summary list - no borders</a></li>
          <li><a href="sprint5-Q4/task-list-summary-card-a.html">Task list with summary card A</a></li>
          <li><a href="sprint5-Q4/task-list-summary-card-b.html">Task list with summary card B</a></li>
          <li><a href="sprint5-Q4/start-new-project/check-school-details.html">Check school details page</a></li>
        </ul>
      </p>

      <p>
        Useful shortcuts:
        <ul>
          <li><a href="sprint5-Q4/project-list-school-added.html">Project list page - school added</a></li>
          <li><a href="sprint5-Q4/task-list.html">Task list</a></li>
        </ul>
      </p>

      <h2 class="govuk-heading-m">
        Sprint 4 - Q4 (12 Feb 25 - 25 Feb 25)
        <span class ="govuk-heading-s"></span> 
      </h2>
      

      <p>
        New pages / journeys designed in this sprint:
        <ul>
          <li><a href="sprint4-Q4/project-list.html">Project list page</a></li>
          <li><a href="sprint4-Q4/task-list.html">Task list page</a></li>
          <li><a href="sprint4-Q4/about-the-school.html">About the school page</a></li>
          <li><a href="sprint4-Q4/project-notes.html">Project notes page</a></li>
          <li><a href="sprint4-Q4/project-list.html">Add a new school journey</a></li>
        </ul>
        
      </p>

      <!--
      <p>
        Pages redesigned in this sprint:
      </p>
      -->
      <p>
        Useful shortcuts:
        <ul>
          <li><a href="sprint4-Q4/project-list-school-added.html">Project list page - school added</a></li>
        </ul>
      </p>

     
      
    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://github.com/DFE-Digital/manage-school-improvement-prototype" target="_blank">
                GitHub repo
              </a>
            </li>
            <li>
              <a href="https://dashboard.heroku.com/apps/manage-school-improvement" target="_blank">
                Heroku app
              </a>
            </li>
            <li>
              <a href="#">
                Design history tbc
              </a>
            </li>
          </ul>
        </nav>

        <br>
        <h2 class="govuk-heading-s" id="subsection-title">
          Environments
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://manage-school-improvement-fee1e27ea699.herokuapp.com" target="_blank">
                Heroku app prototype
              </a>
            </li> 
            <li>
              <a href="/index-cursor" target="_blank">
                Cursor AI playground
              </a>
            </li>
            <li>
              <a href="https://dev.manage-school-improvement.education.gov.uk/" target="_blank">
                Dev environment
              </a>
            </li>
            <li>
              <a href="https://test.manage-school-improvement.education.gov.uk/" target="_blank">
                Test environment
              </a>
            </li>
           
            <li>
              <a href="https://www.manage-school-improvement.education.gov.uk/" target="_blank">
                Production environment
              </a>
            </li>
           
          </ul>
        </nav>

        <br>
        <h2 class="govuk-heading-s" id="subsection-title">
          Prototype admin
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="../manage-prototype" target="_blank">
                Manage prototype here
              </a>
            </li>
            <li>
              <a href="../manage-prototype/clear-data" target="_blank">
                Clear data
              </a>
            </li>
          </ul>
        </nav>


      </aside>

    </div>
  </div>

{% endblock %}

{% block footer %}
{% include "/layouts/rsd-footer.html" %}
{% endblock %}






