{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}





{% block header %}
{% include "/layouts/dfe-header-start.html" %}
{% endblock %}



{% block beforeContent %}
{% endblock %}

{% block content %}




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        MSI Cursor AI playground
      </h1>

      

      <p>This is where the RSD Manage school improvement service prototype lives.</p>

     

     
      
     
      <a href="sprint4-Q1-25/project-list.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start prototype
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>

      <h2 class="govuk-heading-m">
        Sprint 4 - Q1 - 25 (21 May 25 - 3 June 25)
        <span class ="govuk-heading-s"></span> 
      </h2>

      <p>
        New pages / journeys designed in this sprint:
        <!--
        <ul>
          <li><a href="sprint4-Q1-25/task-list-all-unlocked">Task list - all tasks unlocked</a></li>
          <li><a href="sprint4-Q1-25/task-list-locked">Task list - all tasks locked</a></li>
        </ul>
        -->
      </p>

      <p>
        Pages / journeys redesigned in this sprint:
        <ul>
          <li><a href="cursor-playground/task-list-locked">Task list - locked</a></li>
          <li><a href="cursor-playground/task-list-unlocked">Task list - unlocked</a></li>
          <li><a href="cursor-playground/task-list">Task list - conditional dependencies added</a></li>
        </ul>
      </p>

      <p>
        Useful shortcuts:
        <ul>
          <li><a href="cursor-playground/project-list-school-added">Project list page - school added</a></li>
          <li><a href="cursor-playground/task-list-all-unlocked">Task list - all tasks unlocked</a></li>
          <li><a href="cursor-playground/task-list-locked">Task list - all tasks locked</a></li>
          <li><a href="cursor-playground/task-list-old-headings">Task list - old headings</a></li>
          
        </ul>
      </p>


    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://github.com/DFE-Digital/manage-school-improvement-prototype" target="_blank">
                GitHub repo
              </a>
            </li>
            <li>
              <a href="https://dashboard.heroku.com/apps/manage-school-improvement" target="_blank">
                Heroku app
              </a>
            </li>
            <li>
              <a href="#">
                Design history tbc
              </a>
            </li>
          </ul>
        </nav>

        <br>
        <h2 class="govuk-heading-s" id="subsection-title">
          Environments
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
             <li>
              <a href="/index-cursor" target="_blank">
                Cursor AI playground
              </a>
            </li>
            <li>
              <a href="https://dev.manage-school-improvement.education.gov.uk/" target="_blank">
                Dev environment
              </a>
            </li>
            <li>
              <a href="https://test.manage-school-improvement.education.gov.uk/" target="_blank">
                Test environment
              </a>
            </li>
           
            <li>
              <a href="https://www.manage-school-improvement.education.gov.uk/" target="_blank">
                Production environment
              </a>
            </li>
           
          </ul>
        </nav>

        <br>
        <h2 class="govuk-heading-s" id="subsection-title">
          Prototype admin
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="../manage-prototype" target="_blank">
                Manage prototype here
              </a>
            </li>
            <li>
              <a href="../manage-prototype/clear-data" target="_blank">
                Clear data
              </a>
            </li>
          </ul>
        </nav>


      </aside>

    </div>
  </div>

{% endblock %}

{% block footer %}
{% include "/layouts/rsd-footer.html" %}
{% endblock %}






