{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}


{% block header %}

  {{ govukHeader() }}

  {{ govukServiceNavigation({
    serviceName: serviceName,
    serviceUrl: "http://www.google.com"
  }) }}

{% endblock %}


{% block stylesheets %}
  {{ super() }}
  <link href="/public/stylesheets/moj.css" rel="stylesheet" type="text/css" />
  <link href="/public/css/govuk-frontend.min.css" rel="stylesheet" type="text/css" />
  <link href="/public/css/moj-frontend.min.css" rel="stylesheet" type="text/css" />
  <link href="/public/css/custom-styles.css" rel="stylesheet" type="text/css" />
  <link href="/public/css/accessible-autocomplete.min.css" rel="stylesheet" type="text/css" />
{% endblock %}





{# LAST BIT OF CODE - FOR DFE FRONTEND JS

{% block scripts %}
  {{ super() }}
  <script src="/assets/js/dfefrontend.min.js"></script>
{% endblock %}

#}