<button class="dwp-side-navigation__button" data-module="dwp-side-navigation"
  data-target="dwp-side-navigation-panel"
  data-label-hide="Hide navigation"
  data-label-show="Show navigation"
  aria-expanded="false">
  <span class="dwp-side-navigation__section-toggle-focus">
    <span class="dwp-side-navigation__chevron dwp-side-navigation__chevron--down"></span>
    <span class="dwp-side-navigation__section-toggle-text">Show navigation</span>
  </span>
</button>
<nav data-module="dwp-side-navigation-panel" class="dwp-side-navigation dwp-side-navigation--mobile red-bg margin-left-16" aria-label="Side" role="navigation">

  <ul class="dwp-side-navigation__list ">
    
    <li class="dwp-side-navigation__item dwp-side-navigation__item--selected">
      <a id="s-item-1" href="task-list-vertical-nav" class="dwp-side-navigation__link" aria-current="true">
        Task list
      </a>
    </li>
    <li class="dwp-side-navigation__item">
      <a id="s-item-2" href="about-the-school-vertical-nav" class="dwp-side-navigation__link">
        About the school
      </a>
    </li>
    <li class="dwp-side-navigation__item">
      <a id="s-item-3" href="ofsted-reports-vertical-nav" class="dwp-side-navigation__link">
        Ofsted reports
      </a>
    </li>
    <li class="dwp-side-navigation__item">
      <a id="s-item-4" href="improvement-plan-vertical-nav" class="dwp-side-navigation__link">
        Improvement plan
      </a>
    </li>
    <li class="dwp-side-navigation__item">
      <a id="s-item-5" href="contacts-new-schools-1a" class="dwp-side-navigation__link">
        Contacts
      </a>
    </li>
    <li class="dwp-side-navigation__item">
        <a id="s-item-6" href="case-study-vertical-nav" class="dwp-side-navigation__link">
          Case study
        </a>
    </li>
    <li class="dwp-side-navigation__item">
        <a id="s-item-7" href="engagement-concerns-vertical-nav" class="dwp-side-navigation__link">
          Engagement concerns
        </a>
    </li>
    <li class="dwp-side-navigation__item">
        <a id="s-item-8" href="notes-vertical-nav" class="dwp-side-navigation__link">
          Notes
        </a>
    </li>
    <li class="dwp-side-navigation__item">
        <a id="s-item-9" href="project-status-vertical-nav" class="dwp-side-navigation__link">
          Project status
        </a>
    </li>
  </ul>
</nav>