<span class="govuk-caption-l">URN 100006</span>
<h1 class="govuk-heading-l">Cheltenham Spa Primary School</h1>

<p class="govuk-body govuk-margin-bottom-1">
  <b>Date added:</b>
  13 February 2025
</p>
<p class="govuk-body govuk-margin-bottom-1">
  <b>Date of last OFSTED inspection:</b>
 UNKNOWN
</p>
<p class="govuk-body govuk-margin-bottom-1">
  <b>Quality of education:</b>
  Requires improvement
</p>
<p class="govuk-body govuk-margin-bottom-1">
  <b>Behaviour and attitudes:</b>
  Outstanding
</p>
<p class="govuk-body govuk-margin-bottom-1">
  <b>Personal development:</b>
  Good
</p>
<p class="govuk-body govuk-margin-bottom-1">
  <b>Leadership and management:</b>
  Inadequate
</p>
<p class="govuk-body govuk-margin-bottom-1">
  <b>Assigned to:</b>
  <span data-id="assigned-user" <!--class="empty"-->Bob Roberts</span>
  <a class="govuk-link govuk-!-padding-left-50" href="/change-assigned-to/">Change</a>
</p>
<p class="govuk-body govuk-margin-bottom-1">
  <b>Advised by:</b>
  EMPTY
  <a class="govuk-link govuk-!-padding-left-50" href="/change-advised-by/">Change</a>
</p>