<span class="govuk-caption-xl">URN 100006</span>
<h1 class="govuk-heading-xl">Cheltenham Spa Primary School</h1>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Current status
    </dt>
    <dd class="govuk-summary-list__value">
      <strong class="govuk-tag govuk-tag--green">
        In progress
      </strong>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Date added to MSI
    </dt>
    <dd class="govuk-summary-list__value">
      28 February 2025
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#"></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Date of last Ofsted inspection
    </dt>
    <dd class="govuk-summary-list__value">
      15 November 2024
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#"></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Quality of education
    </dt>
    <dd class="govuk-summary-list__value">
      <strong class="govuk-tag govuk-tag--yellow" id="">Requires improvement</strong>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#"></a>
    </dd>
  </div>
  <!--
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Behaviour and attitudes
    </dt>
    <dd class="govuk-summary-list__value">
      <strong class="govuk-tag govuk-tag--green" id="">Outstanding</strong>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#"></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Personal development
    </dt>
    <dd class="govuk-summary-list__value">
      <strong class="govuk-tag govuk-tag--green" id="">Good</strong>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#"></a>
    </dd>
  </div>
  -->
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Leadership and management
    </dt>
    <dd class="govuk-summary-list__value">
      <strong class="govuk-tag govuk-tag--orange" id="">Inadequate</strong>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#"></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Assigned to
    </dt>
    <dd class="govuk-summary-list__value">
      {% if (data['assigned-to'] != NULL) %}
      {{ data['assigned-to']}}
      {% else %}
      <span data-id="assigned-user" class="empty">Empty</span>
      {% endif %}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="./assign/assign-project">Change<span class="govuk-visually-hidden"> assign project</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Advised by
    </dt>
    <dd class="govuk-summary-list__value">
      {% if (data['allocated-adviser-email'] != NULL) %}
      {{ data['allocated-adviser-email']}}
      {% else %}
      <span data-id="allocated-adviser" class="empty">Empty</span>
      {% endif %}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="./task-list/allocate-an-adviser">Change<span class="govuk-visually-hidden"> allocated an adviser</span></a>
    </dd>
  </div>

  <!--
  {% if (data['engagement-concern'] == 'Yes') %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Engagement concern
    </dt>
    <dd class="govuk-summary-list__value">
    Yes
    </dd>
    <dd class="govuk-summary-list__actions">
     <a class="govuk-link" href="./add-engagement-note">Update<span class="govuk-visually-hidden"> level of engagement</span></a>
     
      <a class="govuk-link" href="./record-engagement-concern">Change<span class="govuk-visually-hidden"> engagement concern</span></a>
      
    </dd>
  </div>
  {% endif %}
    -->


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Engagement concern
    </dt>
    <dd class="govuk-summary-list__value">

      {% if (data['engagement-concern'] == 'Yes') %}
      Yes
      {% else %}
      No
      {% endif %}
    </dd>
    <dd class="govuk-summary-list__actions">
     <!--<a class="govuk-link" href="./add-engagement-note">Update<span class="govuk-visually-hidden"> level of engagement</span></a>-->
     
      <a class="govuk-link" href="./record-engagement-concern">Change<span class="govuk-visually-hidden"> engagement concern</span></a>
      
    </dd>
  </div>


</dl>

<!--
{{ govukButton({
  text: "Delete school",
  classes: "govuk-button--warning"
}) }}
-->