<span class="govuk-caption-l">URN 100006</span>
<h1 class="govuk-heading-l">Cheltenham Spa Primary School</h1>


<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Date added 
    </dt>
    <dd class="govuk-summary-list__value">
      28 February 2025
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#"></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Date of last OFSTED inspection
    </dt>
    <dd class="govuk-summary-list__value">
      <span data-id="last-inspection" class="empty">Unknown</span>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#"></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Quality of education
    </dt>
    <dd class="govuk-summary-list__value">
      <strong class="govuk-tag govuk-tag--yellow" id="">Requires improvement</strong>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#"></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Behaviour and attitudes
    </dt>
    <dd class="govuk-summary-list__value">
      <strong class="govuk-tag govuk-tag--green" id="">Outstanding</strong>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#"></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Personal development
    </dt>
    <dd class="govuk-summary-list__value">
      <strong class="govuk-tag govuk-tag--green" id="">Good</strong>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#"></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Leadership and management
    </dt>
    <dd class="govuk-summary-list__value">
      <strong class="govuk-tag govuk-tag--orange" id="">Inadequate</strong>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#"></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Assigned to
    </dt>
    <dd class="govuk-summary-list__value">
     Bob Roberts
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> assigned to</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Advised by
    </dt>
    <dd class="govuk-summary-list__value">
      <span data-id="assigned-user" class="empty">EMPTY</span>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> advised by</span></a>
    </dd>
  </div>
</dl>