{# SET CURRENT STATUS #}
{% set currentStatus = "" %}
{% set assignedToChangeText = "Change" %}
{% set assignedToChangeURL = "./assign/assign-project" %}
{% set adviserChangeText = "Change" %}
{% set adviserChangeURL = "./allocate/allocate-adviser" %}
{% set engagementConcernChangeText = "Change" %}
{% set engagementConcernChangeURL = "./record-engagement-concern" %}

{% if (data['project-status'] == "Paused") %}
  {% set currentStatus = '<strong class="govuk-tag govuk-tag--yellow">Paused</strong>' %}
{% elif (data['project-status'] == "Stopped") %}
  {% set currentStatus = '<strong class="govuk-tag govuk-tag--red">Stopped</strong>' %}
  {% set assignedToChangeText = "" %}
  {% set assignedToChangeURL = "" %}
  {% set adviserChangeText = "" %}
  {% set adviserChangeURL = "" %}
  {% set engagementConcernChangeText = "" %}
  {% set engagementConcernChangeURL = "" %}
{% else %}
  {% set currentStatus = '<strong class="govuk-tag govuk-tag--green">In progress</strong>' %}
{% endif %}

{# SET ASSIGNED TO #}
{% set assignedTo = "" %}
{% if (data['assigned-to'] != NULL) %}
  {% set assignedTo = data['assigned-to'] %}
{% else %}
  {% set assignedTo = '<span data-id="assigned-user" class="empty">Empty</span>' %}
{% endif %}

{# SET ADVISER #}
{% set adviser = "" %}
{% if (data['allocated-adviser'] != NULL) %}
  {% set adviser = data['allocated-adviser'] %}
{% else %}
  {% set adviser = '<span data-id="allocated-adviser" class="empty">Empty</span>' %}
{% endif %}

{# SET ENGAGEMENT CONCERN ANSWER #}
{% set engagementConcern = "" %}
{% if (data['engagement-concern'] == 'Yes') %}
  {% set engagementConcern = "Yes" %}
{% else %}
  {% set engagementConcern = "No" %}
{% endif %}

<span class="govuk-caption-xl">URN 100006</span>
<h1 class="govuk-heading-xl">Cheltenham Spa Primary School</h1>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Current status"
      },
      value: {
        html: currentStatus
      }
    },
    {
      key: {
        text: "Date added to MSI"
      },
      value: {
        text: "28 February 2025"
      }
    },
    {
      key: {
        text: "Date of last Ofsted inspection"
      },
      value: {
        text: "15 November 2024"
      }
    },
    {
      key: {
        text: "Quality of education"
      },
      value: {
        html: "<strong class='govuk-tag govuk-tag--yellow'>Requires improvement</strong>"
      }
    },
    {
      key: {
        text: "Leadership and management"
      },
      value: {
        html: "<strong class='govuk-tag govuk-tag--orange'>Inadequate</strong>"
      }
    },
    {
      key: {
        text: "Assigned to"
      },
      value: {
        html: assignedTo
      },
      actions: {
        items: [
          {
            href: assignedToChangeURL,
            text: assignedToChangeText,
            visuallyHiddenText: "assigned to"
          }
        ]
      }
    },
    {
      key: {
        text: "Advised by"
      },
      value: {
        html: adviser
      },
      actions: {
        items: [
          {
            href: adviserChangeURL,
            text: adviserChangeText,
            visuallyHiddenText: "advised by"
          }
        ]
      }
    },
    {
      key: {
        text: "Engagement concern"
      },
      value: {
        html: engagementConcern
      },
      actions: {
        items: [
          {
            href: engagementConcernChangeURL,
            text: engagementConcernChangeText,
            visuallyHiddenText: "engagement concern"
          }
        ]
      }
    }
  ]
}) }}