{# SET CURRENT STATUS variables #}
{% if (data['project-status'] == "In progress") or (data['project-status'] == NULL) %}
  {% set currentStatus = '<strong class="govuk-tag govuk-tag--green">In progress</strong>' %}
{% elif (data['project-status'] == "Stopped") %}
    {% set currentStatus = '<strong class="govuk-tag govuk-tag--red">Stopped</strong>' %}
{% elif (data['project-status'] == "Paused") %}
    {% set currentStatus = '<strong class="govuk-tag govuk-tag--yellow">Paused</strong>' %}
{% endif %}

{# SET VARIABLES IF PAUSED OR STOPPED #}
{% if (data['project-status'] == "Stopped") or (data['project-status'] == "Paused") %}
  {% set assignedToChangeText = "" %}
  {% set assignedToChangeURL = "" %}
  {% set adviserChangeText = "" %}
  {% set adviserChangeURL = "" %}
  {% set engagementConcernChangeText = "" %}
  {% set engagementConcernChangeURL = "" %}
{% else %}
  {% set engagementConcernChangeText = "Change" %}
  {% set engagementConcernChangeURL = "./record-engagement-concern" %}
{% endif %}

{# SET ASSIGNED TO #}
{% set assignedTo = "" %}
{% if (data['assigned-to'] != NULL) %}
  {% set assignedTo = data['assigned-to'] %}
  {% set assignedToChangeText = "Change" %}
  {% set assignedToChangeURL = "./assign/assign-project" %}
{% else %}
  {% set assignedTo %}
    <a href="./assign/assign-project" class="govuk-link">
      Assign a delivery officer
    </a>
  {% endset %}
  {% set adviserChangeText = "" %}
  {% set adviserChangeURL = "" %}
  {% set engagementConcernChangeText = "" %}
  {% set engagementConcernChangeURL = "" %}
{% endif %}

{# SET ADVISER ONLY IF 3X TASKS COMPLETE #}
{% set adviser = "" %}
{% if (data['allocated-adviser-email'] != NULL) %}
  {% set adviser = data['allocated-adviser-email'] %}
  {% set adviserChangeText = "Change" %}
  {% set adviserChangeURL = "task-list/allocate-an-adviser" %}
{% elif (data['allocated-adviser-email'] == NULL) and (checkAdviserConflictComplete === "Complete") and (sendFormalNotificationComplete === "Complete") and (recordResponsibleBodyReponseComplete === "Complete") %}
  {% set adviser %}
    <a href="task-list/allocate-an-adviser" class="govuk-link">
      Allocate an adviser
    </a>
    {% set adviserChangeText = "" %}
    {% set adviserChangeURL = "" %}
  {% endset %}
{% else %}
  {% set adviser %}
    Cannot allocate an adviser yet
    {% set adviserChangeText = "" %}
    {% set adviserChangeURL = "" %}
  {% endset %}
{% endif %}

{# SET ENGAGEMENT CONCERN ANSWER #}
{% set engagementConcern = "" %}
{% if (data['engagement-concern'] == 'Yes') %}
  {% set engagementConcern = "Yes" %}
{% else %}
  {% set engagementConcern = "No" %}
{% endif %}

<span class="govuk-caption-xl">URN 100006</span>
<h1 class="govuk-heading-xl">Cheltenham Spa Primary School</h1>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Current status"
      },
      value: {
        html: currentStatus
      }
    },
    {
      key: {
        text: "Eligibility"
      },
      value: {
        text: "Eligibility will go here, Alex to fix logic at end"
      }
    },
    {
      key: {
        text: "Date added to MSI"
      },
      value: {
        text: "28 February 2025"
      }
    },
    {
      key: {
        text: "Assigned to"
      },
      value: {
        html: assignedTo
      },
      actions: {
        items: [
          {
            href: assignedToChangeURL,
            text: assignedToChangeText,
            visuallyHiddenText: "assigned to"
          }
        ]
      }
    },
    {
      key: {
        text: "Advised by"
      },
      value: {
        html: adviser
      },
      actions: {
        items: [
          {
            href: adviserChangeURL,
            text: adviserChangeText,
            visuallyHiddenText: "advised by"
          }
        ]
      }
    },
    {
      key: {
        text: "Engagement concern"
      },
      value: {
        html: engagementConcern
      },
      actions: {
        items: [
          {
            href: engagementConcernChangeURL,
            text: engagementConcernChangeText,
            visuallyHiddenText: "engagement concern"
          }
        ]
      }
    }
  ]
}) }}