{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block header %}
  {% include "/layouts/dfe-header.html" %}
{% endblock %}

{% set otherRole %}
  {% from "govuk/components/input/macro.njk" import govukInput %}
  {{ govukInput ({
    id: "otherRoleAnswer",
    name: "otherRoleAnswer",
    type: "text",
    value: data['otherRoleAnswer'],
    spellcheck: false,
    classes: "govuk-!-width-one-third",
    label: {
      text: "Name of role"
    }
  }) }}
{% endset %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Cheltenham Spa Primary School</span>
      <h1 class="govuk-heading-l">
        Add contact
      </h1>

      <form class="form" action='add-contact-details' method="post">
        
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">

            {# <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                School role
              </h2>
            </legend>

            <div id="contact-hint" class="govuk-hint">
              Select one option
            </div> #}

            <div class="govuk-radios" data-module="govuk-radios">

              {{ govukRadios({
                name: "role",
                fieldset: {
                  legend: {
                    text: "Trust role",
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                hint: {
                  text: "Choose one option"
                },
                items: [
                  {
                    value: "Trust CEO",
                    text: "Trust CEO",
                    checked: true if data['role'] == "Trust CEO"
                  },
                  {
                    value: "Accounting officer",
                    text: "Accounting officer",
                    checked: true if data['role'] == "Accounting officer"
                  },
                  {
                    divider: "or"
                  },
                  {
                    value: otherRoleAnswer,
                    text: "Other role",
                    checked: true if data['otherRoleAnswer'] != "",
                    conditional: {
                      html: otherRole
                    }
                  }
                ]
              }) }}

            </div>

          </fieldset>
        </div>

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}

          <a class="govuk-link" href="contacts">Cancel</a>
        </div>
      
      </form>

    </div>
  </div>

{% endblock %}

{% block footer %}
  {% include "/layouts/rsd-footer.html" %}
{% endblock %}
